<div>
<!-- ========= START OF TOP NAVBAR ======= -->
<div class="topNav"><a name="navbar_top">
<!--   -->
</a><a href="#skip-navbar_top" title="Skip navigation links"></a><a name="navbar_top_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../index-all.html">Index</a></li>
<li><a href="../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../nextapp/echo/app/TaskQueueHandle.html" title="interface in nextapp.echo.app"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../nextapp/echo/app/TextField.html" title="class in nextapp.echo.app"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../index.html?nextapp/echo/app/TextArea.html" target="_top">Frames</a></li>
<li><a href="TextArea.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_top">
<li><a href="../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_top");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li><a href="#fields_inherited_from_class_nextapp.echo.app.text.TextComponent">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#methods_inherited_from_class_nextapp.echo.app.text.TextComponent">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li>Method</li>
</ul>
</div>
<a name="skip-navbar_top">
<!--   -->
</a></div>
<!-- ========= END OF TOP NAVBAR ========= -->
<!-- ======== START OF CLASS DATA ======== -->
<div class="header">
<div class="subTitle">nextapp.echo.app</div>
<h2 title="Class TextArea" class="title">Class TextArea</h2>
</div>
<div class="contentContainer">
<ul class="inheritance">
<li>java.lang.Object</li>
<li>
<ul class="inheritance">
<li><a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">nextapp.echo.app.Component</a></li>
<li>
<ul class="inheritance">
<li><a href="../../../nextapp/echo/app/BorderedComponent.html" title="class in nextapp.echo.app">nextapp.echo.app.BorderedComponent</a></li>
<li>
<ul class="inheritance">
<li><a href="../../../nextapp/echo/app/text/TextComponent.html" title="class in nextapp.echo.app.text">nextapp.echo.app.text.TextComponent</a></li>
<li>
<ul class="inheritance">
<li>nextapp.echo.app.TextArea</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<div class="description">
<ul class="blockList">
<li class="blockList">
<dl>
<dt>All Implemented Interfaces:</dt>
<dd>java.io.Serializable, <a href="../../../nextapp/echo/app/RenderIdSupport.html" title="interface in nextapp.echo.app">RenderIdSupport</a></dd>
</dl>
<hr>
<br>
<pre>public class <span class="strong">TextArea</span>
extends <a href="../../../nextapp/echo/app/text/TextComponent.html" title="class in nextapp.echo.app.text">TextComponent</a></pre>
<div class="block">TextArea component: a multiple-line text input field.  May not contain child components.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../serialized-form.html#nextapp.echo.app.TextArea">Serialized Form</a></dd></dl>
</li>
</ul>
</div>
<div class="summary">
<ul class="blockList">
<li class="blockList">
<!-- =========== FIELD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="field_summary">
<!--   -->
</a>
<h3>Field Summary</h3>
<ul class="blockList">
<li class="blockList"><a name="fields_inherited_from_class_nextapp.echo.app.text.TextComponent">
<!--   -->
</a>
<h3>Fields inherited from class&nbsp;nextapp.echo.app.text.<a href="../../../nextapp/echo/app/text/TextComponent.html" title="class in nextapp.echo.app.text">TextComponent</a></h3>
<code><a href="../../../nextapp/echo/app/text/TextComponent.html#ACTION_LISTENERS_CHANGED_PROPERTY">ACTION_LISTENERS_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#DOCUMENT_CHANGED_PROPERTY">DOCUMENT_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#INPUT_ACTION">INPUT_ACTION</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_ACTION_COMMAND">PROPERTY_ACTION_COMMAND</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_ALIGNMENT">PROPERTY_ALIGNMENT</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_BACKGROUND_IMAGE">PROPERTY_BACKGROUND_IMAGE</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_DISABLED_BACKGROUND">PROPERTY_DISABLED_BACKGROUND</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_DISABLED_BACKGROUND_IMAGE">PROPERTY_DISABLED_BACKGROUND_IMAGE</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_DISABLED_BORDER">PROPERTY_DISABLED_BORDER</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_DISABLED_FONT">PROPERTY_DISABLED_FONT</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_DISABLED_FOREGROUND">PROPERTY_DISABLED_FOREGROUND</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_EDITABLE">PROPERTY_EDITABLE</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_HEIGHT">PROPERTY_HEIGHT</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_HORIZONTAL_SCROLL">PROPERTY_HORIZONTAL_SCROLL</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_INSETS">PROPERTY_INSETS</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_MAXIMUM_LENGTH">PROPERTY_MAXIMUM_LENGTH</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_READONLY_BACKGROUND">PROPERTY_READONLY_BACKGROUND</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_READONLY_BACKGROUND_IMAGE">PROPERTY_READONLY_BACKGROUND_IMAGE</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_READONLY_BORDER">PROPERTY_READONLY_BORDER</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_READONLY_FONT">PROPERTY_READONLY_FONT</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_READONLY_FOREGROUND">PROPERTY_READONLY_FOREGROUND</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_TOOL_TIP_TEXT">PROPERTY_TOOL_TIP_TEXT</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_VERTICAL_SCROLL">PROPERTY_VERTICAL_SCROLL</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#PROPERTY_WIDTH">PROPERTY_WIDTH</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#TEXT_CHANGED_PROPERTY">TEXT_CHANGED_PROPERTY</a></code></li>
</ul>
<ul class="blockList">
<li class="blockList"><a name="fields_inherited_from_class_nextapp.echo.app.BorderedComponent">
<!--   -->
</a>
<h3>Fields inherited from class&nbsp;nextapp.echo.app.<a href="../../../nextapp/echo/app/BorderedComponent.html" title="class in nextapp.echo.app">BorderedComponent</a></h3>
<code><a href="../../../nextapp/echo/app/BorderedComponent.html#PROPERTY_BORDER">PROPERTY_BORDER</a>, <a href="../../../nextapp/echo/app/BorderedComponent.html#PROPERTY_BOX_SHADOW">PROPERTY_BOX_SHADOW</a>, <a href="../../../nextapp/echo/app/BorderedComponent.html#PROPERTY_RADIUS">PROPERTY_RADIUS</a></code></li>
</ul>
<ul class="blockList">
<li class="blockList"><a name="fields_inherited_from_class_nextapp.echo.app.Component">
<!--   -->
</a>
<h3>Fields inherited from class&nbsp;nextapp.echo.app.<a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a></h3>
<code><a href="../../../nextapp/echo/app/Component.html#CHILD_VISIBLE_CHANGED_PROPERTY">CHILD_VISIBLE_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#CHILDREN_CHANGED_PROPERTY">CHILDREN_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#ENABLED_CHANGED_PROPERTY">ENABLED_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#FOCUS_NEXT_ID_CHANGED_PROPERTY">FOCUS_NEXT_ID_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#FOCUS_PREVIOUS_ID_CHANGED_PROPERTY">FOCUS_PREVIOUS_ID_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#LAYOUT_DIRECTION_CHANGED_PROPERTY">LAYOUT_DIRECTION_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#LOCALE_CHANGED_PROPERTY">LOCALE_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#PROPERTY_BACKGROUND">PROPERTY_BACKGROUND</a>, <a href="../../../nextapp/echo/app/Component.html#PROPERTY_FONT">PROPERTY_FONT</a>, <a href="../../../nextapp/echo/app/Component.html#PROPERTY_FOREGROUND">PROPERTY_FOREGROUND</a>, <a href="../../../nextapp/echo/app/Component.html#PROPERTY_LAYOUT_DATA">PROPERTY_LAYOUT_DATA</a>, <a href="../../../nextapp/echo/app/Component.html#STYLE_CHANGED_PROPERTY">STYLE_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#STYLE_NAME_CHANGED_PROPERTY">STYLE_NAME_CHANGED_PROPERTY</a>, <a href="../../../nextapp/echo/app/Component.html#VISIBLE_CHANGED_PROPERTY">VISIBLE_CHANGED_PROPERTY</a></code></li>
</ul>
</li>
</ul>
<!-- ======== CONSTRUCTOR SUMMARY ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_summary">
<!--   -->
</a>
<h3>Constructor Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Constructor Summary table, listing constructors, and an explanation">
<caption><span>Constructors</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colOne" scope="col">Constructor and Description</th>
</tr>
<tr class="altColor">
<td class="colOne"><code><strong><a href="../../../nextapp/echo/app/TextArea.html#TextArea()">TextArea</a></strong>()</code>
<div class="block">Creates a new <code>TextArea</code> with an empty 
 <code>StringDocument</code> as its model, and default width and
 height settings.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colOne"><code><strong><a href="../../../nextapp/echo/app/TextArea.html#TextArea(nextapp.echo.app.text.Document)">TextArea</a></strong>(<a href="../../../nextapp/echo/app/text/Document.html" title="interface in nextapp.echo.app.text">Document</a>&nbsp;document)</code>
<div class="block">Creates a new <code>TextArea</code> with the specified
 <code>Document</code> model.</div>
</td>
</tr>
<tr class="altColor">
<td class="colOne"><code><strong><a href="../../../nextapp/echo/app/TextArea.html#TextArea(nextapp.echo.app.text.Document, java.lang.String, int, int)">TextArea</a></strong>(<a href="../../../nextapp/echo/app/text/Document.html" title="interface in nextapp.echo.app.text">Document</a>&nbsp;document,
        java.lang.String&nbsp;text,
        int&nbsp;columns,
        int&nbsp;rows)</code>
<div class="block">Creates a new <code>TextArea</code> with the specified
 <code>Document</code> model, initial text, width 
 and height settings.</div>
</td>
</tr>
</table>
</li>
</ul>
<!-- ========== METHOD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="method_summary">
<!--   -->
</a>
<h3>Method Summary</h3>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_nextapp.echo.app.text.TextComponent">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;nextapp.echo.app.text.<a href="../../../nextapp/echo/app/text/TextComponent.html" title="class in nextapp.echo.app.text">TextComponent</a></h3>
<code><a href="../../../nextapp/echo/app/text/TextComponent.html#addActionListener(nextapp.echo.app.event.ActionListener)">addActionListener</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getActionCommand()">getActionCommand</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getAlignment()">getAlignment</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getBackgroundImage()">getBackgroundImage</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getDisabledBackground()">getDisabledBackground</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getDisabledBackgroundImage()">getDisabledBackgroundImage</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getDisabledBorder()">getDisabledBorder</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getDisabledFont()">getDisabledFont</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getDisabledForeground()">getDisabledForeground</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getDocument()">getDocument</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getHeight()">getHeight</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getHorizontalScroll()">getHorizontalScroll</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getInsets()">getInsets</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getMaximumLength()">getMaximumLength</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getReadOnlyBackground()">getReadOnlyBackground</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getReadOnlyBackgroundImage()">getReadOnlyBackgroundImage</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getReadOnlyBorder()">getReadOnlyBorder</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getReadOnlyFont()">getReadOnlyFont</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getReadOnlyForeground()">getReadOnlyForeground</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getText()">getText</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getToolTipText()">getToolTipText</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getVerticalScroll()">getVerticalScroll</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#getWidth()">getWidth</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#hasActionListeners()">hasActionListeners</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#isEditable()">isEditable</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#isValidChild(nextapp.echo.app.Component)">isValidChild</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#processInput(java.lang.String, java.lang.Object)">processInput</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#removeActionListener(nextapp.echo.app.event.ActionListener)">removeActionListener</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setActionCommand(java.lang.String)">setActionCommand</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setAlignment(nextapp.echo.app.Alignment)">setAlignment</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setBackgroundImage(nextapp.echo.app.FillImage)">setBackgroundImage</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setDisabledBackground(nextapp.echo.app.Color)">setDisabledBackground</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setDisabledBackgroundImage(nextapp.echo.app.FillImage)">setDisabledBackgroundImage</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setDisabledBorder(nextapp.echo.app.Border)">setDisabledBorder</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setDisabledFont(nextapp.echo.app.Font)">setDisabledFont</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setDisabledForeground(nextapp.echo.app.Color)">setDisabledForeground</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setDocument(nextapp.echo.app.text.Document)">setDocument</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setEditable(boolean)">setEditable</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setHeight(nextapp.echo.app.Extent)">setHeight</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setHorizontalScroll(nextapp.echo.app.Extent)">setHorizontalScroll</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setInsets(nextapp.echo.app.Insets)">setInsets</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setMaximumLength(int)">setMaximumLength</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setReadOnlyBackground(nextapp.echo.app.Color)">setReadOnlyBackground</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setReadOnlyBackgroundImage(nextapp.echo.app.FillImage)">setReadOnlyBackgroundImage</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setReadOnlyBorder(nextapp.echo.app.Border)">setReadOnlyBorder</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setReadOnlyFont(nextapp.echo.app.Font)">setReadOnlyFont</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setReadOnlyForeground(nextapp.echo.app.Color)">setReadOnlyForeground</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setText(java.lang.String)">setText</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setToolTipText(java.lang.String)">setToolTipText</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setVerticalScroll(nextapp.echo.app.Extent)">setVerticalScroll</a>, <a href="../../../nextapp/echo/app/text/TextComponent.html#setWidth(nextapp.echo.app.Extent)">setWidth</a></code></li>
</ul>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_nextapp.echo.app.BorderedComponent">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;nextapp.echo.app.<a href="../../../nextapp/echo/app/BorderedComponent.html" title="class in nextapp.echo.app">BorderedComponent</a></h3>
<code><a href="../../../nextapp/echo/app/BorderedComponent.html#getBorder()">getBorder</a>, <a href="../../../nextapp/echo/app/BorderedComponent.html#getBoxShadow()">getBoxShadow</a>, <a href="../../../nextapp/echo/app/BorderedComponent.html#getRadius()">getRadius</a>, <a href="../../../nextapp/echo/app/BorderedComponent.html#setBorder(nextapp.echo.app.Border)">setBorder</a>, <a href="../../../nextapp/echo/app/BorderedComponent.html#setBoxShadow(nextapp.echo.app.BoxShadow)">setBoxShadow</a>, <a href="../../../nextapp/echo/app/BorderedComponent.html#setRadius(nextapp.echo.app.Insets)">setRadius</a></code></li>
</ul>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_nextapp.echo.app.Component">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;nextapp.echo.app.<a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a></h3>
<code><a href="../../../nextapp/echo/app/Component.html#add(nextapp.echo.app.Component)">add</a>, <a href="../../../nextapp/echo/app/Component.html#add(nextapp.echo.app.Component, int)">add</a>, <a href="../../../nextapp/echo/app/Component.html#addPropertyChangeListener(java.beans.PropertyChangeListener)">addPropertyChangeListener</a>, <a href="../../../nextapp/echo/app/Component.html#addPropertyChangeListener(java.lang.String, java.beans.PropertyChangeListener)">addPropertyChangeListener</a>, <a href="../../../nextapp/echo/app/Component.html#dispose()">dispose</a>, <a href="../../../nextapp/echo/app/Component.html#firePropertyChange(java.lang.String, java.lang.Object, java.lang.Object)">firePropertyChange</a>, <a href="../../../nextapp/echo/app/Component.html#get(java.lang.String)">get</a>, <a href="../../../nextapp/echo/app/Component.html#getApplicationInstance()">getApplicationInstance</a>, <a href="../../../nextapp/echo/app/Component.html#getBackground()">getBackground</a>, <a href="../../../nextapp/echo/app/Component.html#getComponent(int)">getComponent</a>, <a href="../../../nextapp/echo/app/Component.html#getComponent(java.lang.String)">getComponent</a>, <a href="../../../nextapp/echo/app/Component.html#getComponentCount()">getComponentCount</a>, <a href="../../../nextapp/echo/app/Component.html#getComponents()">getComponents</a>, <a href="../../../nextapp/echo/app/Component.html#getEventListenerList()">getEventListenerList</a>, <a href="../../../nextapp/echo/app/Component.html#getFocusNextId()">getFocusNextId</a>, <a href="../../../nextapp/echo/app/Component.html#getFocusPreviousId()">getFocusPreviousId</a>, <a href="../../../nextapp/echo/app/Component.html#getFont()">getFont</a>, <a href="../../../nextapp/echo/app/Component.html#getForeground()">getForeground</a>, <a href="../../../nextapp/echo/app/Component.html#getId()">getId</a>, <a href="../../../nextapp/echo/app/Component.html#getIndex(java.lang.String, int)">getIndex</a>, <a href="../../../nextapp/echo/app/Component.html#getLastRenderId()">getLastRenderId</a>, <a href="../../../nextapp/echo/app/Component.html#getLayoutData()">getLayoutData</a>, <a href="../../../nextapp/echo/app/Component.html#getLayoutDirection()">getLayoutDirection</a>, <a href="../../../nextapp/echo/app/Component.html#getLocale()">getLocale</a>, <a href="../../../nextapp/echo/app/Component.html#getLocalStyle()">getLocalStyle</a>, <a href="../../../nextapp/echo/app/Component.html#getParent()">getParent</a>, <a href="../../../nextapp/echo/app/Component.html#getRenderId()">getRenderId</a>, <a href="../../../nextapp/echo/app/Component.html#getRenderIndexedProperty(java.lang.String, int)">getRenderIndexedProperty</a>, <a href="../../../nextapp/echo/app/Component.html#getRenderIndexedProperty(java.lang.String, int, java.lang.Object)">getRenderIndexedProperty</a>, <a href="../../../nextapp/echo/app/Component.html#getRenderLocale()">getRenderLocale</a>, <a href="../../../nextapp/echo/app/Component.html#getRenderProperty(java.lang.String)">getRenderProperty</a>, <a href="../../../nextapp/echo/app/Component.html#getRenderProperty(java.lang.String, java.lang.Object)">getRenderProperty</a>, <a href="../../../nextapp/echo/app/Component.html#getStyle()">getStyle</a>, <a href="../../../nextapp/echo/app/Component.html#getStyleName()">getStyleName</a>, <a href="../../../nextapp/echo/app/Component.html#getVisibleComponent(int)">getVisibleComponent</a>, <a href="../../../nextapp/echo/app/Component.html#getVisibleComponentCount()">getVisibleComponentCount</a>, <a href="../../../nextapp/echo/app/Component.html#getVisibleComponents()">getVisibleComponents</a>, <a href="../../../nextapp/echo/app/Component.html#hasEventListenerList()">hasEventListenerList</a>, <a href="../../../nextapp/echo/app/Component.html#indexOf(nextapp.echo.app.Component)">indexOf</a>, <a href="../../../nextapp/echo/app/Component.html#init()">init</a>, <a href="../../../nextapp/echo/app/Component.html#isAncestorOf(nextapp.echo.app.Component)">isAncestorOf</a>, <a href="../../../nextapp/echo/app/Component.html#isEnabled()">isEnabled</a>, <a href="../../../nextapp/echo/app/Component.html#isFocusTraversalParticipant()">isFocusTraversalParticipant</a>, <a href="../../../nextapp/echo/app/Component.html#isRegistered()">isRegistered</a>, <a href="../../../nextapp/echo/app/Component.html#isRenderEnabled()">isRenderEnabled</a>, <a href="../../../nextapp/echo/app/Component.html#isRenderVisible()">isRenderVisible</a>, <a href="../../../nextapp/echo/app/Component.html#isValidParent(nextapp.echo.app.Component)">isValidParent</a>, <a href="../../../nextapp/echo/app/Component.html#isVisible()">isVisible</a>, <a href="../../../nextapp/echo/app/Component.html#remove(nextapp.echo.app.Component)">remove</a>, <a href="../../../nextapp/echo/app/Component.html#remove(int)">remove</a>, <a href="../../../nextapp/echo/app/Component.html#removeAll()">removeAll</a>, <a href="../../../nextapp/echo/app/Component.html#removePropertyChangeListener(java.beans.PropertyChangeListener)">removePropertyChangeListener</a>, <a href="../../../nextapp/echo/app/Component.html#removePropertyChangeListener(java.lang.String, java.beans.PropertyChangeListener)">removePropertyChangeListener</a>, <a href="../../../nextapp/echo/app/Component.html#set(java.lang.String, java.lang.Object)">set</a>, <a href="../../../nextapp/echo/app/Component.html#setBackground(nextapp.echo.app.Color)">setBackground</a>, <a href="../../../nextapp/echo/app/Component.html#setComponents(nextapp.echo.app.Component[])">setComponents</a>, <a href="../../../nextapp/echo/app/Component.html#setEnabled(boolean)">setEnabled</a>, <a href="../../../nextapp/echo/app/Component.html#setFocusNextId(java.lang.String)">setFocusNextId</a>, <a href="../../../nextapp/echo/app/Component.html#setFocusPreviousId(java.lang.String)">setFocusPreviousId</a>, <a href="../../../nextapp/echo/app/Component.html#setFocusTraversalParticipant(boolean)">setFocusTraversalParticipant</a>, <a href="../../../nextapp/echo/app/Component.html#setFont(nextapp.echo.app.Font)">setFont</a>, <a href="../../../nextapp/echo/app/Component.html#setForeground(nextapp.echo.app.Color)">setForeground</a>, <a href="../../../nextapp/echo/app/Component.html#setId(java.lang.String)">setId</a>, <a href="../../../nextapp/echo/app/Component.html#setIndex(java.lang.String, int, java.lang.Object)">setIndex</a>, <a href="../../../nextapp/echo/app/Component.html#setLayoutData(nextapp.echo.app.LayoutData)">setLayoutData</a>, <a href="../../../nextapp/echo/app/Component.html#setLayoutDirection(nextapp.echo.app.LayoutDirection)">setLayoutDirection</a>, <a href="../../../nextapp/echo/app/Component.html#setLocale(java.util.Locale)">setLocale</a>, <a href="../../../nextapp/echo/app/Component.html#setRenderId(java.lang.String)">setRenderId</a>, <a href="../../../nextapp/echo/app/Component.html#setStyle(nextapp.echo.app.Style)">setStyle</a>, <a href="../../../nextapp/echo/app/Component.html#setStyleName(java.lang.String)">setStyleName</a>, <a href="../../../nextapp/echo/app/Component.html#setVisible(boolean)">setVisible</a>, <a href="../../../nextapp/echo/app/Component.html#validate()">validate</a>, <a href="../../../nextapp/echo/app/Component.html#verifyInput(java.lang.String, java.lang.Object)">verifyInput</a>, <a href="../../../nextapp/echo/app/Component.html#visibleIndexOf(nextapp.echo.app.Component)">visibleIndexOf</a></code></li>
</ul>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_java.lang.Object">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;java.lang.Object</h3>
<code>clone, equals, finalize, getClass, hashCode, notify, notifyAll, toString, wait, wait, wait</code></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="details">
<ul class="blockList">
<li class="blockList">
<!-- ========= CONSTRUCTOR DETAIL ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_detail">
<!--   -->
</a>
<h3>Constructor Detail</h3>
<a name="TextArea()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>TextArea</h4>
<pre>public&nbsp;TextArea()</pre>
<div class="block">Creates a new <code>TextArea</code> with an empty 
 <code>StringDocument</code> as its model, and default width and
 height settings.</div>
</li>
</ul>
<a name="TextArea(nextapp.echo.app.text.Document)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>TextArea</h4>
<pre>public&nbsp;TextArea(<a href="../../../nextapp/echo/app/text/Document.html" title="interface in nextapp.echo.app.text">Document</a>&nbsp;document)</pre>
<div class="block">Creates a new <code>TextArea</code> with the specified
 <code>Document</code> model.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>document</code> - the document</dd></dl>
</li>
</ul>
<a name="TextArea(nextapp.echo.app.text.Document, java.lang.String, int, int)">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>TextArea</h4>
<pre>public&nbsp;TextArea(<a href="../../../nextapp/echo/app/text/Document.html" title="interface in nextapp.echo.app.text">Document</a>&nbsp;document,
        java.lang.String&nbsp;text,
        int&nbsp;columns,
        int&nbsp;rows)</pre>
<div class="block">Creates a new <code>TextArea</code> with the specified
 <code>Document</code> model, initial text, width 
 and height settings.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>document</code> - the document</dd><dd><code>text</code> - the initial text (may be null)</dd><dd><code>columns</code> - the number of columns to display</dd><dd><code>rows</code> - the number of rows to display</dd></dl>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>
<!-- ========= END OF CLASS DATA ========= -->
<!-- ======= START OF BOTTOM NAVBAR ====== -->
<div class="bottomNav"><a name="navbar_bottom">
<!--   -->
</a><a href="#skip-navbar_bottom" title="Skip navigation links"></a><a name="navbar_bottom_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../index-all.html">Index</a></li>
<li><a href="../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../nextapp/echo/app/TaskQueueHandle.html" title="interface in nextapp.echo.app"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../nextapp/echo/app/TextField.html" title="class in nextapp.echo.app"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../index.html?nextapp/echo/app/TextArea.html" target="_top">Frames</a></li>
<li><a href="TextArea.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_bottom">
<li><a href="../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_bottom");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li><a href="#fields_inherited_from_class_nextapp.echo.app.text.TextComponent">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#methods_inherited_from_class_nextapp.echo.app.text.TextComponent">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li>Method</li>
</ul>
</div>
<a name="skip-navbar_bottom">
<!--   -->
</a></div>
<!-- ======== END OF BOTTOM NAVBAR ======= -->
</div>
