<% wrap_layout :layout do %>
	<% content_for :assets do %>
	  <%= stylesheet_link_tag 'documentation' %>
	<% end %>

  <% content_for :sidebar do %>
	<div>
		<ul style="margin-top: 15px" class="nav nav-pills nav-stacked">
		  <li class="sidebar-head"><a href="/documentation">Documentation</a></li>
		  <li class="sidebar-section"><a href="/documentation/guides">Developer's Guide</a></li>
		  <li class="sidebar-subsection"><a href="/documentation/guides/server">Server-Side Java Applications</a></li>
		  <li class="sidebar-subsubsection"><a href="/documentation/guides/server/hello">Hello World</a></li>
		  <li class="sidebar-subsubsection"><a href="/documentation/guides/server/fundamentals">Fundamentals</a></li>
		  <li class="sidebar-subsection"><a href="/documentation/guides/client">Client-Side Java Applications</a></li>
		  <li class="sidebar-subsubsection"><a href="/documentation/guides/client/hello">Hello World</a></li>
		</ul>
	</div>
  <% end %>

  <%= yield %>
<% end %>
