<% wrap_layout :layout do %>
  <% content_for :assets do %>
    <%= stylesheet_link_tag 'jsapi' %>
  <% end %>

  <% content_for :sidebar do %>
     <div>
		<ul class="nav nav-pills nav-stacked">
		  <li class="sidebar-head"><a href="/documentation">Documentation</a></li>
		  <li class="sidebar-section"><a href="/documentation/guides">Developer's Guide</a></li>
		  <li class="sidebar-section active"><a href="/documentation/api">API</a></li>
		  <li class="sidebar-subsection"><a href="/documentation/api/java">Java API</a></li>
		  <li class="sidebar-subsection"><a href="/documentation/api/js">JavaScript API</a></li>
		</ul>
	</div>
	<%= partial "documentation/api/js/Navigation.html.erb" %>
	<ul class="nav nav-pills nav-stacked">
		<li class="sidebar-section"><a href="/documentation/articles">Articles</a></li>
	</ul>
  <% end %>

  <%= yield %>
<% end %>
