<% wrap_layout :layout do %>
<small>
    <h3>API</h3>
    <div class="row">
        <div style="overflow:hidden;" class="span3">
            <ul class="nav nav-list">
              <li class="nav-header">
                JavaScript API
              </li>
              <%= partial "api/js/Navigation.html.erb" %>
            </ul>
        </div>
        <div class="span9">
            <%= yield %>
        </div>
    </div>
</small>
<% end %>
