<% wrap_layout :layout do %>
<small>
    <h3>API</h3>
    <div class="row">
        <div style="overflow:hidden;" class="span3">
            <%= partial "api/js/Navigation.html.erb" %>
        </div>
        <div class="span9">
            <%= yield %>
        </div>
    </div>
</small>
<% end %>
