<div>
<!-- ========= START OF TOP NAVBAR ======= -->
<div class="topNav"><a name="navbar_top">
<!--   -->
</a><a href="#skip-navbar_top" title="Skip navigation links"></a><a name="navbar_top_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../../index-all.html">Index</a></li>
<li><a href="../../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../../nextapp/echo/app/button/DefaultToggleButtonModel.html" title="class in nextapp.echo.app.button"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../../index.html?nextapp/echo/app/button/DefaultButtonModel.html" target="_top">Frames</a></li>
<li><a href="DefaultButtonModel.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_top">
<li><a href="../../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_top");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_top">
<!--   -->
</a></div>
<!-- ========= END OF TOP NAVBAR ========= -->
<!-- ======== START OF CLASS DATA ======== -->
<div class="header">
<div class="subTitle">nextapp.echo.app.button</div>
<h2 title="Class DefaultButtonModel" class="title">Class DefaultButtonModel</h2>
</div>
<div class="contentContainer">
<ul class="inheritance">
<li>java.lang.Object</li>
<li>
<ul class="inheritance">
<li>nextapp.echo.app.button.DefaultButtonModel</li>
</ul>
</li>
</ul>
<div class="description">
<ul class="blockList">
<li class="blockList">
<dl>
<dt>All Implemented Interfaces:</dt>
<dd>java.io.Serializable, <a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button">ButtonModel</a></dd>
</dl>
<dl>
<dt>Direct Known Subclasses:</dt>
<dd><a href="../../../../nextapp/echo/app/button/DefaultToggleButtonModel.html" title="class in nextapp.echo.app.button">DefaultToggleButtonModel</a></dd>
</dl>
<hr>
<br>
<pre>public class <span class="strong">DefaultButtonModel</span>
extends java.lang.Object
implements <a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button">ButtonModel</a></pre>
<div class="block">Default <code>ButtonModel</code> implementation.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../serialized-form.html#nextapp.echo.app.button.DefaultButtonModel">Serialized Form</a></dd></dl>
</li>
</ul>
</div>
<div class="summary">
<ul class="blockList">
<li class="blockList">
<!-- ======== CONSTRUCTOR SUMMARY ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_summary">
<!--   -->
</a>
<h3>Constructor Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Constructor Summary table, listing constructors, and an explanation">
<caption><span>Constructors</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colOne" scope="col">Constructor and Description</th>
</tr>
<tr class="altColor">
<td class="colOne"><code><strong><a href="../../../../nextapp/echo/app/button/DefaultButtonModel.html#DefaultButtonModel()">DefaultButtonModel</a></strong>()</code>&nbsp;</td>
</tr>
</table>
</li>
</ul>
<!-- ========== METHOD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="method_summary">
<!--   -->
</a>
<h3>Method Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Method Summary table, listing methods, and an explanation">
<caption><span>Methods</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Method and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/button/DefaultButtonModel.html#addActionListener(nextapp.echo.app.event.ActionListener)">addActionListener</a></strong>(<a href="../../../../nextapp/echo/app/event/ActionListener.html" title="interface in nextapp.echo.app.event">ActionListener</a>&nbsp;l)</code>
<div class="block">Adds an <code>ActionListener</code> to receive notification of user 
 actions, i.e., button presses.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/button/DefaultButtonModel.html#doAction()">doAction</a></strong>()</code>
<div class="block">Notifies the model of the button's action having been invoked.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/button/DefaultButtonModel.html#fireActionPerformed(nextapp.echo.app.event.ActionEvent)">fireActionPerformed</a></strong>(<a href="../../../../nextapp/echo/app/event/ActionEvent.html" title="class in nextapp.echo.app.event">ActionEvent</a>&nbsp;e)</code>
<div class="block">Notifies registered <code>ActionListener</code>s of an 
 <code>ActionEvent</code>.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/button/DefaultButtonModel.html#getActionCommand()">getActionCommand</a></strong>()</code>
<div class="block">Returns the action command.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>protected <a href="../../../../nextapp/echo/app/event/EventListenerList.html" title="class in nextapp.echo.app.event">EventListenerList</a></code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/button/DefaultButtonModel.html#getEventListenerList()">getEventListenerList</a></strong>()</code>
<div class="block">Returns the local <code>EventListenerList</code>.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/button/DefaultButtonModel.html#removeActionListener(nextapp.echo.app.event.ActionListener)">removeActionListener</a></strong>(<a href="../../../../nextapp/echo/app/event/ActionListener.html" title="interface in nextapp.echo.app.event">ActionListener</a>&nbsp;l)</code>
<div class="block">Removes an <code>ActionListener</code> from being notified of user 
 actions, i.e., button presses.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/button/DefaultButtonModel.html#setActionCommand(java.lang.String)">setActionCommand</a></strong>(java.lang.String&nbsp;actionCommand)</code>
<div class="block">Sets the action command.</div>
</td>
</tr>
</table>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_java.lang.Object">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;java.lang.Object</h3>
<code>clone, equals, finalize, getClass, hashCode, notify, notifyAll, toString, wait, wait, wait</code></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="details">
<ul class="blockList">
<li class="blockList">
<!-- ========= CONSTRUCTOR DETAIL ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_detail">
<!--   -->
</a>
<h3>Constructor Detail</h3>
<a name="DefaultButtonModel()">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>DefaultButtonModel</h4>
<pre>public&nbsp;DefaultButtonModel()</pre>
</li>
</ul>
</li>
</ul>
<!-- ============ METHOD DETAIL ========== -->
<ul class="blockList">
<li class="blockList"><a name="method_detail">
<!--   -->
</a>
<h3>Method Detail</h3>
<a name="addActionListener(nextapp.echo.app.event.ActionListener)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addActionListener</h4>
<pre>public&nbsp;void&nbsp;addActionListener(<a href="../../../../nextapp/echo/app/event/ActionListener.html" title="interface in nextapp.echo.app.event">ActionListener</a>&nbsp;l)</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#addActionListener(nextapp.echo.app.event.ActionListener)">ButtonModel</a></code></strong></div>
<div class="block">Adds an <code>ActionListener</code> to receive notification of user 
 actions, i.e., button presses.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#addActionListener(nextapp.echo.app.event.ActionListener)">addActionListener</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button">ButtonModel</a></code></dd>
<dt><span class="strong">Parameters:</span></dt><dd><code>l</code> - the listener to add</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/button/ButtonModel.html#addActionListener(nextapp.echo.app.event.ActionListener)"><code>ButtonModel.addActionListener(nextapp.echo.app.event.ActionListener)</code></a></dd></dl>
</li>
</ul>
<a name="doAction()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>doAction</h4>
<pre>public&nbsp;void&nbsp;doAction()</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#doAction()">ButtonModel</a></code></strong></div>
<div class="block">Notifies the model of the button's action having been invoked.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#doAction()">doAction</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button">ButtonModel</a></code></dd>
<dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/button/ButtonModel.html#doAction()"><code>ButtonModel.doAction()</code></a></dd></dl>
</li>
</ul>
<a name="fireActionPerformed(nextapp.echo.app.event.ActionEvent)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>fireActionPerformed</h4>
<pre>public&nbsp;void&nbsp;fireActionPerformed(<a href="../../../../nextapp/echo/app/event/ActionEvent.html" title="class in nextapp.echo.app.event">ActionEvent</a>&nbsp;e)</pre>
<div class="block">Notifies registered <code>ActionListener</code>s of an 
 <code>ActionEvent</code>.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>e</code> - The <code>ActionEvent</code> to send.</dd></dl>
</li>
</ul>
<a name="getActionCommand()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getActionCommand</h4>
<pre>public&nbsp;java.lang.String&nbsp;getActionCommand()</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#getActionCommand()">ButtonModel</a></code></strong></div>
<div class="block">Returns the action command.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#getActionCommand()">getActionCommand</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button">ButtonModel</a></code></dd>
<dt><span class="strong">Returns:</span></dt><dd>the action command</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/button/ButtonModel.html#getActionCommand()"><code>ButtonModel.getActionCommand()</code></a></dd></dl>
</li>
</ul>
<a name="getEventListenerList()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getEventListenerList</h4>
<pre>protected&nbsp;<a href="../../../../nextapp/echo/app/event/EventListenerList.html" title="class in nextapp.echo.app.event">EventListenerList</a>&nbsp;getEventListenerList()</pre>
<div class="block">Returns the local <code>EventListenerList</code>.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the listener list</dd></dl>
</li>
</ul>
<a name="removeActionListener(nextapp.echo.app.event.ActionListener)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>removeActionListener</h4>
<pre>public&nbsp;void&nbsp;removeActionListener(<a href="../../../../nextapp/echo/app/event/ActionListener.html" title="interface in nextapp.echo.app.event">ActionListener</a>&nbsp;l)</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#removeActionListener(nextapp.echo.app.event.ActionListener)">ButtonModel</a></code></strong></div>
<div class="block">Removes an <code>ActionListener</code> from being notified of user 
 actions, i.e., button presses.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#removeActionListener(nextapp.echo.app.event.ActionListener)">removeActionListener</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button">ButtonModel</a></code></dd>
<dt><span class="strong">Parameters:</span></dt><dd><code>l</code> - the listener to remove</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/button/ButtonModel.html#removeActionListener(nextapp.echo.app.event.ActionListener)"><code>ButtonModel.removeActionListener(nextapp.echo.app.event.ActionListener)</code></a></dd></dl>
</li>
</ul>
<a name="setActionCommand(java.lang.String)">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>setActionCommand</h4>
<pre>public&nbsp;void&nbsp;setActionCommand(java.lang.String&nbsp;actionCommand)</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#setActionCommand(java.lang.String)">ButtonModel</a></code></strong></div>
<div class="block">Sets the action command.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/button/ButtonModel.html#setActionCommand(java.lang.String)">setActionCommand</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button">ButtonModel</a></code></dd>
<dt><span class="strong">Parameters:</span></dt><dd><code>actionCommand</code> - the new action command</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/button/ButtonModel.html#setActionCommand(java.lang.String)"><code>ButtonModel.setActionCommand(java.lang.String)</code></a></dd></dl>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>
<!-- ========= END OF CLASS DATA ========= -->
<!-- ======= START OF BOTTOM NAVBAR ====== -->
<div class="bottomNav"><a name="navbar_bottom">
<!--   -->
</a><a href="#skip-navbar_bottom" title="Skip navigation links"></a><a name="navbar_bottom_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../../index-all.html">Index</a></li>
<li><a href="../../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../../nextapp/echo/app/button/ButtonModel.html" title="interface in nextapp.echo.app.button"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../../nextapp/echo/app/button/DefaultToggleButtonModel.html" title="class in nextapp.echo.app.button"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../../index.html?nextapp/echo/app/button/DefaultButtonModel.html" target="_top">Frames</a></li>
<li><a href="DefaultButtonModel.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_bottom">
<li><a href="../../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_bottom");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_bottom">
<!--   -->
</a></div>
<!-- ======== END OF BOTTOM NAVBAR ======= -->
</div>
