
<ul class="breadcrumb">
    <li>
    Core.Web
  </li>
    <li class="active">
    Env
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Core.Web.Env">Core.Web.Env</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Provides information about the web browser environment.</p></p>







<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.ENGINE_PRESTO">ENGINE_PRESTO</a></code><br/>
Flag indicating the Presto rendering engine is being used (Opera).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.ENGINE_WEBKIT">ENGINE_WEBKIT</a></code><br/>
Flag indicating the WebKit rendering engine is being used (Safari,
Chrome).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.ENGINE_KHTML">ENGINE_KHTML</a></code><br/>
Flag indicating the KHTML rendering engine is being used (Konqueror).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.ENGINE_MSHTML">ENGINE_MSHTML</a></code><br/>
Flag indicating the MSHTML/Trident rendering engine is being used
(Internet Explorer).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.ENGINE_GECKO">ENGINE_GECKO</a></code><br/>
Flag indicating the Gecko rendering engine is being used (Mozilla,
Firefox).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BROWSER_MOZILLA">BROWSER_MOZILLA</a></code><br/>
Flag indicating a Mozilla client or Mozilla-based client.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BROWSER_OPERA">BROWSER_OPERA</a></code><br/>
Flag indicating an Opera client.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BROWSER_KONQUEROR">BROWSER_KONQUEROR</a></code><br/>
Flag indicating an Konqueror client.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BROWSER_FIREFOX">BROWSER_FIREFOX</a></code><br/>
Flag indicating a Mozilla Firefox client.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BROWSER_INTERNET_EXPLORER">BROWSER_INTERNET_EXPLORER</a></code><br/>
Flag indicating a Microsoft Internet Explorer client.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BROWSER_CHROME">BROWSER_CHROME</a></code><br/>
Flag indicating a Google Chrome client.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BROWSER_VERSION_MAJOR">BROWSER_VERSION_MAJOR</a></code><br/>
The major browser version.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BROWSER_VERSION_MINOR">BROWSER_VERSION_MINOR</a></code><br/>
The minor browser version.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.ENGINE_VERSION_MAJOR">ENGINE_VERSION_MAJOR</a></code><br/>
The major engine version.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.ENGINE_VERSION_MINOR">ENGINE_VERSION_MINOR</a></code><br/>
The minor engine version.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.DECEPTIVE_USER_AGENT">DECEPTIVE_USER_AGENT</a></code><br/>
Flag indicating whether the user-agent string contains deceptive
information.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.CSS_FLOAT">CSS_FLOAT</a></code><br/>
Attribute name for CSS float attribute.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.MEASURE_OFFSET_EXCLUDES_BORDER">MEASURE_OFFSET_EXCLUDES_BORDER</a></code><br/>
Flag indicating that offset measurements do not take into account CSS
borders around elements.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.NOT_SUPPORTED_CSS_OPACITY">NOT_SUPPORTED_CSS_OPACITY</a></code><br/>
Flag indicating that the CSS "opacity" attribute is not supported.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.NOT_SUPPORTED_RELATIVE_COLUMN_WIDTHS">NOT_SUPPORTED_RELATIVE_COLUMN_WIDTHS</a></code><br/>
Flag indicating that relative table column widths are not supported, 
e.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.NOT_SUPPORTED_INPUT_SELECTION">NOT_SUPPORTED_INPUT_SELECTION</a></code><br/>
Flag indicating that selectionStart/selectionEnd/setSelectionRange() are not
supported on text field INPUT elements and TEXTAREA elements.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.NOT_SUPPORTED_RANGE">NOT_SUPPORTED_RANGE</a></code><br/>
Flag indicating complete lack of support for W3C DOM range API.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.PROPRIETARY_EVENT_MOUSE_ENTER_LEAVE_SUPPORTED">PROPRIETARY_EVENT_MOUSE_ENTER_LEAVE_SUPPORTED</a></code><br/>
Flag indicating support for "mouseenter" and "mouseleave" events.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.PROPRIETARY_EVENT_SELECT_START_SUPPORTED">PROPRIETARY_EVENT_SELECT_START_SUPPORTED</a></code><br/>
Flag indicating support for "selectstart" events.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.PROPRIETARY_IE_OPACITY_FILTER_REQUIRED">PROPRIETARY_IE_OPACITY_FILTER_REQUIRED</a></code><br/>
Flag indicating a DirectX filter is required to render elements with
reduced opacity.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.PROPRIETARY_IE_PNG_ALPHA_FILTER_REQUIRED">PROPRIETARY_IE_PNG_ALPHA_FILTER_REQUIRED</a></code><br/>
Flag indicating PNG alpha channel effects require the use of a DirectX
filter.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.PROPRIETARY_IE_RANGE">PROPRIETARY_IE_RANGE</a></code><br/>
Flag indicating support for the IE text range API.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_KEY_CODE_IS_CHAR_CODE">QUIRK_KEY_CODE_IS_CHAR_CODE</a></code><br/>
Flag indicating that keypress events will place charCode value in keyCode property.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_KEY_PRESS_FIRED_FOR_SPECIAL_KEYS">QUIRK_KEY_PRESS_FIRED_FOR_SPECIAL_KEYS</a></code><br/>
Flag indicating that keypress events are fired for special keys.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_KEY_DOWN_NOT_FIRED_FOR_SPECIAL_KEYS">QUIRK_KEY_DOWN_NOT_FIRED_FOR_SPECIAL_KEYS</a></code><br/>
Flag indicating that keypress events are fired for special keys.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_CSS_BORDER_COLLAPSE_INSIDE">QUIRK_CSS_BORDER_COLLAPSE_INSIDE</a></code><br/>
Flag indicating collapsed borders appear inside a table's rendered rather
than around it.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_CSS_POSITIONING_ONE_SIDE_ONLY">QUIRK_CSS_POSITIONING_ONE_SIDE_ONLY</a></code><br/>
Flag indicating that top and bottom or left and right CSS absolute
positioning properties may not be used on the same attribute.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_DELAYED_FOCUS_REQUIRED">QUIRK_DELAYED_FOCUS_REQUIRED</a></code><br/>
Flag indicating that setting focus is more reliably accomplished by
performing the operation in a separate JavaScript execution context.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_IE_BLANK_SCREEN">QUIRK_IE_BLANK_SCREEN</a></code><br/>
Flag indicating peculiar behavior in Internet Explorer where screen suddenly appears blank after
DOM manipulations have been performed.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_IE_HAS_LAYOUT">QUIRK_IE_HAS_LAYOUT</a></code><br/>
Flag indicating a fundamental issue in Internet Explorer's rendering engine wherein the browser is incapable of correctly
sizing/positioning elements unless certain CSS attributes (which should not be necessary) are present.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_IE_SELECT_LIST_DOM_UPDATE">QUIRK_IE_SELECT_LIST_DOM_UPDATE</a></code><br/>
Flag indicating DOM updates to SELECT elements may result in their
appearance being changed, i.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_IE_SELECT_PERCENT_WIDTH">QUIRK_IE_SELECT_PERCENT_WIDTH</a></code><br/>
Flag indicating that setting percent widths on SELECT elements may result
in undesired behavior, e.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_IE_SELECT_Z_INDEX">QUIRK_IE_SELECT_Z_INDEX</a></code><br/>
Flag indicating that SELECT elements do not respect z-index settings.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_IE_SECURE_ITEMS">QUIRK_IE_SECURE_ITEMS</a></code><br/>
Flag indicating an IE browser that incorrectly displays the security warning,
"This page contains both secure and nonsecure items.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_IE_TABLE_PERCENT_WIDTH_SCROLLBAR_ERROR">QUIRK_IE_TABLE_PERCENT_WIDTH_SCROLLBAR_ERROR</a></code><br/>
Flag indicating that IE browser does not properly render tables whose
widths are set to percent values when scrollbars are present.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_MEASURE_OFFSET_HIDDEN_BORDER">QUIRK_MEASURE_OFFSET_HIDDEN_BORDER</a></code><br/>
Quirk flag indicating that offset measurements on elements whose overflow setting is hidden
will be incorrectly reduced by the border size.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_OPERA_CSS_POSITIONING">QUIRK_OPERA_CSS_POSITIONING</a></code><br/>
Flag indicating a bug in the Opera browser where absolute CSS positioning
and offset calculations are incorrectly performed.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_PERFORMANCE_LARGE_DOM_REMOVE">QUIRK_PERFORMANCE_LARGE_DOM_REMOVE</a></code><br/>
Quirk indicating that removing large element hierarchies from the DOM
using a single removeChild invocation at the root results in poor
performance.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_WEBKIT_DOM_TEXT_ESCAPE">QUIRK_WEBKIT_DOM_TEXT_ESCAPE</a></code><br/>
Flag indicating XML documents being sent via XMLHttpRequest must have
text content manually escaped due to bugs in the Webkit render engine.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_TABLE_CELL_WIDTH_EXCLUDES_PADDING">QUIRK_TABLE_CELL_WIDTH_EXCLUDES_PADDING</a></code><br/>
Flag indicating that table cell widths do not include padding value.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_UNLOADED_IMAGE_HAS_SIZE">QUIRK_UNLOADED_IMAGE_HAS_SIZE</a></code><br/>
Flag indicating that images which not yet been loaded will have size
information (width/height values).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.QUIRK_SERIALIZE_XML_BEFORE_XML_HTTP_REQ">QUIRK_SERIALIZE_XML_BEFORE_XML_HTTP_REQ</a></code><br/>
Flag indicating if xml-documents should be serialized before
sending them through a xmlHttp request.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._ua">_ua</a></code><br/>
User-agent string, in lowercase.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._uaAlpha">_uaAlpha</a></code><br/>
The user agent string with all non-alpha character sequences replaced
with single slashes and with leading/trailing slashes appended.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._init">_init()</a></code><br/>
Performs initial analysis of environment.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._parseVersionInfo">_parseVersionInfo(ua, searchString)</a></code><br/>
Parses version information from user agent string.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._testUAString">_testUAString()</a></code><br/>

</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method._init"></a>
<span class="DetailPropertyName">_init</span>

<dl>
<dd>Performs initial analysis of environment. Automatically invoked when
Core.Web module is initialized.



</dd>
</dl>
<hr/>
<a name="Method._parseVersionInfo"></a>
<span class="DetailPropertyName">_parseVersionInfo</span>

<dl>
<dd>Parses version information from user agent string. The text argument specifies
the string that prefixes the version info in the ua string (ie 'version/' for Safari for example).
<p>
The major version is retrieved by getting the int between text and the first dot. The minor version
is retrieved by getting the int between the first dot and the first non-numeric character that appears
after the dot, or the end of the ua string (whichever comes first).
If the ua string does not supply a minor version, the minor version is assumed to be 0.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>ua</code> 
- the lower cased user agent string</dd>
<dd>
<code>searchString</code> 
- the text that prefixes the version info (version info must be the first appearance of 
         this text in the ua string)</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._testUAString"></a>
<span class="DetailPropertyName">_testUAString</span>

<dl>
<dd>



</dd>
</dl>
<hr/>




