
<ul class="breadcrumb">
    <li>
    Echo
  </li>
    <li class="active">
    Update
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Update">Echo.Update</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Namespace for update management. Provides capabilities for storing property changes made to applications and components such that display redraws may be performed efficiently in batches by application container.</p></p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Update.ComponentUpdate">Echo.Update.ComponentUpdate</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Update.Manager">Echo.Update.Manager</a></code></td>
</tr>
</tbody>
</table>

















<a name="Constructor"></a>






