
<ul class="breadcrumb">
    <li>
    Echo.Sync
  </li>
    <li class="active">
    BoxShadow
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync.BoxShadow">Echo.Sync.BoxShadow</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Provides tools for rendering box shadow properties.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Echo.Sync.BoxShadow()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.STYLE_DEFAULT">STYLE_DEFAULT</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.STYLE_INSET">STYLE_INSET</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.render">render(border, the)</a></code><br/>
Renders a border to a DOM element.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._hShadowPos">_hShadowPos</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._vShadowPos">_vShadowPos</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._blur">_blur</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._spread">_spread</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._color">_color</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._style">_style</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toCssValue">toCssValue()</a></code><br/>
Returns a CSS representation of an box shadow value.
</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Echo.Sync.BoxShadow()</span>

<dl>
<dd>

</dd>
</dl>
<hr/>



<div class="Header">Class Method Detail</div>

<a name="Method.render"></a>
<span class="DetailPropertyName">render</span>

<dl>
<dd>Renders a border to a DOM element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>border</code> 
<em>(#BoxShadow)</em>
- the box shadow to render</dd>
<dd>
<code>the</code> 
<em>(Element)</em>
- target DOM element</dd>
</dl>


</dd>
</dl>
<hr/>




<div class="Header">Instance Method Detail</div>

<a name="Method.toCssValue"></a>
<span class="DetailPropertyName">toCssValue</span>

<dl>
<dd>Returns a CSS representation of an box shadow value.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(String)</em>

the rendered CSS value
</dd>

</dl>

</dd>
</dl>
<hr/>


