
<ul class="breadcrumb">
    <li>
    Echo
  </li>
    <li class="active">
    Sync
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync">Echo.Sync</a></code>
</li>
</ul>
</dd>
</dl>







<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Alignment">Echo.Sync.Alignment</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.ArrayContainer">Echo.Sync.ArrayContainer</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Border">Echo.Sync.Border</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.BoxShadow">Echo.Sync.BoxShadow</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Button">Echo.Sync.Button</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Button.ContentContainer">Echo.Sync.Button.ContentContainer</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Color">Echo.Sync.Color</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Column">Echo.Sync.Column</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.ContentPane">Echo.Sync.ContentPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Extent">Echo.Sync.Extent</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.FillImage">Echo.Sync.FillImage</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.FillImageBorder">Echo.Sync.FillImageBorder</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Font">Echo.Sync.Font</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Grid">Echo.Sync.Grid</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Grid.Processor">Echo.Sync.Grid.Processor</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Grid.Processor.Cell">Echo.Sync.Grid.Processor.Cell</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.ImageReference">Echo.Sync.ImageReference</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Insets">Echo.Sync.Insets</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Label">Echo.Sync.Label</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.PasswordField">Echo.Sync.PasswordField</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Row">Echo.Sync.Row</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.SplitPane">Echo.Sync.SplitPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.SplitPane.ChildPane">Echo.Sync.SplitPane.ChildPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.TextArea">Echo.Sync.TextArea</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.TextComponent">Echo.Sync.TextComponent</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.TextField">Echo.Sync.TextField</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.TriCellTable">Echo.Sync.TriCellTable</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.WindowPane">Echo.Sync.WindowPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.WindowPane.FadeRunnable">Echo.Sync.WindowPane.FadeRunnable</a></code></td>
</tr>
</tbody>
</table>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getEffectProperty">getEffectProperty(component, defaultPropertyName, effectPropertyName, effectState, defaultDefaultPropertyValue, defaultEffectPropertyValue)</a></code><br/>
Retrieves an "effect-specific" property from a component (e.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderComponentDefaults">renderComponentDefaults(component, element)</a></code><br/>
Renders component foreground, background, font, and layout direction properties
(if each is provided) to the specified element.
</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.getEffectProperty"></a>
<span class="DetailPropertyName">getEffectProperty</span>

<dl>
<dd>Retrieves an "effect-specific" property from a component (e.g., a rollover background) if it
is available, or otherwise returns the default (non-effect) property value.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>component</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the component to query</dd>
<dd>
<code>defaultPropertyName</code> 
<em>(String)</em>
- the name of the default (non-effect) property, e.g., "background"</dd>
<dd>
<code>effectPropertyName</code> 
<em>(String)</em>
- the name of the effect property, e.g., "rolloverBackground"</dd>
<dd>
<code>effectState</code> 
<em>(Boolean)</em>
- flag indicating whether the effect is enabled (if the effect is not enabled,
       the default (non-effect) value will always be returned)</dd>
<dd>
<code>defaultDefaultPropertyValue</code> 
- (optional) the default (non-effect) property value (this value will be returned
       if no other value can be determined for the property)</dd>
<dd>
<code>defaultEffectPropertyValue</code> 
- (optional) the default effect property value (this value will be returned if the
       effectState is true and no value has been specifically set for the effect property)</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.renderComponentDefaults"></a>
<span class="DetailPropertyName">renderComponentDefaults</span>

<dl>
<dd>Renders component foreground, background, font, and layout direction properties
(if each is provided) to the specified element.  This is a performance/convenience method
which combines capabilities found in Echo.Sync.Color/Font/LayoutDirection.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>component</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the component</dd>
<dd>
<code>element</code> 
<em>(Element)</em>
- the target element</dd>
</dl>


</dd>
</dl>
<hr/>




