
<ul class="breadcrumb">
    <li>
    Echo.Serial
  </li>
    <li class="active">
    FillImageBorder
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Serial.PropertyTranslator">Echo.Serial.PropertyTranslator</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.Serial.FillImageBorder">Echo.Serial.FillImageBorder</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>FillImageBorder Property Translator Singleton.</p></p>







<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._NAMES">_NAMES</a></code><br/>
(Array) mapping between border indices and property names.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._parseElement">_parseElement(client, fibElement)</a></code><br/>
Parses a &lt;fbi&gt; fill image border element.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toProperty">toProperty()</a></code><br/>

</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method._parseElement"></a>
<span class="DetailPropertyName">_parseElement</span>

<dl>
<dd>Parses a &lt;fbi&gt; fill image border element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>client</code> 
<em>(<a href="Class.Echo.Client">Echo.Client</a>)</em>
- the client</dd>
<dd>
<code>fibElement</code> 
<em>(Element)</em>
- the fill image border element</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(#FillImageBorder)</em>

the parsed fill image border
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.toProperty"></a>
<span class="DetailPropertyName">toProperty</span>

<dl>
<dd>



</dd>
</dl>
<hr/>




