
<ul class="breadcrumb">
    <li>
    FileTransfer
  </li>
    <li class="active">
    Sync
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.FileTransfer.Sync">FileTransfer.Sync</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>File Transfer components synchronization peer namespace. Any objects in this namespace should not be accessed by application developers or extended outside of the File Transfer library.</p></p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.AbstractUploadSelect">FileTransfer.Sync.AbstractUploadSelect</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.DefaultProgressDisplay">FileTransfer.Sync.DefaultProgressDisplay</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.DefaultUploadRender">FileTransfer.Sync.DefaultUploadRender</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.Monitor">FileTransfer.Sync.Monitor</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.MultipleUploadSelect">FileTransfer.Sync.MultipleUploadSelect</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.MultipleUploadSelect.SWFUploadRender">FileTransfer.Sync.MultipleUploadSelect.SWFUploadRender</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.ProgressDisplay">FileTransfer.Sync.ProgressDisplay</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.ProgressDisplay.File">FileTransfer.Sync.ProgressDisplay.File</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.UploadRender">FileTransfer.Sync.UploadRender</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.UploadSelect">FileTransfer.Sync.UploadSelect</a></code></td>
</tr>
</tbody>
</table>

















<a name="Constructor"></a>






