
<ul class="breadcrumb">
    <li>
    FileTransfer.Sync
  </li>
    <li class="active">
    MultipleUploadSelect
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Render.ComponentSync">Echo.Render.ComponentSync</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.FileTransfer.Sync.AbstractUploadSelect">FileTransfer.Sync.AbstractUploadSelect</a></code>
</li>
<li style="margin-left: 45px">
<code><a href="Class.FileTransfer.Sync.UploadSelect">FileTransfer.Sync.UploadSelect</a></code>
</li>
<li style="margin-left: 60px">
<code><a href="Class.FileTransfer.Sync.MultipleUploadSelect">FileTransfer.Sync.MultipleUploadSelect</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Component rendering peer: MultipleUploadSelect.</p></p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.Sync.MultipleUploadSelect.SWFUploadRender">FileTransfer.Sync.MultipleUploadSelect.SWFUploadRender</a></code></td>
</tr>
</tbody>
</table>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.flashAvailable">flashAvailable</a></code><br/>
Flag indicating whether a suitable version of Flash (i.
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderAdd">renderAdd()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class FileTransfer.Sync.AbstractUploadSelect</td>
</tr>
<tr>
<td>
<code><a href="Class.FileTransfer.Sync.AbstractUploadSelect#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.FileTransfer.Sync.AbstractUploadSelect#Method.renderDisplay">renderDisplay</a></code>, <code><a href="Class.FileTransfer.Sync.AbstractUploadSelect#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.FileTransfer.Sync.AbstractUploadSelect#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.FileTransfer.Sync.AbstractUploadSelect#Method.send">send</a></code></td>
</tr>
</table>
<br/>
<table class="table">
<tr>
<td>Methods inherited from class Echo.Render.ComponentSync</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Render.ComponentSync#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyDown">clientKeyDown</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyPress">clientKeyPress</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyUp">clientKeyUp</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getFocusFlags">getFocusFlags</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getPreferredSize">getPreferredSize</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.isChildVisible">isChildVisible</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderFocus">renderFocus</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderHide">renderHide</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDisplay">renderDisplay</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>






<div class="Header">Instance Method Detail</div>

<a name="Method.renderAdd"></a>
<span class="DetailPropertyName">renderAdd</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


