
<ul class="breadcrumb">
    <li>
    Echo.Sync
  </li>
    <li class="active">
    TriCellTable
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync.TriCellTable">Echo.Sync.TriCellTable</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Renders a table with two or three cells, suitable for laying out buttons, labels, and similar components.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Echo.Sync.TriCellTable(orientation0_1, margin0_1, orientation01_2, margin01_2)</a></code><br/>
Creates a new <code>TriCellTable</code>
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.INVERTED">INVERTED</a></code><br/>
Orientation flag indicating inverted (trailing-leading or bottom-top) orientation.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.VERTICAL">VERTICAL</a></code><br/>
Orientation flag indicating vertical (top-bottom or bottom-top) orientation.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.LEADING_TRAILING">LEADING_TRAILING</a></code><br/>
Orientation value indicating horizontal orientation, leading first, trailing second.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.TRAILING_LEADING">TRAILING_LEADING</a></code><br/>
Orientation value indicating horizontal orientation, trailing first, leading second.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.TOP_BOTTOM">TOP_BOTTOM</a></code><br/>
Orientation value indicating vertical orientation, top first, bottom second.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BOTTOM_TOP">BOTTOM_TOP</a></code><br/>
Orientation value indicating vertical orientation, bottom first, top second.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createTablePrototype">_createTablePrototype()</a></code><br/>
Creates a prototype DOM element hierarchy for a TriCellTable, which may
be cloned for purposes of performance enhancement.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getInvertedOrientation">getInvertedOrientation(component, propertyName, defaultValue)</a></code><br/>
Returns the inverted orientation value which should be used for a component (the opposite of that which
would be returned by getOrientation().
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getOrientation">getOrientation(component, propertyName, defaultValue)</a></code><br/>
Determines the orientation value which should be used to a component.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.tableElement">tableElement</a></code><br/>
The rendered TABLE element.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.tbodyElement">tbodyElement</a></code><br/>
The rendered TBODY element.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._addColumn">_addColumn(tr, td)</a></code><br/>
Appends a TD element to a TR element, if TD element is not null.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._addRow">_addRow(td)</a></code><br/>
If the TD element is not null, creates a TR row element and appends the TD element to it;
then appends the TR element to the table body.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._addSpacer">_addSpacer(parentElement, size, vertical)</a></code><br/>
Adds a spacer DIV to the specified parent element.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._configure2">_configure2(orientation0_1, margin0_1)</a></code><br/>
Configures a two-celled TriCellTable.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._configure3">_configure3(orientation0_1, margin0_1, orientation01_2, margin01_2)</a></code><br/>
Configures a two-celled TriCellTable.
</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Echo.Sync.TriCellTable(orientation0_1, margin0_1, orientation01_2, margin01_2)</span>

<dl>
<dd>Creates a new <code>TriCellTable</code>

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>orientation0_1</code> 
<em>(Number)</em>
- the orientation of element 0 with respect to element 1, one of 
       the following values:
       <ul>
       <li>LEADING_TRAILING (element 0 is leading element 1)</li>
       <li>TRAILING_LEADING (element 1 is leading element 0)</li>
       <li>TOP_BOTTOM (element 0 is above element 1)</li>
       <li>BOTTOM_TOP (element 1 is above element 0)</li>
       </ul></dd>
<dd>
<code>margin0_1</code> 
<em>(Number)</em>
- the margin size between element 0 and element 1</dd>
<dd>
<code>orientation01_2</code> 
<em>(Number)</em>
- (omitted for two-cell tables)
       the orientation of Elements 0 and 1 with 
       respect to Element 2, one of the following values:
       <ul>
       <li>LEADING_TRAILING (elements 0 and 1 are leading element 2)</li>
       <li>TRAILING_LEADING (element 2 is trailing elements 0 and 1)</li>
       <li>TOP_BOTTOM (elements 0 and 1 are above element 2)</li>
       <li>BOTTOM_TOP (element 2 is above elements 0 and 1)</li>
       </ul></dd>
<dd>
<code>margin01_2</code> 
<em>(Number)</em>
- (omitted for two-cell tables)
       the margin size between the combination
       of elements 0 and 1 and element 2</dd>
</dl>
</dd>
</dl>
<hr/>



<div class="Header">Class Method Detail</div>

<a name="Method._createTablePrototype"></a>
<span class="DetailPropertyName">_createTablePrototype</span>

<dl>
<dd>Creates a prototype DOM element hierarchy for a TriCellTable, which may
be cloned for purposes of performance enhancement.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Element)</em>

the prototype DOM element hierarchy
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.getInvertedOrientation"></a>
<span class="DetailPropertyName">getInvertedOrientation</span>

<dl>
<dd>Returns the inverted orientation value which should be used for a component (the opposite of that which
would be returned by getOrientation().
The rendered layout direction of the component will be factored when determining horizontal orientations.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>component</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the component</dd>
<dd>
<code>propertyName</code> 
<em>(String)</em>
- the alignment property name</dd>
<dd>
<code>defaultValue</code> 
<em>(#Alignment)</em>
- default alignment value to use if component does not have specified property</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Number)</em>

the (inverted) orientation
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.getOrientation"></a>
<span class="DetailPropertyName">getOrientation</span>

<dl>
<dd>Determines the orientation value which should be used to a component.
The rendered layout direction of the component will be factored when determining horizontal orientations.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>component</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the component</dd>
<dd>
<code>propertyName</code> 
<em>(String)</em>
- the alignment property name</dd>
<dd>
<code>defaultValue</code> 
<em>(#Alignment)</em>
- default alignment value to use if component does not have specified property</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Number)</em>

the orientation
</dd>

</dl>

</dd>
</dl>
<hr/>




<div class="Header">Instance Method Detail</div>

<a name="Method._addColumn"></a>
<span class="DetailPropertyName">_addColumn</span>

<dl>
<dd>Appends a TD element to a TR element, if TD element is not null.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>tr</code> 
<em>(Element)</em>
- the table row (TR) element</dd>
<dd>
<code>td</code> 
<em>(Element)</em>
- the table cell (TD) element</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._addRow"></a>
<span class="DetailPropertyName">_addRow</span>

<dl>
<dd>If the TD element is not null, creates a TR row element and appends the TD element to it;
then appends the TR element to the table body.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>td</code> 
<em>(Element)</em>
- the table cell element</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._addSpacer"></a>
<span class="DetailPropertyName">_addSpacer</span>

<dl>
<dd>Adds a spacer DIV to the specified parent element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>parentElement</code> 
<em>(Element)</em>
- the parent element to which the spacer DIV should be added</dd>
<dd>
<code>size</code> 
<em>(Number)</em>
- the pixel size of the spacer</dd>
<dd>
<code>vertical</code> 
<em>(Boolean)</em>
- boolean flag indicating the orientation of the spacer, 
       true for vertical spacers, false for horizontal</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._configure2"></a>
<span class="DetailPropertyName">_configure2</span>

<dl>
<dd>Configures a two-celled TriCellTable.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>orientation0_1</code> 
<em>(Number)</em>
- the orientation of element 0 with respect to element 1</dd>
<dd>
<code>margin0_1</code> 
<em>(Number)</em>
- the margin size between element 0 and element 1</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._configure3"></a>
<span class="DetailPropertyName">_configure3</span>

<dl>
<dd>Configures a two-celled TriCellTable.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>orientation0_1</code> 
<em>(Number)</em>
- the orientation of element 0 with respect to element 1</dd>
<dd>
<code>margin0_1</code> 
<em>(Number)</em>
- the margin size between element 0 and element 1</dd>
<dd>
<code>orientation01_2</code> 
<em>(Number)</em>
- the orientation of Elements 0 and 1 with respect to Element 2</dd>
<dd>
<code>margin01_2</code> 
<em>(Number)</em>
- the margin size between the combination of elements 0 and 1 and element 2</dd>
</dl>


</dd>
</dl>
<hr/>


