
<ul class="breadcrumb">
    <li>
    FileTransfer.Sync.ProgressDisplay
  </li>
    <li class="active">
    File
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.FileTransfer.Sync.ProgressDisplay.File">FileTransfer.Sync.ProgressDisplay.File</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>A representation of a single file which is being uploaded.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">FileTransfer.Sync.ProgressDisplay.File(name, size)</a></code><br/>
Creates a new <code>File</code>.
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.size">size</a></code><br/>
The size of the file, in bytes.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.name">name</a></code><br/>
The file name, as determined by the client.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.progress">progress</a></code><br/>
The file upload progress (number of bytes uploaded thus far).
</td>
</tr>
</table>
<br/>









<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">FileTransfer.Sync.ProgressDisplay.File(name, size)</span>

<dl>
<dd>Creates a new <code>File</code>.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>name</code> 
<em>(String)</em>
- the file name</dd>
<dd>
<code>size</code> 
<em>(Number)</em>
- the size of the file, in bytes</dd>
</dl>
</dd>
</dl>
<hr/>





