
<ul class="breadcrumb">
    <li>
    Core
  </li>
    <li class="active">
    ResourceBundle
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Core.ResourceBundle">Core.ResourceBundle</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Provides locale-specific resources for multiple localizations. A default resource map and locale-specific resource maps may be added to a resource bundle. The resource bundle may then be queried to return a complete resource map for a specific locale. When a locale-specific map is requested, any entries not available specifically in that map will be provided by more generic resource maps that have been added to the bundle.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Core.ResourceBundle(defaultMap)</a></code><br/>
Creates a new <code>ResourceBundle</code>.
</td>
</tr>
</table>
<br/>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getParentLanguageCode">getParentLanguageCode(languageCode)</a></code><br/>
Generates a less specific version of the specified language code.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._sourceMaps">_sourceMaps</a></code><br/>
Association between RFC 1766 language codes and resource maps.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._generatedMaps">_generatedMaps</a></code><br/>
Cache of generated resource maps which fill omissions in more-specific resource maps
with those from less-specific resource maps.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._defaultMap">_defaultMap</a></code><br/>
The default resource map that should be used in the event that a
locale-specific map is not available for a particular language code.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.get">get(languageCode)</a></code><br/>
Returns a locale-specific resource map.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.set">set(languageCode, map)</a></code><br/>
Adds a new locale-specific map to the bundle.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toString">toString()</a></code><br/>

</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Core.ResourceBundle(defaultMap)</span>

<dl>
<dd>Creates a new <code>ResourceBundle</code>.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>defaultMap</code> 
- the default resource map</dd>
</dl>
</dd>
</dl>
<hr/>



<div class="Header">Class Method Detail</div>

<a name="Method.getParentLanguageCode"></a>
<span class="DetailPropertyName">getParentLanguageCode</span>

<dl>
<dd>Generates a less specific version of the specified language code.
Returns null if no "parent" language code can be determined.
This operation is implemented  by removing the sub-tag (if found)
from the specified RFC 1766 language code.  If the language
code does not have a sub-tag, null is returned.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>languageCode</code> 
<em>(String)</em>
- an RFC 1766 language code</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(String)</em>

a less specific version of the specified language code,
        or null if none can be determined
</dd>

</dl>

</dd>
</dl>
<hr/>




<div class="Header">Instance Method Detail</div>

<a name="Method.get"></a>
<span class="DetailPropertyName">get</span>

<dl>
<dd>Returns a locale-specific resource map.  The returned map will contain entries from less-specific and/or the default map
if they are not available from the map for the specified language code.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>languageCode</code> 
<em>(String)</em>
- an RFC 1766 language code, or null to return the default map</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>

a locale-specific map for the language code
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.set"></a>
<span class="DetailPropertyName">set</span>

<dl>
<dd>Adds a new locale-specific map to the bundle.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>languageCode</code> 
- the language code</dd>
<dd>
<code>map</code> 
- the key-value resource map for the language code</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.toString"></a>
<span class="DetailPropertyName">toString</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


