
<ul class="breadcrumb">
    <li>
    Echo.Sync
  </li>
    <li class="active">
    Grid
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Render.ComponentSync">Echo.Render.ComponentSync</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.Sync.Grid">Echo.Sync.Grid</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Component rendering peer: Grid. This class should not be extended by developers, the implementation is subject to change.</p></p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Grid.Processor">Echo.Sync.Grid.Processor</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Echo.Sync.Grid.Processor.Cell">Echo.Sync.Grid.Processor.Cell</a></code></td>
</tr>
</tbody>
</table>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createPrototypeTable">_createPrototypeTable()</a></code><br/>
Creates a prototype rendering of the basic DOM structure of a Grid which may be cloned
for enhanced rendering performance.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._columnCount">_columnCount</a></code><br/>
The number of columns.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._rowCount">_rowCount</a></code><br/>
The number of rows.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.clientKeyDown">clientKeyDown()</a></code><br/>
Processes a key press event (for focus navigation amongst child cells.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderAdd">renderAdd()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderDispose">renderDispose()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderUpdate">renderUpdate()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Render.ComponentSync</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Render.ComponentSync#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyDown">clientKeyDown</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyPress">clientKeyPress</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyUp">clientKeyUp</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getFocusFlags">getFocusFlags</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getPreferredSize">getPreferredSize</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.isChildVisible">isChildVisible</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderFocus">renderFocus</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderHide">renderHide</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDisplay">renderDisplay</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method._createPrototypeTable"></a>
<span class="DetailPropertyName">_createPrototypeTable</span>

<dl>
<dd>Creates a prototype rendering of the basic DOM structure of a Grid which may be cloned
for enhanced rendering performance.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Element)</em>

the prototype DOM hierarchy
</dd>

</dl>

</dd>
</dl>
<hr/>




<div class="Header">Instance Method Detail</div>

<a name="Method.clientKeyDown"></a>
<span class="DetailPropertyName">clientKeyDown</span>

<dl>
<dd>Processes a key press event (for focus navigation amongst child cells.



</dd>
</dl>
<hr/>
<a name="Method.renderAdd"></a>
<span class="DetailPropertyName">renderAdd</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderDispose"></a>
<span class="DetailPropertyName">renderDispose</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderUpdate"></a>
<span class="DetailPropertyName">renderUpdate</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


