
<ul class="breadcrumb">
    <li>
    Extras
  </li>
    <li class="active">
    ToggleOptionModel
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Extras.ItemModel">Extras.ItemModel</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.OptionModel">Extras.OptionModel</a></code>
</li>
<li style="margin-left: 45px">
<code><a href="Class.Extras.ToggleOptionModel">Extras.ToggleOptionModel</a></code>
</li>
</ul>
</dd>
</dl>

<dl>
<dt><strong>Direct Known Subclasses:</strong></dt>
<dd>
<code><a href="Class.Extras.RadioOptionModel">Extras.RadioOptionModel</a></code></dd>
</dl>



<p><p>Representation of a toggle button (checkbox) menu option.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.ToggleOptionModel(modelId, text)</a></code><br/>
Creates a new toggle option.
</td>
</tr>
</table>
<br/>










<table class="table">
<tr>
<td>Methods inherited from class Extras.OptionModel</td>
</tr>
<tr>
<td>
<code><a href="Class.Extras.OptionModel#Method.getItemPositionPath">getItemPositionPath</a></code>, <code><a href="Class.Extras.OptionModel#Method.toString">toString</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Extras.OptionModel(modelId, text)</span>

<dl>
<dd>Creates a new toggle option.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>modelId</code> 
<em>(String)</em>
- the id of the menu model</dd>
<dd>
<code>text</code> 
<em>(String)</em>
- the menu item title</dd>
</dl>
</dd>
</dl>
<hr/>





