
<ul class="breadcrumb">
    <li>
    Echo.Sync
  </li>
    <li class="active">
    TextArea
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Render.ComponentSync">Echo.Render.ComponentSync</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.Sync.TextComponent">Echo.Sync.TextComponent</a></code>
</li>
<li style="margin-left: 45px">
<code><a href="Class.Echo.Sync.TextArea">Echo.Sync.TextArea</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Component rendering peer: TextArea</p></p>













<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderAdd">renderAdd()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Sync.TextComponent</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Sync.TextComponent#Method.getSupportedPartialProperties">getSupportedPartialProperties</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.processBlur">processBlur</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.processFocus">processFocus</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.sanitizeInput">sanitizeInput</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._renderStyle">_renderStyle</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._addEventHandlers">_addEventHandlers</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._adjustPercentWidth">_adjustPercentWidth</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.clientKeyDown">clientKeyDown</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.clientKeyPress">clientKeyPress</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.clientKeyUp">clientKeyUp</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._processClick">_processClick</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._processKeyDown">_processKeyDown</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._processRestrictionsClear">_processRestrictionsClear</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._resetFocus">_resetFocus</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.renderAddToParent">renderAddToParent</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.renderDisplay">renderDisplay</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.renderFocus">renderFocus</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._storeSelection">_storeSelection</a></code>, <code><a href="Class.Echo.Sync.TextComponent#Method._storeValue">_storeValue</a></code></td>
</tr>
</table>
<br/>
<table class="table">
<tr>
<td>Methods inherited from class Echo.Render.ComponentSync</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Render.ComponentSync#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyDown">clientKeyDown</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyPress">clientKeyPress</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyUp">clientKeyUp</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getFocusFlags">getFocusFlags</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getPreferredSize">getPreferredSize</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.isChildVisible">isChildVisible</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderFocus">renderFocus</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderHide">renderHide</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDisplay">renderDisplay</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>






<div class="Header">Instance Method Detail</div>

<a name="Method.renderAdd"></a>
<span class="DetailPropertyName">renderAdd</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


