
<ul class="breadcrumb">
    <li>
    Echo.Sync.Button
  </li>
    <li class="active">
    ContentContainer
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync.Button.ContentContainer">Echo.Sync.Button.ContentContainer</a></code>
</li>
</ul>
</dd>
</dl>









<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Echo.Sync.Button.ContentContainer()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._rowPrototype">_rowPrototype</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createRowPrototype">_createRowPrototype()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._tableDiv">_tableDiv</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._cellElements">_cellElements</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._marginCellElement">_marginCellElement</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._orientation">_orientation</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._margin">_margin</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._verticalAlignment">_verticalAlignment</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.addCell">addCell()</a></code><br/>
Creates a cell div
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.createLayout">createLayout()</a></code><br/>
Creates the layout (table/rows/cells)
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._addColumn">_addColumn()</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._addRow">_addRow()</a></code><br/>

</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Echo.Sync.Button.ContentContainer()</span>

<dl>
<dd>

</dd>
</dl>
<hr/>



<div class="Header">Class Method Detail</div>

<a name="Method._createRowPrototype"></a>
<span class="DetailPropertyName">_createRowPrototype</span>

<dl>
<dd>



</dd>
</dl>
<hr/>




<div class="Header">Instance Method Detail</div>

<a name="Method.addCell"></a>
<span class="DetailPropertyName">addCell</span>

<dl>
<dd>Creates a cell div



</dd>
</dl>
<hr/>
<a name="Method.createLayout"></a>
<span class="DetailPropertyName">createLayout</span>

<dl>
<dd>Creates the layout (table/rows/cells)



</dd>
</dl>
<hr/>
<a name="Method._addColumn"></a>
<span class="DetailPropertyName">_addColumn</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method._addRow"></a>
<span class="DetailPropertyName">_addRow</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


