
<ul class="breadcrumb">
    <li>
    Core.Web
  </li>
    <li class="active">
    Measure
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Core.Web.Measure">Core.Web.Measure</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Namespace for measuring-related operations.</p></p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Core.Web.Measure.Bounds">Core.Web.Measure.Bounds</a></code></td>
</tr>
</tbody>
</table>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._scrollElements">_scrollElements</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._hInch">_hInch</a></code><br/>
Size of one inch in horizontal pixels.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._vInch">_vInch</a></code><br/>
Size of one inch in vertical pixels.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._hEx">_hEx</a></code><br/>
Size of one 'ex' in horizontal pixels.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._vEx">_vEx</a></code><br/>
Size of one 'ex' in vertical pixels.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._hEm">_hEm</a></code><br/>
Size of one 'em' in horizontal pixels.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._vEm">_vEm</a></code><br/>
Size of one 'em' in vertical pixels.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.SCROLL_WIDTH">SCROLL_WIDTH</a></code><br/>
Estimated scroll bar width.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.SCROLL_HEIGHT">SCROLL_HEIGHT</a></code><br/>
Estimated scroll bar height.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._PARSER">_PARSER</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.extentToPixels">extentToPixels(value, horizontal)</a></code><br/>
Converts any non-relative extent value to pixels.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._calculateExtentSizes">_calculateExtentSizes()</a></code><br/>
Updates internal measures used in converting length units 
(e.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getScrollOffset">_getScrollOffset(element)</a></code><br/>
Measures the scrollbar offset of an element, including any
scroll-bar related offsets of its ancestors.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getCumulativeOffset">_getCumulativeOffset(element)</a></code><br/>
Measures the cumulative offset of an element.
</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.extentToPixels"></a>
<span class="DetailPropertyName">extentToPixels</span>

<dl>
<dd>Converts any non-relative extent value to pixels.  Returns null in the case of a percentage extent.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>value</code> 
<em>(String)</em>
- a unitized extent value, e.g., "2px", "5em", etc.</dd>
<dd>
<code>horizontal</code> 
<em>(Boolean)</em>
- a flag indicating whether the extent is horizontal (true) or vertical (false)</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Number)</em>

the pixel value (may have a fractional part)
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._calculateExtentSizes"></a>
<span class="DetailPropertyName">_calculateExtentSizes</span>

<dl>
<dd>Updates internal measures used in converting length units 
(e.g., in, mm, ex, and em) to pixels.
Automatically invoked when Core.Web module is initialized.



</dd>
</dl>
<hr/>
<a name="Method._getScrollOffset"></a>
<span class="DetailPropertyName">_getScrollOffset</span>

<dl>
<dd>Measures the scrollbar offset of an element, including any
scroll-bar related offsets of its ancestors.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>element</code> 
- the element to measure</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Object)</em>

the offset data, with 'left' and 'top' properties specifying the offset amounts
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._getCumulativeOffset"></a>
<span class="DetailPropertyName">_getCumulativeOffset</span>

<dl>
<dd>Measures the cumulative offset of an element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>element</code> 
- the element to measure</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Object)</em>

the offset data, with 'left' and 'top' properties specifying the offset amounts
</dd>

</dl>

</dd>
</dl>
<hr/>




