
<ul class="breadcrumb">
    <li>
    Echo.Sync
  </li>
    <li class="active">
    Extent
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync.Extent">Echo.Sync.Extent</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Provides tools for rendering extent (dimension) properties.</p></p>







<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._PARSER">_PARSER</a></code><br/>
Regular expression to parse an extent value, e.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._FORMATTED_INT_PIXEL_TEST">_FORMATTED_INT_PIXEL_TEST</a></code><br/>
Regular expression to determine if an extent value is already formatted to pixel units.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._FORMATTED_DECIMAL_PIXEL_TEST">_FORMATTED_DECIMAL_PIXEL_TEST</a></code><br/>
Regular expression to determine if an extent value is already formatted to pixel units.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.isPercent">isPercent(extent)</a></code><br/>
Determines if an extent has percent units.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.render">render(extent, element, styleAttribute, horizontal, allowPercent)</a></code><br/>
Renders an extent value to an element.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toCssValue">toCssValue(extent, horizontal, allowPercent)</a></code><br/>
Returns a CSS representation of an extent value.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toPixels">toPixels(extent, horizontal)</a></code><br/>
Converts an extent value to pixels.
</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.isPercent"></a>
<span class="DetailPropertyName">isPercent</span>

<dl>
<dd>Determines if an extent has percent units.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>extent</code> 
<em>(#Extent)</em>
- the Extent</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Boolean)</em>

true if the extent has percent units
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.render"></a>
<span class="DetailPropertyName">render</span>

<dl>
<dd>Renders an extent value to an element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>extent</code> 
<em>(#Extent)</em>
- the Extent</dd>
<dd>
<code>element</code> 
<em>(Element)</em>
- the target element</dd>
<dd>
<code>styleAttribute</code> 
<em>(String)</em>
- the style attribute name, e.g., "padding-left", or "width"</dd>
<dd>
<code>horizontal</code> 
<em>(Boolean)</em>
- flag indicating whether the value is being rendered horizontally</dd>
<dd>
<code>allowPercent</code> 
<em>(Boolean)</em>
- flag indicating whether percent values should be rendered</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.toCssValue"></a>
<span class="DetailPropertyName">toCssValue</span>

<dl>
<dd>Returns a CSS representation of an extent value.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>extent</code> 
<em>(#Extent)</em>
- the Extent</dd>
<dd>
<code>horizontal</code> 
<em>(Boolean)</em>
- flag indicating whether the value is being rendered horizontally</dd>
<dd>
<code>allowPercent</code> 
<em>(Boolean)</em>
- flag indicating whether percent values should be rendered</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(String)</em>

the rendered CSS value or the empty string ("") if no value could be determined (null will never be returned)
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.toPixels"></a>
<span class="DetailPropertyName">toPixels</span>

<dl>
<dd>Converts an extent value to pixels.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>extent</code> 
<em>(#Extent)</em>
- the Extent</dd>
<dd>
<code>horizontal</code> 
<em>(Boolean)</em>
- flag indicating whether the value is being rendered horizontally</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Number)</em>

the pixel value
</dd>

</dl>

</dd>
</dl>
<hr/>




