
<ul class="breadcrumb">
    <li>
    Echo.Sync
  </li>
    <li class="active">
    Insets
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync.Insets">Echo.Sync.Insets</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Provides tools for rendering insets/margin/padding properties.</p></p>







<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._FORMATTED_PIXEL_INSETS">_FORMATTED_PIXEL_INSETS</a></code><br/>
Regular expression to test extents which are entirely presented in pixels
and may thus be directly added to CSS.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.render">render(insets, element, styleAttribute)</a></code><br/>
Renders an insets property to an element.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderPosition">renderPosition(insets, element)</a></code><br/>
Renders an insets property to an element as absolute position coordinates (i.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toCssValue">toCssValue(insets)</a></code><br/>
Generates a CSS value for an insets property.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toPixels">toPixels(insets)</a></code><br/>
Returns an object representing the pixel dimensions of a insets property.
</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.render"></a>
<span class="DetailPropertyName">render</span>

<dl>
<dd>Renders an insets property to an element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>insets</code> 
<em>(#Insets)</em>
- the insets property</dd>
<dd>
<code>element</code> 
<em>(Element)</em>
- the target element</dd>
<dd>
<code>styleAttribute</code> 
<em>(String)</em>
- the style attribute name, e.g., "padding" or "margin"</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.renderPosition"></a>
<span class="DetailPropertyName">renderPosition</span>

<dl>
<dd>Renders an insets property to an element as absolute position coordinates (i.e., top/right/bottom/left values).

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>insets</code> 
<em>(#Instes)</em>
- the insets property</dd>
<dd>
<code>element</code> 
<em>(Element)</em>
- the target element</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.toCssValue"></a>
<span class="DetailPropertyName">toCssValue</span>

<dl>
<dd>Generates a CSS value for an insets property.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>insets</code> 
<em>(#Insets)</em>
- the insets property</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(String)</em>

the CSS value
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.toPixels"></a>
<span class="DetailPropertyName">toPixels</span>

<dl>
<dd>Returns an object representing the pixel dimensions of a insets property.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>insets</code> 
<em>(#Insets)</em>
- the insets property</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>

an object containing top, bottom, left, and right values representing the pixel sizes of the insets property
</dd>

</dl>

</dd>
</dl>
<hr/>




