
<ul class="breadcrumb">
    <li>
    Extras.Sync
  </li>
    <li class="active">
    ToolTipContainer
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Render.ComponentSync">Echo.Render.ComponentSync</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.Sync.ToolTipContainer">Extras.Sync.ToolTipContainer</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Component rendering peer: ToolTipContainer. This class should not be extended by developers, the implementation is subject to change.</p></p>











<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._div">_div</a></code><br/>
Main container DIV element.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._applyDiv">_applyDiv</a></code><br/>
DIV container for component to which tool tip is being applied.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._toolTipDiv">_toolTipDiv</a></code><br/>
DIV container for tool tip component.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._positionToolTip">_positionToolTip(e)</a></code><br/>
Positions tool tip over applied-to component based on mouse position.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processMove">_processMove(e)</a></code><br/>
Processes a mouse move event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processRolloverEnter">_processRolloverEnter(e)</a></code><br/>
Processes a mouse rollover enter event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processRolloverExit">_processRolloverExit(e)</a></code><br/>
Processes a mouse rollover exit event.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderAdd">renderAdd()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderDispose">renderDispose()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderUpdate">renderUpdate()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Render.ComponentSync</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Render.ComponentSync#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyDown">clientKeyDown</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyPress">clientKeyPress</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyUp">clientKeyUp</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getFocusFlags">getFocusFlags</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getPreferredSize">getPreferredSize</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.isChildVisible">isChildVisible</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderFocus">renderFocus</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderHide">renderHide</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDisplay">renderDisplay</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>






<div class="Header">Instance Method Detail</div>

<a name="Method._positionToolTip"></a>
<span class="DetailPropertyName">_positionToolTip</span>

<dl>
<dd>Positions tool tip over applied-to component based on mouse position.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- a mouse event containing mouse cursor positioning information</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processMove"></a>
<span class="DetailPropertyName">_processMove</span>

<dl>
<dd>Processes a mouse move event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processRolloverEnter"></a>
<span class="DetailPropertyName">_processRolloverEnter</span>

<dl>
<dd>Processes a mouse rollover enter event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processRolloverExit"></a>
<span class="DetailPropertyName">_processRolloverExit</span>

<dl>
<dd>Processes a mouse rollover exit event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.renderAdd"></a>
<span class="DetailPropertyName">renderAdd</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderDispose"></a>
<span class="DetailPropertyName">renderDispose</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderUpdate"></a>
<span class="DetailPropertyName">renderUpdate</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


