
<ul class="breadcrumb">
    <li>
    Echo.Sync.SplitPane
  </li>
    <li class="active">
    ChildPane
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync.SplitPane.ChildPane">Echo.Sync.SplitPane.ChildPane</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Describes the configuration of a child pane of the SplitPane, including the child component and scroll bar positions.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Echo.Sync.SplitPane.ChildPane(splitPanePeer, component)</a></code><br/>
Creates a new PaneConfiguration instance
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.minimumSize">minimumSize</a></code><br/>
Minimum pixel size of the child pane.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.maximumSize">maximumSize</a></code><br/>
Maximum pixel size of the child pane.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.component">component</a></code><br/>
The child pane <code>Echo.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.layoutData">layoutData</a></code><br/>
The value of the child pane <code>Echo.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.scrollLeft">scrollLeft</a></code><br/>
Horizontal scroll position, in pixels.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.scrollTop">scrollTop</a></code><br/>
Vertical scroll position, in pixels.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.scrollRequired">scrollRequired</a></code><br/>
Flag indicating that scroll position should be reset on next renderDisplay() invocation.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._permanentSizes">_permanentSizes</a></code><br/>
Flag indicating whether sizing information is permanent (fixed pixel-based) or variable (percent-based).
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._peer">_peer</a></code><br/>
The SplitPane component rendering peer using this <code>ChildPane</code> object.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.loadDisplayData">loadDisplayData()</a></code><br/>
Load minimum and maximum separator positions for panes.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.loadScrollPositions">loadScrollPositions(paneDiv)</a></code><br/>
Update pane DIV element's scroll positions to reflect those stored in this object.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.storeScrollPositions">storeScrollPositions(paneDiv)</a></code><br/>
Retrieve scroll bar positions from pane DIV element and store in this object.
</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Echo.Sync.SplitPane.ChildPane(splitPanePeer, component)</span>

<dl>
<dd>Creates a new PaneConfiguration instance

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>splitPanePeer</code> 
<em>(<a href="Class.Echo.Sync.SplitPane">Echo.Sync.SplitPane</a>)</em>
- the relevant componentPeer</dd>
<dd>
<code>component</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the child component</dd>
</dl>
</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.loadDisplayData"></a>
<span class="DetailPropertyName">loadDisplayData</span>

<dl>
<dd>Load minimum and maximum separator positions for panes.



</dd>
</dl>
<hr/>
<a name="Method.loadScrollPositions"></a>
<span class="DetailPropertyName">loadScrollPositions</span>

<dl>
<dd>Update pane DIV element's scroll positions to reflect those stored in this object.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>paneDiv</code> 
- the pane's DIV element</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.storeScrollPositions"></a>
<span class="DetailPropertyName">storeScrollPositions</span>

<dl>
<dd>Retrieve scroll bar positions from pane DIV element and store in this object.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>paneDiv</code> 
- the pane's DIV element</dd>
</dl>


</dd>
</dl>
<hr/>


