
<ul class="breadcrumb">
    <li>
    Echo.Client
  </li>
    <li class="active">
    DefaultOutdatedBrowserWarning
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Client.OutdatedBrowserWarning">Echo.Client.OutdatedBrowserWarning</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.Client.DefaultOutdatedBrowserWarning">Echo.Client.DefaultOutdatedBrowserWarning</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Default outdated browser warning implementation</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Echo.Client.DefaultOutdatedBrowserWarning()</a></code><br/>
Creates a new DefaultWaitIndicator.
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._div">_div</a></code><br/>
Container div
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._aClose">_aClose</a></code><br/>
Anchor element within the container div used to dismiss the warning
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.show">show()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.dispose">dispose()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Client.OutdatedBrowserWarning</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Client.OutdatedBrowserWarning#Method.show">show</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Echo.Client.OutdatedBrowserWarning()</span>

<dl>
<dd>Creates a new DefaultWaitIndicator.

</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.show"></a>
<span class="DetailPropertyName">show</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.dispose"></a>
<span class="DetailPropertyName">dispose</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


