
<ul class="breadcrumb">
    <li>
    Echo.Client
  </li>
    <li class="active">
    DefaultWaitIndicator
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Client.WaitIndicator">Echo.Client.WaitIndicator</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.Client.DefaultWaitIndicator">Echo.Client.DefaultWaitIndicator</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Default wait indicator implementation.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Echo.Client.DefaultWaitIndicator()</a></code><br/>
Creates a new DefaultWaitIndicator.
</td>
</tr>
</table>
<br/>








<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.activate">activate()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.deactivate">deactivate()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.dispose">dispose()</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._tick">_tick()</a></code><br/>
Runnable-invoked method to animate (fade in/out) wait indicator.
</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Client.WaitIndicator</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Client.WaitIndicator#Method.activate">activate</a></code>, <code><a href="Class.Echo.Client.WaitIndicator#Method.deactivate">deactivate</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Echo.Client.WaitIndicator()</span>

<dl>
<dd>Creates a new DefaultWaitIndicator.

</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.activate"></a>
<span class="DetailPropertyName">activate</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.deactivate"></a>
<span class="DetailPropertyName">deactivate</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.dispose"></a>
<span class="DetailPropertyName">dispose</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method._tick"></a>
<span class="DetailPropertyName">_tick</span>

<dl>
<dd>Runnable-invoked method to animate (fade in/out) wait indicator.



</dd>
</dl>
<hr/>


