
<ul class="breadcrumb">
    <li>
    Echo.Serial
  </li>
    <li class="active">
    PropertyTranslator
  </li>
</ul>

<span class="badge badge-important">Abstract</span>

<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Serial.PropertyTranslator">Echo.Serial.PropertyTranslator</a></code>
</li>
</ul>
</dd>
</dl>

<dl>
<dt><strong>Direct Known Subclasses:</strong></dt>
<dd>
<code><a href="Class.Echo.Serial.Alignment">Echo.Serial.Alignment</a></code>, <code><a href="Class.Echo.Serial.Boolean">Echo.Serial.Boolean</a></code>, <code><a href="Class.Echo.Serial.Border">Echo.Serial.Border</a></code>, <code><a href="Class.Echo.Serial.BoxShadow">Echo.Serial.BoxShadow</a></code>, <code><a href="Class.Echo.Serial.Date">Echo.Serial.Date</a></code>, <code><a href="Class.Echo.Serial.FillImage">Echo.Serial.FillImage</a></code>, <code><a href="Class.Echo.Serial.FillImageBorder">Echo.Serial.FillImageBorder</a></code>, <code><a href="Class.Echo.Serial.Font">Echo.Serial.Font</a></code>, <code><a href="Class.Echo.Serial.ImageReference">Echo.Serial.ImageReference</a></code>, <code><a href="Class.Echo.Serial.Integer">Echo.Serial.Integer</a></code>, <code><a href="Class.Echo.Serial.LayoutData">Echo.Serial.LayoutData</a></code>, <code><a href="Class.Echo.Serial.Map">Echo.Serial.Map</a></code>, <code><a href="Class.Echo.Serial.Null">Echo.Serial.Null</a></code>, <code><a href="Class.Echo.Serial.Number">Echo.Serial.Number</a></code>, <code><a href="Class.Echo.Serial.String">Echo.Serial.String</a></code>, <code><a href="Class.Extras.Serial.ItemModel">Extras.Serial.ItemModel</a></code>, <code><a href="Class.Extras.Serial.MenuModel">Extras.Serial.MenuModel</a></code>, <code><a href="Class.Extras.Serial.MenuStateModel">Extras.Serial.MenuStateModel</a></code>, <code><a href="Class.Extras.Serial.OptionModel">Extras.Serial.OptionModel</a></code>, <code><a href="Class.Extras.Serial.RadioOptionModel">Extras.Serial.RadioOptionModel</a></code>, <code><a href="Class.Extras.Serial.SeparatorModel">Extras.Serial.SeparatorModel</a></code>, <code><a href="Class.Extras.Serial.ToggleOptionModel">Extras.Serial.ToggleOptionModel</a></code></dd>
</dl>



<p><p>Abstract base class for property translators.</p></p>







<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.toXml">toXml</a></code><br/>
Optional: converts a property instance to an XML property element.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toProperty">toProperty(client, the)</a></code><br/>
Converts an XML property value to a property instance.
</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.toProperty"></a>
<span class="DetailPropertyName">toProperty</span>

<dl>
<dd>Converts an XML property value to a property instance.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>client</code> 
<em>(<a href="Class.Echo.Client">Echo.Client</a>)</em>
- the client</dd>
<dd>
<code>the</code> 
<em>(Element)</em>
- "p" DOM element describing the property value</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>

the generated property instance
</dd>

</dl>

</dd>
</dl>
<hr/>




