
<ul class="breadcrumb">
    <li>
    Extras.Sync.RichTextArea
  </li>
    <li class="active">
    AbstractDialog
  </li>
</ul>

<span class="badge badge-important">Abstract</span>

<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Component">Echo.Component</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.WindowPane">Echo.WindowPane</a></code>
</li>
<li style="margin-left: 45px">
<code><a href="Class.Extras.Sync.RichTextArea.AbstractDialog">Extras.Sync.RichTextArea.AbstractDialog</a></code>
</li>
</ul>
</dd>
</dl>

<dl>
<dt><strong>Direct Known Subclasses:</strong></dt>
<dd>
<code><a href="Class.Extras.Sync.RichTextArea.ColorDialog">Extras.Sync.RichTextArea.ColorDialog</a></code>, <code><a href="Class.Extras.Sync.RichTextArea.HyperlinkDialog">Extras.Sync.RichTextArea.HyperlinkDialog</a></code>, <code><a href="Class.Extras.Sync.RichTextArea.ImageDialog">Extras.Sync.RichTextArea.ImageDialog</a></code>, <code><a href="Class.Extras.Sync.RichTextArea.TableDialog">Extras.Sync.RichTextArea.TableDialog</a></code></dd>
</dl>



<p><p>Abstract dialog message box. Displays arbitrary content and provides the user "Ok" and/or "Cancel" options.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.Sync.RichTextArea.AbstractDialog(rta, type, properties, content)</a></code><br/>
Constructor.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.TYPE_OK">TYPE_OK</a></code><br/>
Type flag indicating only an "Ok" option should be made available.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.TYPE_OK_CANCEL">TYPE_OK_CANCEL</a></code><br/>
Type flag indicating both "Ok" and "Cancel" options should be made available.
</td>
</tr>
</table>
<br/>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.rta">rta</a></code><br/>
The owning RichTextArea.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Method.processCancel">processCancel(e)</a></code><br/>
Processes a user selection of the "Cancel" button.
</td>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Method.processOk">processOk(e)</a></code><br/>
Processes a user selection of the "OK" button.
</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.WindowPane</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.WindowPane#Method.userClose">userClose</a></code>, <code><a href="Class.Echo.WindowPane#Method.userMaximize">userMaximize</a></code>, <code><a href="Class.Echo.WindowPane#Method.userMinimize">userMinimize</a></code></td>
</tr>
</table>
<br/>
<table class="table">
<tr>
<td>Methods inherited from class Echo.Component</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Component#Method.add">add</a></code>, <code><a href="Class.Echo.Component#Method.addListener">addListener</a></code>, <code><a href="Class.Echo.Component#Method.fireEvent">fireEvent</a></code>, <code><a href="Class.Echo.Component#Method.get">get</a></code>, <code><a href="Class.Echo.Component#Method.getComponent">getComponent</a></code>, <code><a href="Class.Echo.Component#Method.getComponentCount">getComponentCount</a></code>, <code><a href="Class.Echo.Component#Method.getIndex">getIndex</a></code>, <code><a href="Class.Echo.Component#Method.getLayoutDirection">getLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.getLocale">getLocale</a></code>, <code><a href="Class.Echo.Component#Method.getLocalStyleData">getLocalStyleData</a></code>, <code><a href="Class.Echo.Component#Method.getRenderLayoutDirection">getRenderLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.getRenderLocale">getRenderLocale</a></code>, <code><a href="Class.Echo.Component#Method.getStyle">getStyle</a></code>, <code><a href="Class.Echo.Component#Method.getStyleName">getStyleName</a></code>, <code><a href="Class.Echo.Component#Method.indexOf">indexOf</a></code>, <code><a href="Class.Echo.Component#Method.isActive">isActive</a></code>, <code><a href="Class.Echo.Component#Method.isAncestorOf">isAncestorOf</a></code>, <code><a href="Class.Echo.Component#Method.isEnabled">isEnabled</a></code>, <code><a href="Class.Echo.Component#Method.isRenderEnabled">isRenderEnabled</a></code>, <code><a href="Class.Echo.Component#Method.register">register</a></code>, <code><a href="Class.Echo.Component#Method.render">render</a></code>, <code><a href="Class.Echo.Component#Method.renderIndex">renderIndex</a></code>, <code><a href="Class.Echo.Component#Method.remove">remove</a></code>, <code><a href="Class.Echo.Component#Method.removeAll">removeAll</a></code>, <code><a href="Class.Echo.Component#Method.removeListener">removeListener</a></code>, <code><a href="Class.Echo.Component#Method.removeAllListeners">removeAllListeners</a></code>, <code><a href="Class.Echo.Component#Method.set">set</a></code>, <code><a href="Class.Echo.Component#Method.setEnabled">setEnabled</a></code>, <code><a href="Class.Echo.Component#Method.setIndex">setIndex</a></code>, <code><a href="Class.Echo.Component#Method.setLayoutDirection">setLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.setLocale">setLocale</a></code>, <code><a href="Class.Echo.Component#Method.setStyle">setStyle</a></code>, <code><a href="Class.Echo.Component#Method.setStyleName">setStyleName</a></code>, <code><a href="Class.Echo.Component#Method.toString">toString</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Echo.Component(rta, type, properties, content)</span>

<dl>
<dd>Constructor.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>rta</code> 
<em>(<a href="Class.Extras.RichTextArea">Extras.RichTextArea</a>)</em>
- the owning RichTextArea</dd>
<dd>
<code>type</code> 
<em>(Number)</em>
- the dialog type, either <code>TYPE_OK</code> or <code>TYPE_OK_CANCEL</code></dd>
<dd>
<code>properties</code> 
- initial properties to be set on the WindowPane</dd>
<dd>
<code>content</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the component to display within the dialog</dd>
</dl>
</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.processCancel"></a>
<span class="DetailPropertyName">processCancel</span>

<dl>
<dd>Processes a user selection of the "Cancel" button.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.processOk"></a>
<span class="DetailPropertyName">processOk</span>

<dl>
<dd>Processes a user selection of the "OK" button.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>


