
<ul class="breadcrumb">
    <li>
    Extras
  </li>
    <li class="active">
    Sync
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Extras.Sync">Extras.Sync</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Extras components synchronization peer namespace. Any objects in this namespace should not be accessed by application developers or extended outside of the Extras library.</p></p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.AccordionPane">Extras.Sync.AccordionPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.AccordionPane.Rotation">Extras.Sync.AccordionPane.Rotation</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.AccordionPane.Tab">Extras.Sync.AccordionPane.Tab</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.Animation">Extras.Sync.Animation</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.BorderPane">Extras.Sync.BorderPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.CalendarSelect">Extras.Sync.CalendarSelect</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.CalendarSelect.Animation">Extras.Sync.CalendarSelect.Animation</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.CalendarSelect.MonthData">Extras.Sync.CalendarSelect.MonthData</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.ColorSelect">Extras.Sync.ColorSelect</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.ColorSelect.RGB">Extras.Sync.ColorSelect.RGB</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.ContextMenu">Extras.Sync.ContextMenu</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.DropDownMenu">Extras.Sync.DropDownMenu</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.Group">Extras.Sync.Group</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.Menu">Extras.Sync.Menu</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.Menu.RenderedMenu">Extras.Sync.Menu.RenderedMenu</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.Menu.RenderedMenu.FadeAnimation">Extras.Sync.Menu.RenderedMenu.FadeAnimation</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.MenuBarPane">Extras.Sync.MenuBarPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea">Extras.Sync.RichTextArea</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.AbstractDialog">Extras.Sync.RichTextArea.AbstractDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.ColorDialog">Extras.Sync.RichTextArea.ColorDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.HyperlinkDialog">Extras.Sync.RichTextArea.HyperlinkDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.ImageDialog">Extras.Sync.RichTextArea.ImageDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.OverlayPane">Extras.Sync.RichTextArea.OverlayPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.OverlayPanePeer">Extras.Sync.RichTextArea.OverlayPanePeer</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.TableDialog">Extras.Sync.RichTextArea.TableDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.TableSizeSelector">Extras.Sync.RichTextArea.TableSizeSelector</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.TableSizeSelectorPeer">Extras.Sync.RichTextArea.TableSizeSelectorPeer</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.ToolbarButton">Extras.Sync.RichTextArea.ToolbarButton</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.ToolbarButtonPeer">Extras.Sync.RichTextArea.ToolbarButtonPeer</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.TabPane">Extras.Sync.TabPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.TabPane.ScrollRunnable">Extras.Sync.TabPane.ScrollRunnable</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.TabPane.Tab">Extras.Sync.TabPane.Tab</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.ToolTipContainer">Extras.Sync.ToolTipContainer</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.TransitionPane">Extras.Sync.TransitionPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.TransitionPane.BlindTransition">Extras.Sync.TransitionPane.BlindTransition</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.TransitionPane.FadeOpacityColorTransition">Extras.Sync.TransitionPane.FadeOpacityColorTransition</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.TransitionPane.FadeOpacityTransition">Extras.Sync.TransitionPane.FadeOpacityTransition</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.TransitionPane.Transition">Extras.Sync.TransitionPane.Transition</a></code></td>
</tr>
</tbody>
</table>

















<a name="Constructor"></a>






