
<ul class="breadcrumb">
    <li>
    Extras.Sync
  </li>
    <li class="active">
    Group
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Render.ComponentSync">Echo.Render.ComponentSync</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.Sync.Group">Extras.Sync.Group</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Component rendering peer: Group. This class should not be extended by developers, the implementation is subject to change.</p></p>











<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._div">_div</a></code><br/>
Main outer DIV element.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._borderImages">_borderImages</a></code><br/>
Array of component-provided border images (may be null if unspecified).
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getBorderImage">_getBorderImage(position, repeat, x, y)</a></code><br/>
Creates a FillImage value for the given position, repeat, and position settings.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderAdd">renderAdd()</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderBorder">_renderBorder(the)</a></code><br/>
Renders border element, appends to main DIV.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderContent">_renderContent(the, the)</a></code><br/>
Renders the content (child) of the Group.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderDispose">renderDispose()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderUpdate">renderUpdate()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Render.ComponentSync</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Render.ComponentSync#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyDown">clientKeyDown</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyPress">clientKeyPress</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyUp">clientKeyUp</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getFocusFlags">getFocusFlags</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getPreferredSize">getPreferredSize</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.isChildVisible">isChildVisible</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderFocus">renderFocus</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderHide">renderHide</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDisplay">renderDisplay</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>






<div class="Header">Instance Method Detail</div>

<a name="Method._getBorderImage"></a>
<span class="DetailPropertyName">_getBorderImage</span>

<dl>
<dd>Creates a FillImage value for the given position, repeat, and position settings.
Images are retrieved from component-set or default border image array.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>position</code> 
<em>(Number)</em>
- the position index (0-7)</dd>
<dd>
<code>repeat</code> 
<em>(String)</em>
- the repeat setting</dd>
<dd>
<code>x</code> 
<em>(#Extent)</em>
- the rendered horizontal position, e.g., 0, or "100%"</dd>
<dd>
<code>y</code> 
<em>(#Extent)</em>
- the rendered vertical position, e.g., 0, or "100%"</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(#FillImage)</em>

the rendered image
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.renderAdd"></a>
<span class="DetailPropertyName">renderAdd</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method._renderBorder"></a>
<span class="DetailPropertyName">_renderBorder</span>

<dl>
<dd>Renders border element, appends to main DIV.  Invokes _renderContent() to render content and append to
DOM hierarchy in appropriate position.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>the</code> 
<em>(<a href="Class.Echo.Update.ComponentUpdate">Echo.Update.ComponentUpdate</a>)</em>
- update</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._renderContent"></a>
<span class="DetailPropertyName">_renderContent</span>

<dl>
<dd>Renders the content (child) of the Group.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>the</code> 
<em>(<a href="Class.Echo.Update.ComponentUpdate">Echo.Update.ComponentUpdate</a>)</em>
- update</dd>
<dd>
<code>the</code> 
<em>(Element)</em>
- element to which the content should be appended</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.renderDispose"></a>
<span class="DetailPropertyName">renderDispose</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderUpdate"></a>
<span class="DetailPropertyName">renderUpdate</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


