
<ul class="breadcrumb">
    <li>
    Echo.Arc
  </li>
    <li class="active">
    Client
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Client">Echo.Client</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.FreeClient">Echo.FreeClient</a></code>
</li>
<li style="margin-left: 45px">
<code><a href="Class.Echo.Arc.Client">Echo.Arc.Client</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Client for application-rendered components. These clients are automatically created and destroyed by the ArcClient component synchronization peer.</p></p>











<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.arcSync">arcSync</a></code><br/>
The synchronization peer for the application-rendered component.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.verifyInput">verifyInput()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.FreeClient</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.FreeClient#Method.addResourcePath">addResourcePath</a></code>, <code><a href="Class.Echo.FreeClient#Method.dispose">dispose</a></code>, <code><a href="Class.Echo.FreeClient#Method._doRender">_doRender</a></code>, <code><a href="Class.Echo.FreeClient#Method.getResourceUrl">getResourceUrl</a></code>, <code><a href="Class.Echo.FreeClient#Method.init">init</a></code>, <code><a href="Class.Echo.FreeClient#Method.loadStyleSheet">loadStyleSheet</a></code>, <code><a href="Class.Echo.FreeClient#Method._processStyleSheet">_processStyleSheet</a></code>, <code><a href="Class.Echo.FreeClient#Method._processUpdate">_processUpdate</a></code></td>
</tr>
</table>
<br/>
<table class="table">
<tr>
<td>Methods inherited from class Echo.Client</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Client#Method.getResourceUrl">getResourceUrl</a></code>, <code><a href="Class.Echo.Client#Method.verifyInput">verifyInput</a></code>, <code><a href="Class.Echo.Client#Method.dispose">dispose</a></code>, <code><a href="Class.Echo.Client#Method.addElement">addElement</a></code>, <code><a href="Class.Echo.Client#Method.configure">configure</a></code>, <code><a href="Class.Echo.Client#Method._isBrowserOutdated">_isBrowserOutdated</a></code>, <code><a href="Class.Echo.Client#Method._showBrowserWarning">_showBrowserWarning</a></code>, <code><a href="Class.Echo.Client#Method.createInputRestriction">createInputRestriction</a></code>, <code><a href="Class.Echo.Client#Method.displayError">displayError</a></code>, <code><a href="Class.Echo.Client#Method.exec">exec</a></code>, <code><a href="Class.Echo.Client#Method.fail">fail</a></code>, <code><a href="Class.Echo.Client#Method.forceRedraw">forceRedraw</a></code>, <code><a href="Class.Echo.Client#Method.getWaitIndicator">getWaitIndicator</a></code>, <code><a href="Class.Echo.Client#Method.getOutdatedBrowserWarning">getOutdatedBrowserWarning</a></code>, <code><a href="Class.Echo.Client#Method._processApplicationFocus">_processApplicationFocus</a></code>, <code><a href="Class.Echo.Client#Method._processKey">_processKey</a></code>, <code><a href="Class.Echo.Client#Method.processUpdates">processUpdates</a></code>, <code><a href="Class.Echo.Client#Method.registerRestrictionListener">registerRestrictionListener</a></code>, <code><a href="Class.Echo.Client#Method.hasRestrictionListener">hasRestrictionListener</a></code>, <code><a href="Class.Echo.Client#Method.removeInputRestriction">removeInputRestriction</a></code>, <code><a href="Class.Echo.Client#Method._setWaitVisible">_setWaitVisible</a></code>, <code><a href="Class.Echo.Client#Method.setWaitIndicator">setWaitIndicator</a></code>, <code><a href="Class.Echo.Client#Method.setOutdatedBrowserWarning">setOutdatedBrowserWarning</a></code>, <code><a href="Class.Echo.Client#Method.removeElement">removeElement</a></code>, <code><a href="Class.Echo.Client#Method._waitIndicatorActivate">_waitIndicatorActivate</a></code>, <code><a href="Class.Echo.Client#Method._windowResizeListener">_windowResizeListener</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>






<div class="Header">Instance Method Detail</div>

<a name="Method.verifyInput"></a>
<span class="DetailPropertyName">verifyInput</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


