
<ul class="breadcrumb">
    <li>
    Extras.Sync
  </li>
    <li class="active">
    CalendarSelect
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Render.ComponentSync">Echo.Render.ComponentSync</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.Sync.CalendarSelect">Extras.Sync.CalendarSelect</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>Component rendering peer: CalendarSelect. This class should not be extended by developers, the implementation is subject to change.</p></p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.CalendarSelect.Animation">Extras.Sync.CalendarSelect.Animation</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.CalendarSelect.MonthData">Extras.Sync.CalendarSelect.MonthData</a></code></td>
</tr>
</tbody>
</table>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.MINIMUM_YEAR">MINIMUM_YEAR</a></code><br/>
Minimum year to display (1582, beginning of Gregorian calendar).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.MAXIMUM_YEAR">MAXIMUM_YEAR</a></code><br/>
Maximum year to display (9999).
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._DAYS_IN_MONTH">_DAYS_IN_MONTH</a></code><br/>
Array-map mapping month numbers (indices) to numbers of days in the month.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.resource">resource</a></code><br/>
Localization resource bundle.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getDaysInMonth">getDaysInMonth(year, month)</a></code><br/>
Determines the number of days in a specific month.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._div">_div</a></code><br/>
Main outer DIV element.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._monthYearInput">_monthYearInput</a></code><br/>
Container element for month/year fields.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._monthSelect">_monthSelect</a></code><br/>
Month SELECT field.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._yearField">_yearField</a></code><br/>
Year INPUT field.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._dateRolloverBackground">_dateRolloverBackground</a></code><br/>
Date rollover background color.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._dateRolloverBackgroundImage">_dateRolloverBackgroundImage</a></code><br/>
Date rollover background image.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._dateRolloverBorder">_dateRolloverBorder</a></code><br/>
Date rollover border.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._dateRolloverForeground">_dateRolloverForeground</a></code><br/>
Date rollover foreground color.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._dateSelectedBackground">_dateSelectedBackground</a></code><br/>
Date selection background color.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._dateSelectedBackgroundImage">_dateSelectedBackgroundImage</a></code><br/>
Date selection background image.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._dateSelectedBorder">_dateSelectedBorder</a></code><br/>
Date selection border.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._dateSelectedForeground">_dateSelectedForeground</a></code><br/>
Date selection foreground color.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._rolloverCellIndex">_rolloverCellIndex</a></code><br/>
Index of currently rolled over cell.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._displayedMonth">_displayedMonth</a></code><br/>
Currently displayed month.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._displayedYear">_displayedYear</a></code><br/>
Currently displayed year.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._firstDayOfWeek">_firstDayOfWeek</a></code><br/>
First day of week for displayed localization (0 = Sunday).
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._date">_date</a></code><br/>
Currently selected date.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._msg">_msg</a></code><br/>
Localization data map.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._icons">_icons</a></code><br/>
Custom icons map.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._animateUpdate">_animateUpdate(vertical, forward, rowOverlap)</a></code><br/>
Performs an animated update of the calendar.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createDayContainer">_createDayContainer()</a></code><br/>
Creates a day-container DIV element, which will hold the days of the calendar.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createMonthYearInput">_createMonthYearInput()</a></code><br/>
Creates the month and year input controls positioned above the calendar.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createWeek">_createWeek()</a></code><br/>
Creates a DIV containing a single week of days.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getCell">_getCell(cellIndex)</a></code><br/>
Returns the cell DIV for the specified cell index.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._loadRenderData">_loadRenderData()</a></code><br/>
Loads rendering information from component into local object.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processDateRolloverEnter">_processDateRolloverEnter(e)</a></code><br/>
Processes a date rollover enter event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processDateRolloverExit">_processDateRolloverExit(e)</a></code><br/>
Processes a date rollover exit event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processDateSelect">_processDateSelect(e)</a></code><br/>
Processes a date selection (click) event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processMonthSelect">_processMonthSelect(e)</a></code><br/>
Processes a month selection event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processYearChange">_processYearChange(e)</a></code><br/>
Processes a year input field change event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processYearKeyUp">_processYearKeyUp(e)</a></code><br/>
Processes a year input field key-up event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processYearDecrement">_processYearDecrement(e)</a></code><br/>
Processes a year decrement button click event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processYearIncrement">_processYearIncrement(e)</a></code><br/>
Processes a year increment button click event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._rangeCheck">_rangeCheck(date)</a></code><br/>
Validates the specified date object (containing month/year/day properties to be within the constrained range.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderAdd">renderAdd()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderDispose">renderDispose()</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderSizeUpdate">_renderSizeUpdate()</a></code><br/>
Detects if the CalendarSelect is properly sized (i.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderUpdate">renderUpdate()</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._setCellStyle">_setCellStyle(cellIndex, rollover, reset)</a></code><br/>
Sets the style of a specific day cell.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._setDate">_setDate(newValue)</a></code><br/>
Sets the selected date.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._storeValue">_storeValue()</a></code><br/>
Stores the selected date in the <code>Echo.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._updateMonthYearSelection">_updateMonthYearSelection()</a></code><br/>
Updates the month/year field selection values.
</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Render.ComponentSync</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Render.ComponentSync#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyDown">clientKeyDown</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyPress">clientKeyPress</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyUp">clientKeyUp</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getFocusFlags">getFocusFlags</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getPreferredSize">getPreferredSize</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.isChildVisible">isChildVisible</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderFocus">renderFocus</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderHide">renderHide</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDisplay">renderDisplay</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.getDaysInMonth"></a>
<span class="DetailPropertyName">getDaysInMonth</span>

<dl>
<dd>Determines the number of days in a specific month.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>year</code> 
- the year of the month</dd>
<dd>
<code>month</code> 
- the month</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>

the number of days in the month
</dd>

</dl>

</dd>
</dl>
<hr/>




<div class="Header">Instance Method Detail</div>

<a name="Method._animateUpdate"></a>
<span class="DetailPropertyName">_animateUpdate</span>

<dl>
<dd>Performs an animated update of the calendar.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>vertical</code> 
<em>(Boolean)</em>
- transition new content in vertically (true) or horizontally (false)</dd>
<dd>
<code>forward</code> 
<em>(Boolean)</em>
- transition new content in rightward/downward (true) or upward/leftward (false)</dd>
<dd>
<code>rowOverlap</code> 
<em>(Number)</em>
- number of rows to overlap (applicable only in vertical transition)</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._createDayContainer"></a>
<span class="DetailPropertyName">_createDayContainer</span>

<dl>
<dd>Creates a day-container DIV element, which will hold the days of the calendar.  These elements are added to and removed
from the calendar using animation (if desired).


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Element)</em>

the day container element
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._createMonthYearInput"></a>
<span class="DetailPropertyName">_createMonthYearInput</span>

<dl>
<dd>Creates the month and year input controls positioned above the calendar.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Element)</em>

an element containing the month/year controls.
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._createWeek"></a>
<span class="DetailPropertyName">_createWeek</span>

<dl>
<dd>Creates a DIV containing a single week of days.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Element)</em>

the created DIV
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._getCell"></a>
<span class="DetailPropertyName">_getCell</span>

<dl>
<dd>Returns the cell DIV for the specified cell index.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>cellIndex</code> 
<em>(Number)</em>
- the cell index (0 = upper left)</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Element)</em>

the DIV element
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._loadRenderData"></a>
<span class="DetailPropertyName">_loadRenderData</span>

<dl>
<dd>Loads rendering information from component into local object.
Calculates required sizes for day elements.



</dd>
</dl>
<hr/>
<a name="Method._processDateRolloverEnter"></a>
<span class="DetailPropertyName">_processDateRolloverEnter</span>

<dl>
<dd>Processes a date rollover enter event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processDateRolloverExit"></a>
<span class="DetailPropertyName">_processDateRolloverExit</span>

<dl>
<dd>Processes a date rollover exit event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processDateSelect"></a>
<span class="DetailPropertyName">_processDateSelect</span>

<dl>
<dd>Processes a date selection (click) event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processMonthSelect"></a>
<span class="DetailPropertyName">_processMonthSelect</span>

<dl>
<dd>Processes a month selection event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processYearChange"></a>
<span class="DetailPropertyName">_processYearChange</span>

<dl>
<dd>Processes a year input field change event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processYearKeyUp"></a>
<span class="DetailPropertyName">_processYearKeyUp</span>

<dl>
<dd>Processes a year input field key-up event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processYearDecrement"></a>
<span class="DetailPropertyName">_processYearDecrement</span>

<dl>
<dd>Processes a year decrement button click event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processYearIncrement"></a>
<span class="DetailPropertyName">_processYearIncrement</span>

<dl>
<dd>Processes a year increment button click event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._rangeCheck"></a>
<span class="DetailPropertyName">_rangeCheck</span>

<dl>
<dd>Validates the specified date object (containing month/year/day properties to be within the constrained range.
The date will be adjusted (if necessary) to comply with the constrained range.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>date</code> 
- a date object containing month/day/year numeric properties</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.renderAdd"></a>
<span class="DetailPropertyName">renderAdd</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderDispose"></a>
<span class="DetailPropertyName">renderDispose</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method._renderSizeUpdate"></a>
<span class="DetailPropertyName">_renderSizeUpdate</span>

<dl>
<dd>Detects if the CalendarSelect is properly sized (i.e., as a result of additional images having been loaded) and
re-renders it if required.



</dd>
</dl>
<hr/>
<a name="Method.renderUpdate"></a>
<span class="DetailPropertyName">renderUpdate</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method._setCellStyle"></a>
<span class="DetailPropertyName">_setCellStyle</span>

<dl>
<dd>Sets the style of a specific day cell.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>cellIndex</code> 
<em>(Number)</em>
- the cell index (0 = upper-left)</dd>
<dd>
<code>rollover</code> 
<em>(Boolean)</em>
- flag indicating whether the mouse is currently rolled over the cell</dd>
<dd>
<code>reset</code> 
<em>(Boolean)</em>
- flag indicating whether the cell should be reset to its default state</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._setDate"></a>
<span class="DetailPropertyName">_setDate</span>

<dl>
<dd>Sets the selected date.  Updates month/year fields and animates in new month/year if required.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>newValue</code> 
- an object providing month, day, and year numeric properties</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._storeValue"></a>
<span class="DetailPropertyName">_storeValue</span>

<dl>
<dd>Stores the selected date in the <code>Echo.Component</code> instance.



</dd>
</dl>
<hr/>
<a name="Method._updateMonthYearSelection"></a>
<span class="DetailPropertyName">_updateMonthYearSelection</span>

<dl>
<dd>Updates the month/year field selection values.



</dd>
</dl>
<hr/>


