
<ul class="breadcrumb">
    <li class="active">
    FileTransfer
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul>
<li>Object</li>
<li style="margin-left: 15px">
<code><a href="Class.FileTransfer">FileTransfer</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>File transfer root namespace object. Components are contained directly in this namespace.</p></p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.AbstractUploadSelect">FileTransfer.AbstractUploadSelect</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.MultipleUploadSelect">FileTransfer.MultipleUploadSelect</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.FileTransfer.UploadSelect">FileTransfer.UploadSelect</a></code></td>
</tr>
</tbody>
</table>

















<a name="Constructor"></a>






