
<ul class="breadcrumb">
    <li>
    Extras
  </li>
    <li class="active">
    TabPane
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Component">Echo.Component</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.TabPane">Extras.TabPane</a></code>
</li>
</ul>
</dd>
</dl>




<p><p>TabPane component: a container which displays children as an array of tabs, displaying only the component whose tab is selected at a specific time. May contain zero or more child components. May contain pane components as children.</p></p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.TabPane(properties)</a></code><br/>
Constructor.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BORDER_TYPE_NONE">BORDER_TYPE_NONE</a></code><br/>
Constant for the <code>borderType</code> property indicating that no 
border should be drawn around the content.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BORDER_TYPE_ADJACENT_TO_TABS">BORDER_TYPE_ADJACENT_TO_TABS</a></code><br/>
Constant for the <code>borderType</code> property indicating that a
border should be drawn immediately adjacent to the tabs only.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BORDER_TYPE_PARALLEL_TO_TABS">BORDER_TYPE_PARALLEL_TO_TABS</a></code><br/>
Constant for the <code>borderType</code> property indicating that
borders should be drawn above and below the content, but not at its 
sides.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.BORDER_TYPE_SURROUND">BORDER_TYPE_SURROUND</a></code><br/>
Constant for the <code>borderType</code> property indicating that
borders should be drawn on all sides of the content.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.TAB_POSITION_TOP">TAB_POSITION_TOP</a></code><br/>
Constant for the <code>tabPosition</code> property indicating that
the tabs are positioned at the top of the <code>TabPane</code>.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.TAB_POSITION_BOTTOM">TAB_POSITION_BOTTOM</a></code><br/>
Constant for the <code>tabPosition</code> property indicating that
the tabs are positioned at the bottom of the <code>TabPane</code>.
</td>
</tr>
</table>
<br/>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.componentType">componentType</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.pane">pane</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.focusable">focusable</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getFocusOrder">getFocusOrder()</a></code><br/>
Returns the order in which the tab children should be focused.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.doTabClose">doTabClose(tabId)</a></code><br/>
Processes a user request to close a tab.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.doTabSelect">doTabSelect(tabId, focus)</a></code><br/>
Processes a user request to select a tab.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._tabChangeListener">_tabChangeListener(e)</a></code><br/>
Internal property listener which synchronizes activeTabIndex and activeTabId properties when possible.
</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Component</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Component#Method.add">add</a></code>, <code><a href="Class.Echo.Component#Method.addListener">addListener</a></code>, <code><a href="Class.Echo.Component#Method.fireEvent">fireEvent</a></code>, <code><a href="Class.Echo.Component#Method.get">get</a></code>, <code><a href="Class.Echo.Component#Method.getComponent">getComponent</a></code>, <code><a href="Class.Echo.Component#Method.getComponentCount">getComponentCount</a></code>, <code><a href="Class.Echo.Component#Method.getIndex">getIndex</a></code>, <code><a href="Class.Echo.Component#Method.getLayoutDirection">getLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.getLocale">getLocale</a></code>, <code><a href="Class.Echo.Component#Method.getLocalStyleData">getLocalStyleData</a></code>, <code><a href="Class.Echo.Component#Method.getRenderLayoutDirection">getRenderLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.getRenderLocale">getRenderLocale</a></code>, <code><a href="Class.Echo.Component#Method.getStyle">getStyle</a></code>, <code><a href="Class.Echo.Component#Method.getStyleName">getStyleName</a></code>, <code><a href="Class.Echo.Component#Method.indexOf">indexOf</a></code>, <code><a href="Class.Echo.Component#Method.isActive">isActive</a></code>, <code><a href="Class.Echo.Component#Method.isAncestorOf">isAncestorOf</a></code>, <code><a href="Class.Echo.Component#Method.isEnabled">isEnabled</a></code>, <code><a href="Class.Echo.Component#Method.isRenderEnabled">isRenderEnabled</a></code>, <code><a href="Class.Echo.Component#Method.register">register</a></code>, <code><a href="Class.Echo.Component#Method.render">render</a></code>, <code><a href="Class.Echo.Component#Method.renderIndex">renderIndex</a></code>, <code><a href="Class.Echo.Component#Method.remove">remove</a></code>, <code><a href="Class.Echo.Component#Method.removeAll">removeAll</a></code>, <code><a href="Class.Echo.Component#Method.removeListener">removeListener</a></code>, <code><a href="Class.Echo.Component#Method.removeAllListeners">removeAllListeners</a></code>, <code><a href="Class.Echo.Component#Method.set">set</a></code>, <code><a href="Class.Echo.Component#Method.setEnabled">setEnabled</a></code>, <code><a href="Class.Echo.Component#Method.setIndex">setIndex</a></code>, <code><a href="Class.Echo.Component#Method.setLayoutDirection">setLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.setLocale">setLocale</a></code>, <code><a href="Class.Echo.Component#Method.setStyle">setStyle</a></code>, <code><a href="Class.Echo.Component#Method.setStyleName">setStyleName</a></code>, <code><a href="Class.Echo.Component#Method.toString">toString</a></code></td>
</tr>
</table>
<br/>


<table class="table">

<colgroup>
<col width="20%"/>
<col width="20%"/>
<col width="80%"/>
<colgroup>

<tr>
<th colspan="3">Component Properties</th>
</tr>

<tr>
<td><code>activeTabId</code></td>
<td>
<code>String</code>
</td>
<td>the renderId of the active tab</td>
</td>
</tr>
<tr>
<td><code>activeTabIndex</code></td>
<td>
<code>Number</code>
</td>
<td>the index of the active tab</td>
</td>
</tr>
</table> 
<br/>
<table class="table">

<colgroup>
<col width="20%"/>
<col width="20%"/>
<col width="80%"/>
<colgroup>

<tr>
<th colspan="3">Style Properties</th>
</tr>

<tr>
<td><code>border</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the border surrounding the content of the tab pane (note that <code>tabActiveBorder</code> will be used
    for this purpose if this property is not configured)</td>
</td>
</tr>
<tr>
<td><code>borderType</code></td>
<td>
<code>Number</code>
</td>
<td>the border border type, one of the following values:
    <ul>
     <li><code>BORDER_TYPE_NONE</code></li>
     <li><code>BORDER_TYPE_ADJACENT_TO_TABS</code> (the default)</li>
     <li><code>BORDER_TYPE_PARALLEL_TO_TABS</code></li>
     <li><code>BORDER_TYPE_SURROUND</code></li>
    </ul></td>
</td>
</tr>
<tr>
<td><code>defaultContentInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the default content inset margin</td>
</td>
</tr>
<tr>
<td><code>imageBorder</code></td>
<td>
FillImageBorder (<code>Object</code>)
</td>
<td>the image border to display around the entire <code>TabPane</code></td>
</td>
</tr>
<tr>
<td><code>insets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin around the entire <code>TabPane</code></td>
</td>
</tr>
<tr>
<td><code>rolloverScrollLeftIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the rolled-over version of <code>scrollLeftIcon</code></td>
</td>
</tr>
<tr>
<td><code>rolloverScrollRightIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the rolled-over version of <code>scrollRightIcon</code></td>
</td>
</tr>
<tr>
<td><code>scrollLeftIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the scroll icon to display to enable scrolling of the header to the left</td>
</td>
</tr>
<tr>
<td><code>scrollRightIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the scroll icon to display to enable scrolling of the header to the right</td>
</td>
</tr>
<tr>
<td><code>tabActiveBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the background color used to render active tabs</td>
</td>
</tr>
<tr>
<td><code>tabActiveBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the background image used to render active tabs</td>
</td>
</tr>
<tr>
<td><code>tabActiveBackgroundInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin displayed around the background color/image used to render active tabs
    (rendered only when image borders are used)</td>
</td>
</tr>
<tr>
<td><code>tabActiveBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the border surrounding the active tab and the content of the <code>TabPane</code></td>
</td>
</tr>
<tr>
<td><code>tabActiveFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the font used to render active tabs</td>
</td>
</tr>
<tr>
<td><code>tabActiveForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the foreground color used to render active tabs</td>
</td>
</tr>
<tr>
<td><code>tabActiveHeightIncrease</code></td>
<td>
Extent (<code>Number</code> or <code>String</code>)
</td>
<td>the height increase of active tabs</td>
</td>
</tr>
<tr>
<td><code>tabActiveImageBorder</code></td>
<td>
FillImageBorder (<code>Object</code>)
</td>
<td>the image border to display around active tabs</td>
</td>
</tr>
<tr>
<td><code>tabActiveInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin used to render active tabs</td>
</td>
</tr>
<tr>
<td><code>tabAlignment</code></td>
<td>
Alignment (<code>String</code> or <code>Object</code>)
</td>
<td>the alignment within an individual tab</td>
</td>
</tr>
<tr>
<td><code>tabBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the background image displayed behind the tabs</td>
</td>
</tr>
<tr>
<td><code>tabCloseEnabled</code></td>
<td>
<code>Boolean</code>
</td>
<td>flag indicating whether tabs may be closed</td>
</td>
</tr>
<tr>
<td><code>tabCloseIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the tab close icon</td>
</td>
</tr>
<tr>
<td><code>tabCloseIconRolloverEnabled</code></td>
<td>
<code>Boolean</code>
</td>
<td>flag indicating whether tab close icon rollover effects are enabled</td>
</td>
</tr>
<tr>
<td><code>tabDisabledCloseIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the tab close icon for tabs that may not be closed</td>
</td>
</tr>
<tr>
<td><code>tabFocusedBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the background used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabFocusedBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the background image used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabFocusedBackgroundInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin displayed around the background color/image used to render rolled
    over tabs (rendered only when image borders are used)</td>
</td>
</tr>
<tr>
<td><code>tabFocusedBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the border used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabFocusedFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the font used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabFocusedForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the foreground color used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabFocusedImageBorder</code></td>
<td>
FillImageBorder (<code>Object</code>)
</td>
<td>the image border used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabHeight</code></td>
<td>
Extent (<code>Number</code> or <code>String</code>)
</td>
<td>the minimum height of an individual (inactive) tab</td>
</td>
</tr>
<tr>
<td><code>tabInactiveBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the background color used to render inactive tabs</td>
</td>
</tr>
<tr>
<td><code>tabInactiveBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the background image used to render inactive tabs</td>
</td>
</tr>
<tr>
<td><code>tabInactiveBackgroundInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin displayed around the background color/image used to render inactive
    tabs (rendered only when image borders are used)</td>
</td>
</tr>
<tr>
<td><code>tabInactiveBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the border surrounding inactive tabs</td>
</td>
</tr>
<tr>
<td><code>tabInactiveFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the font used to render inactive tabs</td>
</td>
</tr>
<tr>
<td><code>tabInactiveForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the foreground color used to render inactive tabs</td>
</td>
</tr>
<tr>
<td><code>tabInactiveImageBorder</code></td>
<td>
FillImageBorder (<code>Object</code>)
</td>
<td>the image border to display around inactive tabs</td>
</td>
</tr>
<tr>
<td><code>tabInactiveInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin used to render inactive tabs</td>
</td>
</tr>
<tr>
<td><code>tabIconTextMargin</code></td>
<td>
Extent (<code>Number</code> or <code>String</code>)
</td>
<td>the margin size between the tab icon and the text</td>
</td>
</tr>
<tr>
<td><code>tabInset</code></td>
<td>
Extent (<code>Number</code> or <code>String</code>)
</td>
<td>the horizontal distance from which all tabs are inset from the edge of the <code>TabPane</code></td>
</td>
</tr>
<tr>
<td><code>tabMaximumWidth</code></td>
<td>
Extent (<code>Number</code> or <code>String</code>)
</td>
<td>the maximum allowed width for a single tab (percent values may be used)</td>
</td>
</tr>
<tr>
<td><code>tabPosition</code></td>
<td>
<code>Number</code>
</td>
<td>the position where the tabs are located relative to the pane content, one of the following values:</td>
</td>
</tr>
<tr>
<td><code>tabRolloverBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the background used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabRolloverBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the background image used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabRolloverBackgroundInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin displayed around the background color/image used to render rolled 
    over tabs (rendered only when image borders are used)</td>
</td>
</tr>
<tr>
<td><code>tabRolloverBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the border used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabRolloverEnabled</code></td>
<td>
<code>Boolean</code>
</td>
<td>flag indicating whether tab rollover effects are enabled</td>
</td>
</tr>
<tr>
<td><code>tabRolloverFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the font used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabRolloverForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the foreground color used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabRolloverImageBorder</code></td>
<td>
FillImageBorder (<code>Object</code>)
</td>
<td>the image border used to render rolled over tabs</td>
</td>
</tr>
<tr>
<td><code>tabRolloverCloseIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the tab close rollover effect icon</td>
</td>
</tr>
<tr>
<td><code>tabSpacing</code></td>
<td>
Extent (<code>Number</code> or <code>String</code>)
</td>
<td>the horizontal space between individual tabs
    <ul>
     <li><code>TAB_POSITION_TOP</code></li>
     <li><code>TAB_POSITION_BOTTOM</code></li>
    </ul></td>
</td>
</tr>
<tr>
<td><code>tabWidth</code></td>
<td>
Extent (<code>Number</code> or <code>String</code>)
</td>
<td>the width of an individual tab (setting tabMaximumWidth is generally preferred)</td>
</td>
</tr>
</table> 
<br/>
<table class="table">

<colgroup>
<col width="20%"/>
<col width="80%"/>
<colgroup>

<tr>
<th colspan="3">Events</th>
</tr>

<tr>
<td><code>tabClose</code></td>
<td>An event fired when the user requests to close a tab.</td>
</tr>
<tr>
<td><code>tabSelect</code></td>
<td>An event fired when the user selects a tab.</td>
</tr>
</table> 
<br/>
<table class="table">

<colgroup>
<col width="20%"/>
<col width="20%"/>
<col width="80%"/>
<colgroup>

<tr>
<th colspan="3">Layout Data Properties</th>
</tr>
<tr>
<td colspan="3">These properties may be set on <code>layoutData</code> property values of immediate child components to describe 
how the child should be rendered within the container.</td>
</tr>

<tr>
<td><code>activeBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the active background color</td>
</td>
</tr>
<tr>
<td><code>activeBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the active background image</td>
</td>
</tr>
<tr>
<td><code>activeBackgroundInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin displayed around the background color/image when the tab is active
     (rendered only when image borders are used)</td>
</td>
</tr>
<tr>
<td><code>activeBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the active border</td>
</td>
</tr>
<tr>
<td><code>activeFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the active font</td>
</td>
</tr>
<tr>
<td><code>activeForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the active foreground color</td>
</td>
</tr>
<tr>
<td><code>activeIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the active icon (icon property is used when inactive)</td>
</td>
</tr>
<tr>
<td><code>activeImageBorder</code></td>
<td>
FillImageBorder (<code>Object</code>)
</td>
<td>the active image border</td>
</td>
</tr>
<tr>
<td><code>activeInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the active insets</td>
</td>
</tr>
<tr>
<td><code>closeEnabled</code></td>
<td>
<code>Boolean</code>
</td>
<td>flag indicating whether close is enabled (default is true, only effective when containing
     <code>TabPane</code> allows closing tabs)</td>
</td>
</tr>
<tr>
<td><code>icon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the icon to display within a tab</td>
</td>
</tr>
<tr>
<td><code>inactiveBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the inactive background color</td>
</td>
</tr>
<tr>
<td><code>inactiveBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the inactive background image</td>
</td>
</tr>
<tr>
<td><code>inactiveBackgroundInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin displayed around the background color/image when the tab is inactive
     (rendered only when image borders are used)</td>
</td>
</tr>
<tr>
<td><code>inactiveBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the inactive border</td>
</td>
</tr>
<tr>
<td><code>inactiveFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the inactive font</td>
</td>
</tr>
<tr>
<td><code>inactiveForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the inactive foreground color</td>
</td>
</tr>
<tr>
<td><code>inactiveImageBorder</code></td>
<td>
FillImageBorder (<code>Object</code>)
</td>
<td>the inactive image border</td>
</td>
</tr>
<tr>
<td><code>inactiveInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inactive insets</td>
</td>
</tr>
<tr>
<td><code>rolloverBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the rollover background color</td>
</td>
</tr>
<tr>
<td><code>rolloverBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the rollover background image</td>
</td>
</tr>
<tr>
<td><code>rolloverBackgroundInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the inset margin displayed around the background color/image when the tab is rolled over
     (rendered only when image borders are used)</td>
</td>
</tr>
<tr>
<td><code>rolloverBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the rollover border</td>
</td>
</tr>
<tr>
<td><code>rolloverFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the rollover font</td>
</td>
</tr>
<tr>
<td><code>rolloverForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the rollover foreground color</td>
</td>
</tr>
<tr>
<td><code>rolloverIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the rollover icon</td>
</td>
</tr>
<tr>
<td><code>rolloverImageBorder</code></td>
<td>
FillImageBorder (<code>Object</code>)
</td>
<td>the rollover image border</td>
</td>
</tr>
<tr>
<td><code>title</code></td>
<td>
<code>String</code>
</td>
<td>the text to display within a tab</td>
</td>
</tr>
<tr>
<td><code>toolTipText</code></td>
<td>
<code>String</code>
</td>
<td>the tool tip text to display when a tab is rolled over</td>
</td>
</tr>
</table> 
<br/>



<a name="Constructor"></a>

<strong>Constructor Detail</strong>

<span class="DetailPropertyName">Echo.Component(properties)</span>

<dl>
<dd>Constructor.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>properties</code> 
- associative mapping of initial property values (optional)</dd>
</dl>
</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.getFocusOrder"></a>
<span class="DetailPropertyName">getFocusOrder</span>

<dl>
<dd>Returns the order in which the tab children should be focused. Only
include the active tab in the focus order to avoid focusing hidden elements in
inactive tabs.



</dd>
</dl>
<hr/>
<a name="Method.doTabClose"></a>
<span class="DetailPropertyName">doTabClose</span>

<dl>
<dd>Processes a user request to close a tab.
Notifies listeners of a "tabClose" event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>tabId</code> 
<em>(String)</em>
- the renderId of the child tab component</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.doTabSelect"></a>
<span class="DetailPropertyName">doTabSelect</span>

<dl>
<dd>Processes a user request to select a tab.
Notifies listeners of a "tabSelect" event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>tabId</code> 
<em>(String)</em>
- the renderId of the child tab component</dd>
<dd>
<code>focus</code> 
<em>(Boolean)</em>
- whether to focus the tab pane or not</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._tabChangeListener"></a>
<span class="DetailPropertyName">_tabChangeListener</span>

<dl>
<dd>Internal property listener which synchronizes activeTabIndex and activeTabId properties when possible.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- a property event</dd>
</dl>


</dd>
</dl>
<hr/>


