<div>
<!-- ========= START OF TOP NAVBAR ======= -->
<div class="topNav"><a name="navbar_top">
<!--   -->
</a><a href="#skip-navbar_top" title="Skip navigation links"></a><a name="navbar_top_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../index-all.html">Index</a></li>
<li><a href="../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../nextapp/echo/webcontainer/ServerConfiguration.html" title="class in nextapp.echo.webcontainer"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../nextapp/echo/webcontainer/Service.html" title="interface in nextapp.echo.webcontainer"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../index.html?nextapp/echo/webcontainer/ServerMessage.html" target="_top">Frames</a></li>
<li><a href="ServerMessage.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_top">
<li><a href="../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_top");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li><a href="#field_summary">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li><a href="#field_detail">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_top">
<!--   -->
</a></div>
<!-- ========= END OF TOP NAVBAR ========= -->
<!-- ======== START OF CLASS DATA ======== -->
<div class="header">
<div class="subTitle">nextapp.echo.webcontainer</div>
<h2 title="Class ServerMessage" class="title">Class ServerMessage</h2>
</div>
<div class="contentContainer">
<ul class="inheritance">
<li>java.lang.Object</li>
<li>
<ul class="inheritance">
<li>nextapp.echo.webcontainer.ServerMessage</li>
</ul>
</li>
</ul>
<div class="description">
<ul class="blockList">
<li class="blockList">
<hr>
<br>
<pre>public class <span class="strong">ServerMessage</span>
extends java.lang.Object</pre>
<div class="block">The outgoing XML message which synchronizes the state of the client to that
 of the server.</div>
</li>
</ul>
</div>
<div class="summary">
<ul class="blockList">
<li class="blockList">
<!-- =========== FIELD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="field_summary">
<!--   -->
</a>
<h3>Field Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Field Summary table, listing fields, and an explanation">
<caption><span>Fields</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Field and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#GROUP_ID_INIT">GROUP_ID_INIT</a></strong></code>
<div class="block">Constant for the "init" message part group.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#GROUP_ID_UPDATE">GROUP_ID_UPDATE</a></strong></code>
<div class="block">Constant for the "update" message part group.</div>
</td>
</tr>
</table>
</li>
</ul>
<!-- ======== CONSTRUCTOR SUMMARY ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_summary">
<!--   -->
</a>
<h3>Constructor Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Constructor Summary table, listing constructors, and an explanation">
<caption><span>Constructors</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colOne" scope="col">Constructor and Description</th>
</tr>
<tr class="altColor">
<td class="colOne"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#ServerMessage()">ServerMessage</a></strong>()</code>
<div class="block">Creates a new <code>ServerMessage</code>.</div>
</td>
</tr>
</table>
</li>
</ul>
<!-- ========== METHOD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="method_summary">
<!--   -->
</a>
<h3>Method Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Method Summary table, listing methods, and an explanation">
<caption><span>Methods</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Method and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>org.w3c.dom.Element</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#addDirective(java.lang.String, java.lang.String)">addDirective</a></strong>(java.lang.String&nbsp;groupId,
            java.lang.String&nbsp;processor)</code>
<div class="block">Adds a "message-part" to the document that will be processed by the
 specified client-side processor object.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>org.w3c.dom.Element</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#addDirective(java.lang.String, java.lang.String, java.lang.String)">addDirective</a></strong>(java.lang.String&nbsp;groupId,
            java.lang.String&nbsp;processor,
            java.lang.String&nbsp;directiveName)</code>
<div class="block">Creates and appends a directive element beneath to a message part.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#addLibrary(java.lang.String)">addLibrary</a></strong>(java.lang.String&nbsp;serviceId)</code>
<div class="block">Adds a JavaScript library service to be dynamically loaded.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>org.w3c.dom.Element</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#addPartGroup(java.lang.String)">addPartGroup</a></strong>(java.lang.String&nbsp;groupId)</code>
<div class="block">Adds a "group" to the document.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>org.w3c.dom.Document</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#getDocument()">getDocument</a></strong>()</code>
<div class="block">Returns the XML DOM.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>org.w3c.dom.Element</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#getPartGroup(java.lang.String)">getPartGroup</a></strong>(java.lang.String&nbsp;groupId)</code>
<div class="block">Retrieves the "message-part-group" element pertaining to a specific group.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#setAttribute(java.lang.String, java.lang.String)">setAttribute</a></strong>(java.lang.String&nbsp;attributeName,
            java.lang.String&nbsp;attributeValue)</code>
<div class="block">Sets an arbitrary attribute on the root element.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#setResync()">setResync</a></strong>()</code>
<div class="block">Sets the "resync" attribute to true, indicating that the server
 is recovering from a condition where the client has become out of sync.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#setTransactionId(long)">setTransactionId</a></strong>(long&nbsp;transactionId)</code>
<div class="block">Sets the numeric identifier for this transaction, which will be returned
 in next client message.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/ServerMessage.html#setUserInstanceId(java.lang.String)">setUserInstanceId</a></strong>(java.lang.String&nbsp;userInstanceId)</code>&nbsp;</td>
</tr>
</table>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_java.lang.Object">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;java.lang.Object</h3>
<code>clone, equals, finalize, getClass, hashCode, notify, notifyAll, toString, wait, wait, wait</code></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="details">
<ul class="blockList">
<li class="blockList">
<!-- ============ FIELD DETAIL =========== -->
<ul class="blockList">
<li class="blockList"><a name="field_detail">
<!--   -->
</a>
<h3>Field Detail</h3>
<a name="GROUP_ID_INIT">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>GROUP_ID_INIT</h4>
<pre>public static final&nbsp;java.lang.String GROUP_ID_INIT</pre>
<div class="block">Constant for the "init" message part group. Message parts in this group are
 processed before the "update" group.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.ServerMessage.GROUP_ID_INIT">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="GROUP_ID_UPDATE">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>GROUP_ID_UPDATE</h4>
<pre>public static final&nbsp;java.lang.String GROUP_ID_UPDATE</pre>
<div class="block">Constant for the "update" message part group. Message parts in this group are
 processed after the "init" group.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.ServerMessage.GROUP_ID_UPDATE">Constant Field Values</a></dd></dl>
</li>
</ul>
</li>
</ul>
<!-- ========= CONSTRUCTOR DETAIL ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_detail">
<!--   -->
</a>
<h3>Constructor Detail</h3>
<a name="ServerMessage()">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>ServerMessage</h4>
<pre>public&nbsp;ServerMessage()</pre>
<div class="block">Creates a new <code>ServerMessage</code>.</div>
</li>
</ul>
</li>
</ul>
<!-- ============ METHOD DETAIL ========== -->
<ul class="blockList">
<li class="blockList"><a name="method_detail">
<!--   -->
</a>
<h3>Method Detail</h3>
<a name="addLibrary(java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addLibrary</h4>
<pre>public&nbsp;void&nbsp;addLibrary(java.lang.String&nbsp;serviceId)</pre>
<div class="block">Adds a JavaScript library service to be dynamically loaded.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>serviceId</code> - the id of the service to load (the service must return
        JavaScript code with content-type "text/javascript")</dd></dl>
</li>
</ul>
<a name="addPartGroup(java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addPartGroup</h4>
<pre>public&nbsp;org.w3c.dom.Element&nbsp;addPartGroup(java.lang.String&nbsp;groupId)</pre>
<div class="block">Adds a "group" to the document. Part groups enable certain groups of
 operations, e.g., remove operations, to be performed before others, e.g.,
 add operations.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>groupId</code> - the identifier of the group</dd>
<dt><span class="strong">Returns:</span></dt><dd>the created "message-part-group" element.</dd></dl>
</li>
</ul>
<a name="getPartGroup(java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getPartGroup</h4>
<pre>public&nbsp;org.w3c.dom.Element&nbsp;getPartGroup(java.lang.String&nbsp;groupId)</pre>
<div class="block">Retrieves the "message-part-group" element pertaining to a specific group.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>groupId</code> - the id of the group</dd>
<dt><span class="strong">Returns:</span></dt><dd>the "message-part-group" element</dd></dl>
</li>
</ul>
<a name="addDirective(java.lang.String, java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addDirective</h4>
<pre>public&nbsp;org.w3c.dom.Element&nbsp;addDirective(java.lang.String&nbsp;groupId,
                               java.lang.String&nbsp;processor)</pre>
<div class="block">Adds a "message-part" to the document that will be processed by the
 specified client-side processor object.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>groupId</code> - the id of the group to which the "message-part" element
        should be added</dd><dd><code>processor</code> - the name of the client-side processor object which will
        process the message part, e.g., "EchoEventUpdate", or
        "EchoDomUpdate"</dd>
<dt><span class="strong">Returns:</span></dt><dd>the created "message-part" element</dd></dl>
</li>
</ul>
<a name="addDirective(java.lang.String, java.lang.String, java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addDirective</h4>
<pre>public&nbsp;org.w3c.dom.Element&nbsp;addDirective(java.lang.String&nbsp;groupId,
                               java.lang.String&nbsp;processor,
                               java.lang.String&nbsp;directiveName)</pre>
<div class="block">Creates and appends a directive element beneath to a message part.
 Attempts to append the directive to an existing message part if the last
 message part in the specified group happens to have the same processor as
 is specified by the <code>processor</code> argument. If this is not
 possible, a new "message-part" element is created and the directive is
 added to it.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>groupId</code> - </dd><dd><code>processor</code> - the name of the client-side processor object which will
        process the message part, e.g., "EchoEventUpdate", or
        "EchoDomUpdate"</dd><dd><code>directiveName</code> - the name of the directive, e.g., "event-add" or
        "dom-remove".</dd>
<dt><span class="strong">Returns:</span></dt><dd>the directive element</dd></dl>
</li>
</ul>
<a name="getDocument()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getDocument</h4>
<pre>public&nbsp;org.w3c.dom.Document&nbsp;getDocument()</pre>
<div class="block">Returns the XML DOM.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the XML DOM</dd></dl>
</li>
</ul>
<a name="setAttribute(java.lang.String, java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setAttribute</h4>
<pre>public&nbsp;void&nbsp;setAttribute(java.lang.String&nbsp;attributeName,
                java.lang.String&nbsp;attributeValue)</pre>
<div class="block">Sets an arbitrary attribute on the root element.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>attributeName</code> - the attribute name</dd><dd><code>attributeValue</code> - the attribute value</dd></dl>
</li>
</ul>
<a name="setResync()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setResync</h4>
<pre>public&nbsp;void&nbsp;setResync()</pre>
<div class="block">Sets the "resync" attribute to true, indicating that the server
 is recovering from a condition where the client has become out of sync.
 This can occur if two browsers are manipulating the same user instance.</div>
</li>
</ul>
<a name="setTransactionId(long)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setTransactionId</h4>
<pre>public&nbsp;void&nbsp;setTransactionId(long&nbsp;transactionId)</pre>
<div class="block">Sets the numeric identifier for this transaction, which will be returned
 in next client message.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>transactionId</code> - the transaction identifier</dd></dl>
</li>
</ul>
<a name="setUserInstanceId(java.lang.String)">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>setUserInstanceId</h4>
<pre>public&nbsp;void&nbsp;setUserInstanceId(java.lang.String&nbsp;userInstanceId)</pre>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>
<!-- ========= END OF CLASS DATA ========= -->
<!-- ======= START OF BOTTOM NAVBAR ====== -->
<div class="bottomNav"><a name="navbar_bottom">
<!--   -->
</a><a href="#skip-navbar_bottom" title="Skip navigation links"></a><a name="navbar_bottom_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../index-all.html">Index</a></li>
<li><a href="../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../nextapp/echo/webcontainer/ServerConfiguration.html" title="class in nextapp.echo.webcontainer"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../nextapp/echo/webcontainer/Service.html" title="interface in nextapp.echo.webcontainer"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../index.html?nextapp/echo/webcontainer/ServerMessage.html" target="_top">Frames</a></li>
<li><a href="ServerMessage.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_bottom">
<li><a href="../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_bottom");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li><a href="#field_summary">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li><a href="#field_detail">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_bottom">
<!--   -->
</a></div>
<!-- ======== END OF BOTTOM NAVBAR ======= -->
</div>
