<div>
<!-- ========= START OF TOP NAVBAR ======= -->
<div class="topNav"><a name="navbar_top">
<!--   -->
</a><a href="#skip-navbar_top" title="Skip navigation links"></a><a name="navbar_top_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../index-all.html">Index</a></li>
<li><a href="../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../nextapp/echo/webcontainer/UserInstanceContainer.html" title="class in nextapp.echo.webcontainer"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.MultipartRequestWrapper.html" title="interface in nextapp.echo.webcontainer"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../index.html?nextapp/echo/webcontainer/WebContainerServlet.html" target="_top">Frames</a></li>
<li><a href="WebContainerServlet.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_top">
<li><a href="../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_top");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li><a href="#nested_class_summary">Nested</a>&nbsp;|&nbsp;</li>
<li><a href="#field_summary">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li><a href="#field_detail">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_top">
<!--   -->
</a></div>
<!-- ========= END OF TOP NAVBAR ========= -->
<!-- ======== START OF CLASS DATA ======== -->
<div class="header">
<div class="subTitle">nextapp.echo.webcontainer</div>
<h2 title="Class WebContainerServlet" class="title">Class WebContainerServlet</h2>
</div>
<div class="contentContainer">
<ul class="inheritance">
<li>java.lang.Object</li>
<li>
<ul class="inheritance">
<li>javax.servlet.GenericServlet</li>
<li>
<ul class="inheritance">
<li>javax.servlet.http.HttpServlet</li>
<li>
<ul class="inheritance">
<li>nextapp.echo.webcontainer.WebContainerServlet</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<div class="description">
<ul class="blockList">
<li class="blockList">
<dl>
<dt>All Implemented Interfaces:</dt>
<dd>java.io.Serializable, javax.servlet.Servlet, javax.servlet.ServletConfig</dd>
</dl>
<hr>
<br>
<pre>public abstract class <span class="strong">WebContainerServlet</span>
extends javax.servlet.http.HttpServlet</pre>
<div class="block">Web container <code>HttpServlet</code> implementation.
 An Echo application should provide an derivative of this
 class which is registered in the web application
 deployment descriptor.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../serialized-form.html#nextapp.echo.webcontainer.WebContainerServlet">Serialized Form</a></dd></dl>
</li>
</ul>
</div>
<div class="summary">
<ul class="blockList">
<li class="blockList">
<!-- ======== NESTED CLASS SUMMARY ======== -->
<ul class="blockList">
<li class="blockList"><a name="nested_class_summary">
<!--   -->
</a>
<h3>Nested Class Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Nested Class Summary table, listing nested classes, and an explanation">
<caption><span>Nested Classes</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Class and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static interface&nbsp;</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.MultipartRequestWrapper.html" title="interface in nextapp.echo.webcontainer">WebContainerServlet.MultipartRequestWrapper</a></strong></code>
<div class="block">An interface implemented by a supporting object that will handle 
 multipart/form-data encoded HTTP requests.</div>
</td>
</tr>
</table>
</li>
</ul>
<!-- =========== FIELD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="field_summary">
<!--   -->
</a>
<h3>Field Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Field Summary table, listing fields, and an explanation">
<caption><span>Fields</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Field and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static boolean</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#DISABLE_CACHING">DISABLE_CACHING</a></strong></code>
<div class="block">A flag indicating whether caching should be disabled for all services.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static boolean</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#ENABLE_CLIENT_DEBUG_CONSOLE">ENABLE_CLIENT_DEBUG_CONSOLE</a></strong></code>
<div class="block">Flag indicating whether client-side debug console should be enabled.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static int</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#INSTANCE_MODE_SINGLE">INSTANCE_MODE_SINGLE</a></strong></code>
<div class="block">Constant for <code>getInstanceMode()</code> indicating that one instance (<code>UserInstance</code> of
 the application should exist per session.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static int</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#INSTANCE_MODE_WINDOW">INSTANCE_MODE_WINDOW</a></strong></code>
<div class="block">Constant for <code>getInstanceMode()</code> indicating that one instance (<code>UserInstance</code> of
 the application should exist per session per client browser window.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#SERVICE_ID_BLANK_DOCUMENT">SERVICE_ID_BLANK_DOCUMENT</a></strong></code>
<div class="block"><code>Service</code> identifier of the blank document service.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#SERVICE_ID_DEFAULT">SERVICE_ID_DEFAULT</a></strong></code>
<div class="block"><code>Service</code> identifier of the 'default' service.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#SERVICE_ID_NEW_INSTANCE">SERVICE_ID_NEW_INSTANCE</a></strong></code>
<div class="block"><code>Service</code> identifier of the 'new instance' service.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#SERVICE_ID_PARAMETER">SERVICE_ID_PARAMETER</a></strong></code>
<div class="block">Request parameter identifying requested <code>Service</code>.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#SERVICE_ID_SESSION_EXPIRED">SERVICE_ID_SESSION_EXPIRED</a></strong></code>
<div class="block"><code>Service</code> identifier of the 'session expired' service.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#USER_INSTANCE_ID_PARAMETER">USER_INSTANCE_ID_PARAMETER</a></strong></code>
<div class="block">Request parameter identifying requested <code>UserInstance</code>.</div>
</td>
</tr>
</table>
</li>
</ul>
<!-- ======== CONSTRUCTOR SUMMARY ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_summary">
<!--   -->
</a>
<h3>Constructor Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Constructor Summary table, listing constructors, and an explanation">
<caption><span>Constructors</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colOne" scope="col">Constructor and Description</th>
</tr>
<tr class="altColor">
<td class="colOne"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#WebContainerServlet()">WebContainerServlet</a></strong>()</code>
<div class="block">Default constructor.</div>
</td>
</tr>
</table>
</li>
</ul>
<!-- ========== METHOD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="method_summary">
<!--   -->
</a>
<h3>Method Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Method Summary table, listing methods, and an explanation">
<caption><span>Methods</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Method and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>protected void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#addInitScript(nextapp.echo.webcontainer.Service)">addInitScript</a></strong>(<a href="../../../nextapp/echo/webcontainer/Service.html" title="interface in nextapp.echo.webcontainer">Service</a>&nbsp;service)</code>
<div class="block">Adds a JavaScript service to be loaded at initialization.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>protected void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#addInitStyleSheet(nextapp.echo.webcontainer.Service)">addInitStyleSheet</a></strong>(<a href="../../../nextapp/echo/webcontainer/Service.html" title="interface in nextapp.echo.webcontainer">Service</a>&nbsp;service)</code>
<div class="block">Adds a CSS style sheet to be loaded at initialization.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#doGet(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)">doGet</a></strong>(javax.servlet.http.HttpServletRequest&nbsp;request,
     javax.servlet.http.HttpServletResponse&nbsp;response)</code>
<div class="block">Handles a GET request.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#doPost(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)">doPost</a></strong>(javax.servlet.http.HttpServletRequest&nbsp;request,
      javax.servlet.http.HttpServletResponse&nbsp;response)</code>
<div class="block">Handles a POST request.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static <a href="../../../nextapp/echo/webcontainer/Connection.html" title="class in nextapp.echo.webcontainer">Connection</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#getActiveConnection()">getActiveConnection</a></strong>()</code>
<div class="block">Returns a reference to the <code>Connection</code> that is 
 relevant to the current thread, or null if no connection is relevant.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>java.util.Iterator</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#getInitScripts()">getInitScripts</a></strong>()</code>
<div class="block">Returns an iterator over initialization script services.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>java.util.Iterator</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#getInitStyleSheets()">getInitStyleSheets</a></strong>()</code>
<div class="block">Returns an iterator over initialization script services.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>int</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#getInstanceMode()">getInstanceMode</a></strong>()</code>
<div class="block">Returns the instance operating mode of the application, determining how the application will perform if it
 is visited by multiple browser windows.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static <a href="../../../nextapp/echo/webcontainer/WebContainerServlet.MultipartRequestWrapper.html" title="interface in nextapp.echo.webcontainer">WebContainerServlet.MultipartRequestWrapper</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#getMultipartRequestWrapper()">getMultipartRequestWrapper</a></strong>()</code>
<div class="block">Returns the multipart/form-data encoded HTTP request handler.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static <a href="../../../nextapp/echo/webcontainer/ResourceRegistry.html" title="class in nextapp.echo.webcontainer">ResourceRegistry</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#getResourceRegistry()">getResourceRegistry</a></strong>()</code>
<div class="block">Retrieves the global <code>ResourceRegistry</code>.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static <a href="../../../nextapp/echo/webcontainer/ServiceRegistry.html" title="class in nextapp.echo.webcontainer">ServiceRegistry</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#getServiceRegistry()">getServiceRegistry</a></strong>()</code>
<div class="block">Retrieves the global <code>ServiceRegistry</code>.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>boolean</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#hasWebSocketConnectionHandler()">hasWebSocketConnectionHandler</a></strong>()</code>&nbsp;</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#init()">init</a></strong>()</code>&nbsp;</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>abstract <a href="../../../nextapp/echo/app/ApplicationInstance.html" title="class in nextapp.echo.app">ApplicationInstance</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#newApplicationInstance()">newApplicationInstance</a></strong>()</code>
<div class="block">Creates a new <code>ApplicationInstance</code> for visitor to an 
 application.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>protected void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#process(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)">process</a></strong>(javax.servlet.http.HttpServletRequest&nbsp;request,
       javax.servlet.http.HttpServletResponse&nbsp;response)</code>
<div class="block">Processes an HTTP request and generates a response.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>protected void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#removeWebSocketConnectionHandler()">removeWebSocketConnectionHandler</a></strong>()</code>&nbsp;</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#setMultipartRequestWrapper(nextapp.echo.webcontainer.WebContainerServlet.MultipartRequestWrapper)">setMultipartRequestWrapper</a></strong>(<a href="../../../nextapp/echo/webcontainer/WebContainerServlet.MultipartRequestWrapper.html" title="interface in nextapp.echo.webcontainer">WebContainerServlet.MultipartRequestWrapper</a>&nbsp;multipartRequestWrapper)</code>
<div class="block">Sets the multipart/form-data encoded HTTP request handler.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>protected void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#setWebSocketConnectionHandler(nextapp.echo.webcontainer.WebSocketConnectionHandler)">setWebSocketConnectionHandler</a></strong>(<a href="../../../nextapp/echo/webcontainer/WebSocketConnectionHandler.html" title="class in nextapp.echo.webcontainer">WebSocketConnectionHandler</a>&nbsp;handler)</code>&nbsp;</td>
</tr>
</table>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_javax.servlet.http.HttpServlet">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;javax.servlet.http.HttpServlet</h3>
<code>doDelete, doHead, doOptions, doPut, doTrace, getLastModified, service, service</code></li>
</ul>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_javax.servlet.GenericServlet">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;javax.servlet.GenericServlet</h3>
<code>destroy, getInitParameter, getInitParameterNames, getServletConfig, getServletContext, getServletInfo, getServletName, init, log, log</code></li>
</ul>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_java.lang.Object">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;java.lang.Object</h3>
<code>clone, equals, finalize, getClass, hashCode, notify, notifyAll, toString, wait, wait, wait</code></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="details">
<ul class="blockList">
<li class="blockList">
<!-- ============ FIELD DETAIL =========== -->
<ul class="blockList">
<li class="blockList"><a name="field_detail">
<!--   -->
</a>
<h3>Field Detail</h3>
<a name="DISABLE_CACHING">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>DISABLE_CACHING</h4>
<pre>public static final&nbsp;boolean DISABLE_CACHING</pre>
<div class="block">A flag indicating whether caching should be disabled for all services.
 This flag is for testing purposes only, and should be disabled for
 production use.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.DISABLE_CACHING">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="ENABLE_CLIENT_DEBUG_CONSOLE">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>ENABLE_CLIENT_DEBUG_CONSOLE</h4>
<pre>public static final&nbsp;boolean ENABLE_CLIENT_DEBUG_CONSOLE</pre>
<div class="block">Flag indicating whether client-side debug console should be enabled.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.ENABLE_CLIENT_DEBUG_CONSOLE">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="INSTANCE_MODE_SINGLE">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>INSTANCE_MODE_SINGLE</h4>
<pre>public static final&nbsp;int INSTANCE_MODE_SINGLE</pre>
<div class="block">Constant for <code>getInstanceMode()</code> indicating that one instance (<code>UserInstance</code> of
 the application should exist per session.
 If the user visits the application in a different browser window, the state of the singleton instance will
 be displayed.  The user will experience "window not synchronized" errors if the user attempts to operate
 the same application from multiple windows.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.INSTANCE_MODE_SINGLE">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="INSTANCE_MODE_WINDOW">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>INSTANCE_MODE_WINDOW</h4>
<pre>public static final&nbsp;int INSTANCE_MODE_WINDOW</pre>
<div class="block">Constant for <code>getInstanceMode()</code> indicating that one instance (<code>UserInstance</code> of
 the application should exist per session per client browser window.
 If the user visits the application in a different browser window, a new instance will be created.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.INSTANCE_MODE_WINDOW">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="SERVICE_ID_PARAMETER">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>SERVICE_ID_PARAMETER</h4>
<pre>public static final&nbsp;java.lang.String SERVICE_ID_PARAMETER</pre>
<div class="block">Request parameter identifying requested <code>Service</code>.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.SERVICE_ID_PARAMETER">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="USER_INSTANCE_ID_PARAMETER">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>USER_INSTANCE_ID_PARAMETER</h4>
<pre>public static final&nbsp;java.lang.String USER_INSTANCE_ID_PARAMETER</pre>
<div class="block">Request parameter identifying requested <code>UserInstance</code>.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.USER_INSTANCE_ID_PARAMETER">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="SERVICE_ID_DEFAULT">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>SERVICE_ID_DEFAULT</h4>
<pre>public static final&nbsp;java.lang.String SERVICE_ID_DEFAULT</pre>
<div class="block"><code>Service</code> identifier of the 'default' service. 
 The 'default' service is rendered when a client makes a request
 without a service identifier and a session DOES exist.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.SERVICE_ID_DEFAULT">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="SERVICE_ID_BLANK_DOCUMENT">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>SERVICE_ID_BLANK_DOCUMENT</h4>
<pre>public static final&nbsp;java.lang.String SERVICE_ID_BLANK_DOCUMENT</pre>
<div class="block"><code>Service</code> identifier of the blank document service.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.SERVICE_ID_BLANK_DOCUMENT">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="SERVICE_ID_NEW_INSTANCE">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>SERVICE_ID_NEW_INSTANCE</h4>
<pre>public static final&nbsp;java.lang.String SERVICE_ID_NEW_INSTANCE</pre>
<div class="block"><code>Service</code> identifier of the 'new instance' service. 
 The 'new instance' service is rendered when a client makes a request
 without a service identifier and a session DOES NOT exist.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.SERVICE_ID_NEW_INSTANCE">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="SERVICE_ID_SESSION_EXPIRED">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>SERVICE_ID_SESSION_EXPIRED</h4>
<pre>public static final&nbsp;java.lang.String SERVICE_ID_SESSION_EXPIRED</pre>
<div class="block"><code>Service</code> identifier of the 'session expired' service.
 The 'session expired' service is rendered when a client makes a
 request that has an identifier and is intended for an active session, 
 but no session exists.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.webcontainer.WebContainerServlet.SERVICE_ID_SESSION_EXPIRED">Constant Field Values</a></dd></dl>
</li>
</ul>
</li>
</ul>
<!-- ========= CONSTRUCTOR DETAIL ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_detail">
<!--   -->
</a>
<h3>Constructor Detail</h3>
<a name="WebContainerServlet()">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>WebContainerServlet</h4>
<pre>public&nbsp;WebContainerServlet()</pre>
<div class="block">Default constructor.</div>
</li>
</ul>
</li>
</ul>
<!-- ============ METHOD DETAIL ========== -->
<ul class="blockList">
<li class="blockList"><a name="method_detail">
<!--   -->
</a>
<h3>Method Detail</h3>
<a name="getActiveConnection()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getActiveConnection</h4>
<pre>public static final&nbsp;<a href="../../../nextapp/echo/webcontainer/Connection.html" title="class in nextapp.echo.webcontainer">Connection</a>&nbsp;getActiveConnection()</pre>
<div class="block">Returns a reference to the <code>Connection</code> that is 
 relevant to the current thread, or null if no connection is relevant.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the relevant <code>Connection</code></dd></dl>
</li>
</ul>
<a name="getMultipartRequestWrapper()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getMultipartRequestWrapper</h4>
<pre>public static&nbsp;<a href="../../../nextapp/echo/webcontainer/WebContainerServlet.MultipartRequestWrapper.html" title="interface in nextapp.echo.webcontainer">WebContainerServlet.MultipartRequestWrapper</a>&nbsp;getMultipartRequestWrapper()</pre>
<div class="block">Returns the multipart/form-data encoded HTTP request handler.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>The multipart/form-data encoded HTTP request handler.</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#setMultipartRequestWrapper(nextapp.echo.webcontainer.WebContainerServlet.MultipartRequestWrapper)"><code>setMultipartRequestWrapper(nextapp.echo.webcontainer.WebContainerServlet.MultipartRequestWrapper)</code></a></dd></dl>
</li>
</ul>
<a name="getResourceRegistry()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getResourceRegistry</h4>
<pre>public static&nbsp;<a href="../../../nextapp/echo/webcontainer/ResourceRegistry.html" title="class in nextapp.echo.webcontainer">ResourceRegistry</a>&nbsp;getResourceRegistry()</pre>
<div class="block">Retrieves the global <code>ResourceRegistry</code>.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the global <code>ResourceRegistry</code></dd></dl>
</li>
</ul>
<a name="getServiceRegistry()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getServiceRegistry</h4>
<pre>public static&nbsp;<a href="../../../nextapp/echo/webcontainer/ServiceRegistry.html" title="class in nextapp.echo.webcontainer">ServiceRegistry</a>&nbsp;getServiceRegistry()</pre>
<div class="block">Retrieves the global <code>ServiceRegistry</code>.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>The global <code>ServiceRegistry</code>.</dd></dl>
</li>
</ul>
<a name="setMultipartRequestWrapper(nextapp.echo.webcontainer.WebContainerServlet.MultipartRequestWrapper)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setMultipartRequestWrapper</h4>
<pre>public static final&nbsp;void&nbsp;setMultipartRequestWrapper(<a href="../../../nextapp/echo/webcontainer/WebContainerServlet.MultipartRequestWrapper.html" title="interface in nextapp.echo.webcontainer">WebContainerServlet.MultipartRequestWrapper</a>&nbsp;multipartRequestWrapper)</pre>
<div class="block">Sets the multipart/form-data encoded HTTP request handler.
 The multipart request wrapper can only be set one time.  It should be set
 in a static block of your Echo application.  This method will disregard
 additional attempts to set the wrapper if the provided wrapper's class
 is identical to the existing one.  If the wrapper is already set and the
 new wrapper object's class is different or the wrapper is null, an
 exception is thrown.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>multipartRequestWrapper</code> - The handler for multipart/form-data 
        encoded HTTP requests.</dd>
<dt><span class="strong">Throws:</span></dt>
<dd><code>java.lang.IllegalStateException</code> - if the application attempts to change
        a previously set multipart request handler.</dd></dl>
</li>
</ul>
<a name="init()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>init</h4>
<pre>public&nbsp;void&nbsp;init()
          throws javax.servlet.ServletException</pre>
<dl>
<dt><strong>Overrides:</strong></dt>
<dd><code>init</code>&nbsp;in class&nbsp;<code>javax.servlet.GenericServlet</code></dd>
<dt><span class="strong">Throws:</span></dt>
<dd><code>javax.servlet.ServletException</code></dd></dl>
</li>
</ul>
<a name="addInitScript(nextapp.echo.webcontainer.Service)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addInitScript</h4>
<pre>protected&nbsp;void&nbsp;addInitScript(<a href="../../../nextapp/echo/webcontainer/Service.html" title="interface in nextapp.echo.webcontainer">Service</a>&nbsp;service)</pre>
<div class="block">Adds a JavaScript service to be loaded at initialization.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>service</code> - the service which will provide JavaScript content.</dd></dl>
</li>
</ul>
<a name="addInitStyleSheet(nextapp.echo.webcontainer.Service)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addInitStyleSheet</h4>
<pre>protected&nbsp;void&nbsp;addInitStyleSheet(<a href="../../../nextapp/echo/webcontainer/Service.html" title="interface in nextapp.echo.webcontainer">Service</a>&nbsp;service)</pre>
<div class="block">Adds a CSS style sheet to be loaded at initialization.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>service</code> - the service which will provide the CSS content.</dd></dl>
</li>
</ul>
<a name="setWebSocketConnectionHandler(nextapp.echo.webcontainer.WebSocketConnectionHandler)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setWebSocketConnectionHandler</h4>
<pre>protected final&nbsp;void&nbsp;setWebSocketConnectionHandler(<a href="../../../nextapp/echo/webcontainer/WebSocketConnectionHandler.html" title="class in nextapp.echo.webcontainer">WebSocketConnectionHandler</a>&nbsp;handler)</pre>
</li>
</ul>
<a name="removeWebSocketConnectionHandler()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>removeWebSocketConnectionHandler</h4>
<pre>protected final&nbsp;void&nbsp;removeWebSocketConnectionHandler()</pre>
</li>
</ul>
<a name="hasWebSocketConnectionHandler()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>hasWebSocketConnectionHandler</h4>
<pre>public final&nbsp;boolean&nbsp;hasWebSocketConnectionHandler()</pre>
</li>
</ul>
<a name="doGet(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>doGet</h4>
<pre>public final&nbsp;void&nbsp;doGet(javax.servlet.http.HttpServletRequest&nbsp;request,
         javax.servlet.http.HttpServletResponse&nbsp;response)
                 throws java.io.IOException,
                        javax.servlet.ServletException</pre>
<div class="block">Handles a GET request.</div>
<dl>
<dt><strong>Overrides:</strong></dt>
<dd><code>doGet</code>&nbsp;in class&nbsp;<code>javax.servlet.http.HttpServlet</code></dd>
<dt><span class="strong">Throws:</span></dt>
<dd><code>java.io.IOException</code></dd>
<dd><code>javax.servlet.ServletException</code></dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#process(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)"><code>process(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)</code></a></dd></dl>
</li>
</ul>
<a name="doPost(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>doPost</h4>
<pre>public final&nbsp;void&nbsp;doPost(javax.servlet.http.HttpServletRequest&nbsp;request,
          javax.servlet.http.HttpServletResponse&nbsp;response)
                  throws java.io.IOException,
                         javax.servlet.ServletException</pre>
<div class="block">Handles a POST request.</div>
<dl>
<dt><strong>Overrides:</strong></dt>
<dd><code>doPost</code>&nbsp;in class&nbsp;<code>javax.servlet.http.HttpServlet</code></dd>
<dt><span class="strong">Throws:</span></dt>
<dd><code>java.io.IOException</code></dd>
<dd><code>javax.servlet.ServletException</code></dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.html#process(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)"><code>process(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)</code></a></dd></dl>
</li>
</ul>
<a name="getInitScripts()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getInitScripts</h4>
<pre>public&nbsp;java.util.Iterator&nbsp;getInitScripts()</pre>
<div class="block">Returns an iterator over initialization script services.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the iterator</dd></dl>
</li>
</ul>
<a name="getInitStyleSheets()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getInitStyleSheets</h4>
<pre>public&nbsp;java.util.Iterator&nbsp;getInitStyleSheets()</pre>
<div class="block">Returns an iterator over initialization script services.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the iterator</dd></dl>
</li>
</ul>
<a name="getInstanceMode()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getInstanceMode</h4>
<pre>public&nbsp;int&nbsp;getInstanceMode()</pre>
<div class="block">Returns the instance operating mode of the application, determining how the application will perform if it
 is visited by multiple browser windows.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the operating mode, one of the following values:
         <ul>
          <li><code>INSTANCE_MODE_SINGLE</code> (the default) to allow only a single instance of the application</li>
          <li><code>INSTANCE_MODE_WINDOW</code> to allow multiple instances of the application per session, with new
           instances created for new browser windows</li>
          </ul></dd></dl>
</li>
</ul>
<a name="newApplicationInstance()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>newApplicationInstance</h4>
<pre>public abstract&nbsp;<a href="../../../nextapp/echo/app/ApplicationInstance.html" title="class in nextapp.echo.app">ApplicationInstance</a>&nbsp;newApplicationInstance()</pre>
<div class="block">Creates a new <code>ApplicationInstance</code> for visitor to an 
 application.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>a new <code>ApplicationInstance</code></dd></dl>
</li>
</ul>
<a name="process(javax.servlet.http.HttpServletRequest, javax.servlet.http.HttpServletResponse)">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>process</h4>
<pre>protected&nbsp;void&nbsp;process(javax.servlet.http.HttpServletRequest&nbsp;request,
           javax.servlet.http.HttpServletResponse&nbsp;response)
                throws java.io.IOException,
                       javax.servlet.ServletException</pre>
<div class="block">Processes an HTTP request and generates a response.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>request</code> - the incoming <code>HttpServletRequest</code></dd><dd><code>response</code> - the outgoing <code>HttpServletResponse</code></dd>
<dt><span class="strong">Throws:</span></dt>
<dd><code>java.io.IOException</code></dd>
<dd><code>javax.servlet.ServletException</code></dd></dl>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>
<!-- ========= END OF CLASS DATA ========= -->
<!-- ======= START OF BOTTOM NAVBAR ====== -->
<div class="bottomNav"><a name="navbar_bottom">
<!--   -->
</a><a href="#skip-navbar_bottom" title="Skip navigation links"></a><a name="navbar_bottom_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../index-all.html">Index</a></li>
<li><a href="../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../nextapp/echo/webcontainer/UserInstanceContainer.html" title="class in nextapp.echo.webcontainer"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../nextapp/echo/webcontainer/WebContainerServlet.MultipartRequestWrapper.html" title="interface in nextapp.echo.webcontainer"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../index.html?nextapp/echo/webcontainer/WebContainerServlet.html" target="_top">Frames</a></li>
<li><a href="WebContainerServlet.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_bottom">
<li><a href="../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_bottom");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li><a href="#nested_class_summary">Nested</a>&nbsp;|&nbsp;</li>
<li><a href="#field_summary">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li><a href="#field_detail">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_bottom">
<!--   -->
</a></div>
<!-- ======== END OF BOTTOM NAVBAR ======= -->
</div>
