---
title: echo3 - API
---

## API Documentation

--------

<dl>
	<dt><a href="api/java/">Server-Side Java API</a></dt>
	<dd></dd>
	
	<dt><a href="api/js">Client-Side JavaScript API</a></dt>
	<dd></dd>
</dl>
