<div>
<!-- ========= START OF TOP NAVBAR ======= -->
<div class="topNav"><a name="navbar_top">
<!--   -->
</a><a href="#skip-navbar_top" title="Skip navigation links"></a><a name="navbar_top_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../../index-all.html">Index</a></li>
<li><a href="../../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../../nextapp/echo/app/list/DefaultListModel.html" title="class in nextapp.echo.app.list"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../../nextapp/echo/app/list/ListCellRenderer.html" title="interface in nextapp.echo.app.list"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../../index.html?nextapp/echo/app/list/DefaultListSelectionModel.html" target="_top">Frames</a></li>
<li><a href="DefaultListSelectionModel.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_top">
<li><a href="../../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_top");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_top">
<!--   -->
</a></div>
<!-- ========= END OF TOP NAVBAR ========= -->
<!-- ======== START OF CLASS DATA ======== -->
<div class="header">
<div class="subTitle">nextapp.echo.app.list</div>
<h2 title="Class DefaultListSelectionModel" class="title">Class DefaultListSelectionModel</h2>
</div>
<div class="contentContainer">
<ul class="inheritance">
<li>java.lang.Object</li>
<li>
<ul class="inheritance">
<li>nextapp.echo.app.list.DefaultListSelectionModel</li>
</ul>
</li>
</ul>
<div class="description">
<ul class="blockList">
<li class="blockList">
<dl>
<dt>All Implemented Interfaces:</dt>
<dd>java.io.Serializable, <a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></dd>
</dl>
<hr>
<br>
<pre>public class <span class="strong">DefaultListSelectionModel</span>
extends java.lang.Object
implements <a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a>, java.io.Serializable</pre>
<div class="block">Default <code>ListSelectionModel</code> implementation.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../serialized-form.html#nextapp.echo.app.list.DefaultListSelectionModel">Serialized Form</a></dd></dl>
</li>
</ul>
</div>
<div class="summary">
<ul class="blockList">
<li class="blockList">
<!-- =========== FIELD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="field_summary">
<!--   -->
</a>
<h3>Field Summary</h3>
<ul class="blockList">
<li class="blockList"><a name="fields_inherited_from_class_nextapp.echo.app.list.ListSelectionModel">
<!--   -->
</a>
<h3>Fields inherited from interface&nbsp;nextapp.echo.app.list.<a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></h3>
<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#MULTIPLE_SELECTION">MULTIPLE_SELECTION</a>, <a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#SINGLE_SELECTION">SINGLE_SELECTION</a></code></li>
</ul>
</li>
</ul>
<!-- ======== CONSTRUCTOR SUMMARY ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_summary">
<!--   -->
</a>
<h3>Constructor Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Constructor Summary table, listing constructors, and an explanation">
<caption><span>Constructors</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colOne" scope="col">Constructor and Description</th>
</tr>
<tr class="altColor">
<td class="colOne"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#DefaultListSelectionModel()">DefaultListSelectionModel</a></strong>()</code>&nbsp;</td>
</tr>
</table>
</li>
</ul>
<!-- ========== METHOD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="method_summary">
<!--   -->
</a>
<h3>Method Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Method Summary table, listing methods, and an explanation">
<caption><span>Methods</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Method and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#addChangeListener(nextapp.echo.app.event.ChangeListener)">addChangeListener</a></strong>(<a href="../../../../nextapp/echo/app/event/ChangeListener.html" title="interface in nextapp.echo.app.event">ChangeListener</a>&nbsp;l)</code>
<div class="block">Adds a <code>ChangeListenerb</code> to the selection model, which will
 be notified when the selection changes.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#clearSelection()">clearSelection</a></strong>()</code>
<div class="block">Deselects all items.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>protected void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#fireValueChanged()">fireValueChanged</a></strong>()</code>
<div class="block">Notifies <code>ChangeListener</code>s that the selection has 
 changed.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>int</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#getMaxSelectedIndex()">getMaxSelectedIndex</a></strong>()</code>
<div class="block">Returns the maximum selected index.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>int</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#getMinSelectedIndex()">getMinSelectedIndex</a></strong>()</code>
<div class="block">Returns the minimum selected index.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>int</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#getSelectionMode()">getSelectionMode</a></strong>()</code>
<div class="block">Returns the selection mode.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>boolean</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#isSelectedIndex(int)">isSelectedIndex</a></strong>(int&nbsp;index)</code>
<div class="block">Determines whether an index is selected.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>boolean</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#isSelectionEmpty()">isSelectionEmpty</a></strong>()</code>
<div class="block">Determines if no items are selected.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#removeChangeListener(nextapp.echo.app.event.ChangeListener)">removeChangeListener</a></strong>(<a href="../../../../nextapp/echo/app/event/ChangeListener.html" title="interface in nextapp.echo.app.event">ChangeListener</a>&nbsp;l)</code>
<div class="block">Removes a <code>ChangeListener</code> from being notified of when the
 selection changes.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#setSelectedIndex(int, boolean)">setSelectedIndex</a></strong>(int&nbsp;index,
                boolean&nbsp;newValue)</code>
<div class="block">Sets the selection state of the given index.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../../nextapp/echo/app/list/DefaultListSelectionModel.html#setSelectionMode(int)">setSelectionMode</a></strong>(int&nbsp;selectionMode)</code>
<div class="block">Sets the selection mode.</div>
</td>
</tr>
</table>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_java.lang.Object">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;java.lang.Object</h3>
<code>clone, equals, finalize, getClass, hashCode, notify, notifyAll, toString, wait, wait, wait</code></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="details">
<ul class="blockList">
<li class="blockList">
<!-- ========= CONSTRUCTOR DETAIL ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_detail">
<!--   -->
</a>
<h3>Constructor Detail</h3>
<a name="DefaultListSelectionModel()">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>DefaultListSelectionModel</h4>
<pre>public&nbsp;DefaultListSelectionModel()</pre>
</li>
</ul>
</li>
</ul>
<!-- ============ METHOD DETAIL ========== -->
<ul class="blockList">
<li class="blockList"><a name="method_detail">
<!--   -->
</a>
<h3>Method Detail</h3>
<a name="addChangeListener(nextapp.echo.app.event.ChangeListener)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addChangeListener</h4>
<pre>public&nbsp;void&nbsp;addChangeListener(<a href="../../../../nextapp/echo/app/event/ChangeListener.html" title="interface in nextapp.echo.app.event">ChangeListener</a>&nbsp;l)</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#addChangeListener(nextapp.echo.app.event.ChangeListener)">ListSelectionModel</a></code></strong></div>
<div class="block">Adds a <code>ChangeListenerb</code> to the selection model, which will
 be notified when the selection changes.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#addChangeListener(nextapp.echo.app.event.ChangeListener)">addChangeListener</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Parameters:</span></dt><dd><code>l</code> - the <code>ChangeListener</code> to add</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#addChangeListener(nextapp.echo.app.event.ChangeListener)"><code>ListSelectionModel.addChangeListener(
      nextapp.echo.app.event.ChangeListener)</code></a></dd></dl>
</li>
</ul>
<a name="clearSelection()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>clearSelection</h4>
<pre>public&nbsp;void&nbsp;clearSelection()</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#clearSelection()">ListSelectionModel</a></code></strong></div>
<div class="block">Deselects all items.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#clearSelection()">clearSelection</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#clearSelection()"><code>ListSelectionModel.clearSelection()</code></a></dd></dl>
</li>
</ul>
<a name="fireValueChanged()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>fireValueChanged</h4>
<pre>protected&nbsp;void&nbsp;fireValueChanged()</pre>
<div class="block">Notifies <code>ChangeListener</code>s that the selection has 
 changed.</div>
</li>
</ul>
<a name="getMaxSelectedIndex()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getMaxSelectedIndex</h4>
<pre>public&nbsp;int&nbsp;getMaxSelectedIndex()</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getMaxSelectedIndex()">ListSelectionModel</a></code></strong></div>
<div class="block">Returns the maximum selected index.
 Returns -1 when no items are selected.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getMaxSelectedIndex()">getMaxSelectedIndex</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Returns:</span></dt><dd>the maximum selected index</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getMaxSelectedIndex()"><code>ListSelectionModel.getMaxSelectedIndex()</code></a></dd></dl>
</li>
</ul>
<a name="getMinSelectedIndex()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getMinSelectedIndex</h4>
<pre>public&nbsp;int&nbsp;getMinSelectedIndex()</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getMinSelectedIndex()">ListSelectionModel</a></code></strong></div>
<div class="block">Returns the minimum selected index.
 Returns -1 when no items are selected.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getMinSelectedIndex()">getMinSelectedIndex</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Returns:</span></dt><dd>the minimum selected index</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getMinSelectedIndex()"><code>ListSelectionModel.getMinSelectedIndex()</code></a></dd></dl>
</li>
</ul>
<a name="getSelectionMode()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getSelectionMode</h4>
<pre>public&nbsp;int&nbsp;getSelectionMode()</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getSelectionMode()">ListSelectionModel</a></code></strong></div>
<div class="block">Returns the selection mode.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getSelectionMode()">getSelectionMode</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Returns:</span></dt><dd>the selection mode, one of the following values:
         <ul>
          <li><code>ListSelectionModel.SINGLE_SELECTION</code>: only 
          one list element may be selected.</li>
          <li><code>ListSelectionModel.MULTIPLE_SELECTION</code>: 
          multiple list elements may be selected.</li>
         </ul></dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#getSelectionMode()"><code>ListSelectionModel.getSelectionMode()</code></a></dd></dl>
</li>
</ul>
<a name="isSelectedIndex(int)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>isSelectedIndex</h4>
<pre>public&nbsp;boolean&nbsp;isSelectedIndex(int&nbsp;index)</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#isSelectedIndex(int)">ListSelectionModel</a></code></strong></div>
<div class="block">Determines whether an index is selected.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#isSelectedIndex(int)">isSelectedIndex</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Parameters:</span></dt><dd><code>index</code> - the index</dd>
<dt><span class="strong">Returns:</span></dt><dd>true if the index is selected</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#isSelectedIndex(int)"><code>ListSelectionModel.isSelectedIndex(int)</code></a></dd></dl>
</li>
</ul>
<a name="isSelectionEmpty()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>isSelectionEmpty</h4>
<pre>public&nbsp;boolean&nbsp;isSelectionEmpty()</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#isSelectionEmpty()">ListSelectionModel</a></code></strong></div>
<div class="block">Determines if no items are selected.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#isSelectionEmpty()">isSelectionEmpty</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Returns:</span></dt><dd>true if no items are selected</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#isSelectionEmpty()"><code>ListSelectionModel.isSelectionEmpty()</code></a></dd></dl>
</li>
</ul>
<a name="removeChangeListener(nextapp.echo.app.event.ChangeListener)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>removeChangeListener</h4>
<pre>public&nbsp;void&nbsp;removeChangeListener(<a href="../../../../nextapp/echo/app/event/ChangeListener.html" title="interface in nextapp.echo.app.event">ChangeListener</a>&nbsp;l)</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#removeChangeListener(nextapp.echo.app.event.ChangeListener)">ListSelectionModel</a></code></strong></div>
<div class="block">Removes a <code>ChangeListener</code> from being notified of when the
 selection changes.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#removeChangeListener(nextapp.echo.app.event.ChangeListener)">removeChangeListener</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Parameters:</span></dt><dd><code>l</code> - the <code>ChangeListener</code> to remove</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#removeChangeListener(nextapp.echo.app.event.ChangeListener)"><code>ListSelectionModel.removeChangeListener(nextapp.echo.app.event.ChangeListener)</code></a></dd></dl>
</li>
</ul>
<a name="setSelectedIndex(int, boolean)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setSelectedIndex</h4>
<pre>public&nbsp;void&nbsp;setSelectedIndex(int&nbsp;index,
                    boolean&nbsp;newValue)</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#setSelectedIndex(int, boolean)">ListSelectionModel</a></code></strong></div>
<div class="block">Sets the selection state of the given index.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#setSelectedIndex(int, boolean)">setSelectedIndex</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Parameters:</span></dt><dd><code>index</code> - the index</dd><dd><code>newValue</code> - the new selection state</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#setSelectedIndex(int, boolean)"><code>ListSelectionModel.setSelectedIndex(int, boolean)</code></a></dd></dl>
</li>
</ul>
<a name="setSelectionMode(int)">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>setSelectionMode</h4>
<pre>public&nbsp;void&nbsp;setSelectionMode(int&nbsp;selectionMode)</pre>
<div class="block"><strong>Description copied from interface:&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#setSelectionMode(int)">ListSelectionModel</a></code></strong></div>
<div class="block">Sets the selection mode.</div>
<dl>
<dt><strong>Specified by:</strong></dt>
<dd><code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#setSelectionMode(int)">setSelectionMode</a></code>&nbsp;in interface&nbsp;<code><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html" title="interface in nextapp.echo.app.list">ListSelectionModel</a></code></dd>
<dt><span class="strong">Parameters:</span></dt><dd><code>selectionMode</code> - the selection mode, one of the following values:
        <ul>
         <li><code>ListSelectionModel.SINGLE_SELECTION</code>: only one list element 
         may be selected.</li>
         <li><code>ListSelectionModel.MULTIPLE_SELECTION</code>: multiple list elements
         may be selected.</li>
        </ul></dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../../nextapp/echo/app/list/ListSelectionModel.html#setSelectionMode(int)"><code>ListSelectionModel.setSelectionMode(int)</code></a></dd></dl>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>
<!-- ========= END OF CLASS DATA ========= -->
<!-- ======= START OF BOTTOM NAVBAR ====== -->
<div class="bottomNav"><a name="navbar_bottom">
<!--   -->
</a><a href="#skip-navbar_bottom" title="Skip navigation links"></a><a name="navbar_bottom_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../../index-all.html">Index</a></li>
<li><a href="../../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../../nextapp/echo/app/list/DefaultListModel.html" title="class in nextapp.echo.app.list"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../../nextapp/echo/app/list/ListCellRenderer.html" title="interface in nextapp.echo.app.list"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../../index.html?nextapp/echo/app/list/DefaultListSelectionModel.html" target="_top">Frames</a></li>
<li><a href="DefaultListSelectionModel.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_bottom">
<li><a href="../../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_bottom");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li>Field&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_bottom">
<!--   -->
</a></div>
<!-- ======== END OF BOTTOM NAVBAR ======= -->
</div>
