<div>
<!-- ========= START OF TOP NAVBAR ======= -->
<div class="topNav"><a name="navbar_top">
<!--   -->
</a><a href="#skip-navbar_top" title="Skip navigation links"></a><a name="navbar_top_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../index-all.html">Index</a></li>
<li><a href="../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../nextapp/echo/app/Alignment.html" title="class in nextapp.echo.app"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../nextapp/echo/app/AwtImageReference.html" title="class in nextapp.echo.app"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../index.html?nextapp/echo/app/ApplicationInstance.html" target="_top">Frames</a></li>
<li><a href="ApplicationInstance.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_top">
<li><a href="../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_top");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li><a href="#field_summary">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li><a href="#field_detail">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_top">
<!--   -->
</a></div>
<!-- ========= END OF TOP NAVBAR ========= -->
<!-- ======== START OF CLASS DATA ======== -->
<div class="header">
<div class="subTitle">nextapp.echo.app</div>
<h2 title="Class ApplicationInstance" class="title">Class ApplicationInstance</h2>
</div>
<div class="contentContainer">
<ul class="inheritance">
<li>java.lang.Object</li>
<li>
<ul class="inheritance">
<li>nextapp.echo.app.ApplicationInstance</li>
</ul>
</li>
</ul>
<div class="description">
<ul class="blockList">
<li class="blockList">
<dl>
<dt>All Implemented Interfaces:</dt>
<dd>java.io.Serializable</dd>
</dl>
<hr>
<br>
<pre>public abstract class <span class="strong">ApplicationInstance</span>
extends java.lang.Object
implements java.io.Serializable</pre>
<div class="block">A single user-instance of an Echo application.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../serialized-form.html#nextapp.echo.app.ApplicationInstance">Serialized Form</a></dd></dl>
</li>
</ul>
</div>
<div class="summary">
<ul class="blockList">
<li class="blockList">
<!-- =========== FIELD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="field_summary">
<!--   -->
</a>
<h3>Field Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Field Summary table, listing fields, and an explanation">
<caption><span>Fields</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Field and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#FOCUSED_COMPONENT_CHANGED_PROPERTY">FOCUSED_COMPONENT_CHANGED_PROPERTY</a></strong></code>&nbsp;</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#ID_STRING">ID_STRING</a></strong></code>
<div class="block">The name and version of the Echo API in use.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#LAST_ENQUEUE_TASK_PROPERTY">LAST_ENQUEUE_TASK_PROPERTY</a></strong></code>&nbsp;</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#LOCALE_CHANGED_PROPERTY">LOCALE_CHANGED_PROPERTY</a></strong></code>&nbsp;</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#MODAL_COMPONENTS_CHANGED_PROPERTY">MODAL_COMPONENTS_CHANGED_PROPERTY</a></strong></code>&nbsp;</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#STYLE_SHEET_CHANGED_PROPERTY">STYLE_SHEET_CHANGED_PROPERTY</a></strong></code>&nbsp;</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#WINDOWS_CHANGED_PROPERTY">WINDOWS_CHANGED_PROPERTY</a></strong></code>&nbsp;</td>
</tr>
</table>
</li>
</ul>
<!-- ======== CONSTRUCTOR SUMMARY ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_summary">
<!--   -->
</a>
<h3>Constructor Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Constructor Summary table, listing constructors, and an explanation">
<caption><span>Constructors</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colOne" scope="col">Constructor and Description</th>
</tr>
<tr class="altColor">
<td class="colOne"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#ApplicationInstance()">ApplicationInstance</a></strong>()</code>
<div class="block">Creates an <code>ApplicationInstance</code>.</div>
</td>
</tr>
</table>
</li>
</ul>
<!-- ========== METHOD SUMMARY =========== -->
<ul class="blockList">
<li class="blockList"><a name="method_summary">
<!--   -->
</a>
<h3>Method Summary</h3>
<table class="overviewSummary" border="0" cellpadding="3" cellspacing="0" summary="Method Summary table, listing methods, and an explanation">
<caption><span>Methods</span><span class="tabEnd">&nbsp;</span></caption>
<tr>
<th class="colFirst" scope="col">Modifier and Type</th>
<th class="colLast" scope="col">Method and Description</th>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#activate()">activate</a></strong>()</code>
<div class="block">Invoked after the application has been passivated (such that its state may
 be persisted or moved amongst VMs) and is about to be reactivated.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#addPropertyChangeListener(java.beans.PropertyChangeListener)">addPropertyChangeListener</a></strong>(java.beans.PropertyChangeListener&nbsp;l)</code>
<div class="block">Adds a <code>PropertyChangeListener</code> to receive notification of
 application-level property changes.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/TaskQueueHandle.html" title="interface in nextapp.echo.app">TaskQueueHandle</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#createTaskQueue()">createTaskQueue</a></strong>()</code>
<div class="block">Creates a new task queue.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#dispose()">dispose</a></strong>()</code>
<div class="block">Invoked when the application is disposed and will not be used again.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/Window.html" title="class in nextapp.echo.app">Window</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#doInit()">doInit</a></strong>()</code>
<div class="block">Initializes the <code>ApplicationInstance</code>.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#doValidation()">doValidation</a></strong>()</code>
<div class="block">Validates all components registered with the application.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#enqueueCommand(nextapp.echo.app.Command)">enqueueCommand</a></strong>(<a href="../../../nextapp/echo/app/Command.html" title="interface in nextapp.echo.app">Command</a>&nbsp;command)</code>
<div class="block">Queues the given stateless <code>Command</code> for execution on the 
 current client/server synchronization.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#enqueueTask(nextapp.echo.app.TaskQueueHandle, java.lang.Runnable)">enqueueTask</a></strong>(<a href="../../../nextapp/echo/app/TaskQueueHandle.html" title="interface in nextapp.echo.app">TaskQueueHandle</a>&nbsp;taskQueue,
           java.lang.Runnable&nbsp;task)</code>
<div class="block">Enqueues a task to be run during the next client/server 
 synchronization.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>protected void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#firePropertyChange(java.lang.String, java.lang.Object, java.lang.Object)">firePropertyChange</a></strong>(java.lang.String&nbsp;propertyName,
                  java.lang.Object&nbsp;oldValue,
                  java.lang.Object&nbsp;newValue)</code>
<div class="block">Reports a bound property change.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#generateId()">generateId</a></strong>()</code>
<div class="block">Generates an identifier which is unique within this 
 <code>ApplicationInstance</code>.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static java.lang.String</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#generateSystemId()">generateSystemId</a></strong>()</code>
<div class="block">Generates a system-level identifier (an identifier which is unique to all
 <code>ApplicationInstance</code>s).</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>static <a href="../../../nextapp/echo/app/ApplicationInstance.html" title="class in nextapp.echo.app">ApplicationInstance</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getActive()">getActive</a></strong>()</code>
<div class="block">Returns a reference to the <code>ApplicationInstance</code> that is 
 relevant to the current thread, or null if no instance is relevant.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getComponentByRenderId(java.lang.String)">getComponentByRenderId</a></strong>(java.lang.String&nbsp;renderId)</code>
<div class="block">Retrieves the component currently registered with the application 
 with the specified render id.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>java.lang.Object</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getContextProperty(java.lang.String)">getContextProperty</a></strong>(java.lang.String&nbsp;propertyName)</code>
<div class="block">Returns the value of a contextual property.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/Window.html" title="class in nextapp.echo.app">Window</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getDefaultWindow()">getDefaultWindow</a></strong>()</code>
<div class="block">Returns the default window of the application.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getFocusedComponent()">getFocusedComponent</a></strong>()</code>
<div class="block">Returns the presently focused component, if known.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/LayoutDirection.html" title="class in nextapp.echo.app">LayoutDirection</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getLayoutDirection()">getLayoutDirection</a></strong>()</code>
<div class="block">Returns the application instance's default 
 <code>LayoutDirection</code>.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>java.util.Locale</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getLocale()">getLocale</a></strong>()</code>
<div class="block">Returns the application instance's default <code>Locale</code>.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getModalContextRoot()">getModalContextRoot</a></strong>()</code>
<div class="block">Retrieves the root component of the current modal context, or null
 if no modal context exists.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/Style.html" title="interface in nextapp.echo.app">Style</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getStyle(java.lang.Class, java.lang.String)">getStyle</a></strong>(java.lang.Class&nbsp;componentClass,
        java.lang.String&nbsp;styleName)</code>
<div class="block">Retrieves the style for the specified specified class of 
 component / style name.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/StyleSheet.html" title="interface in nextapp.echo.app">StyleSheet</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getStyleSheet()">getStyleSheet</a></strong>()</code>
<div class="block">Returns the application-wide <code>StyleSheet</code>, if present.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code><a href="../../../nextapp/echo/app/update/UpdateManager.html" title="class in nextapp.echo.app.update">UpdateManager</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#getUpdateManager()">getUpdateManager</a></strong>()</code>
<div class="block">Retrieves the <code>UpdateManager</code> being used to manage the
 client/server synchronization of this <code>ApplicationInstance</code></div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>boolean</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#hasQueuedTasks()">hasQueuedTasks</a></strong>()</code>
<div class="block">Determines if there are any queued tasks in any of the task
 queues associated with this <code>ApplicationInstance</code>.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>boolean</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#hasTaskQueues()">hasTaskQueues</a></strong>()</code>
<div class="block">Determines if this <code>ApplicationInstance</code> currently has any 
 active tasks queues, which might be monitoring external events.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>abstract <a href="../../../nextapp/echo/app/Window.html" title="class in nextapp.echo.app">Window</a></code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#init()">init</a></strong>()</code>
<div class="block">Invoked to initialize the application, returning the default window.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#passivate()">passivate</a></strong>()</code>
<div class="block">Invoked before the application is passivated (such that its state may
 be persisted or moved amongst VMs).</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#processInput(java.lang.String, java.lang.Object)">processInput</a></strong>(java.lang.String&nbsp;propertyName,
            java.lang.Object&nbsp;propertyValue)</code>
<div class="block">Processes client input specific to the <code>ApplicationInstance</code> 
 received from the <code>UpdateManager</code>.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#processQueuedTasks()">processQueuedTasks</a></strong>()</code>
<div class="block">Processes all queued tasks.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#removePropertyChangeListener(java.beans.PropertyChangeListener)">removePropertyChangeListener</a></strong>(java.beans.PropertyChangeListener&nbsp;l)</code>
<div class="block">Removes a <code>PropertyChangeListener</code> from receiving 
 notification of application-level property changes.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#removeTaskQueue(nextapp.echo.app.TaskQueueHandle)">removeTaskQueue</a></strong>(<a href="../../../nextapp/echo/app/TaskQueueHandle.html" title="interface in nextapp.echo.app">TaskQueueHandle</a>&nbsp;taskQueueHandle)</code>
<div class="block">Removes the task queue described the specified 
 <code>TaskQueueHandle</code>.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>static void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#setActive(nextapp.echo.app.ApplicationInstance)">setActive</a></strong>(<a href="../../../nextapp/echo/app/ApplicationInstance.html" title="class in nextapp.echo.app">ApplicationInstance</a>&nbsp;applicationInstance)</code>
<div class="block">Sets the <code>ApplicationInstance</code> that is relevant to the 
 current thread.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#setContextProperty(java.lang.String, java.lang.Object)">setContextProperty</a></strong>(java.lang.String&nbsp;propertyName,
                  java.lang.Object&nbsp;propertyValue)</code>
<div class="block">Sets a contextual property.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#setFocusedComponent(nextapp.echo.app.Component)">setFocusedComponent</a></strong>(<a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a>&nbsp;newValue)</code>
<div class="block">Sets the presently focused component.</div>
</td>
</tr>
<tr class="rowColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#setLocale(java.util.Locale)">setLocale</a></strong>(java.util.Locale&nbsp;newValue)</code>
<div class="block">Sets the default locale of the application.</div>
</td>
</tr>
<tr class="altColor">
<td class="colFirst"><code>void</code></td>
<td class="colLast"><code><strong><a href="../../../nextapp/echo/app/ApplicationInstance.html#setStyleSheet(nextapp.echo.app.StyleSheet)">setStyleSheet</a></strong>(<a href="../../../nextapp/echo/app/StyleSheet.html" title="interface in nextapp.echo.app">StyleSheet</a>&nbsp;newValue)</code>
<div class="block">Sets the <code>StyleSheet</code> of this 
 <code>ApplicationInstance</code>.</div>
</td>
</tr>
</table>
<ul class="blockList">
<li class="blockList"><a name="methods_inherited_from_class_java.lang.Object">
<!--   -->
</a>
<h3>Methods inherited from class&nbsp;java.lang.Object</h3>
<code>clone, equals, finalize, getClass, hashCode, notify, notifyAll, toString, wait, wait, wait</code></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<div class="details">
<ul class="blockList">
<li class="blockList">
<!-- ============ FIELD DETAIL =========== -->
<ul class="blockList">
<li class="blockList"><a name="field_detail">
<!--   -->
</a>
<h3>Field Detail</h3>
<a name="ID_STRING">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>ID_STRING</h4>
<pre>public static final&nbsp;java.lang.String ID_STRING</pre>
<div class="block">The name and version of the Echo API in use.</div>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.app.ApplicationInstance.ID_STRING">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="FOCUSED_COMPONENT_CHANGED_PROPERTY">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>FOCUSED_COMPONENT_CHANGED_PROPERTY</h4>
<pre>public static final&nbsp;java.lang.String FOCUSED_COMPONENT_CHANGED_PROPERTY</pre>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.app.ApplicationInstance.FOCUSED_COMPONENT_CHANGED_PROPERTY">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="LOCALE_CHANGED_PROPERTY">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>LOCALE_CHANGED_PROPERTY</h4>
<pre>public static final&nbsp;java.lang.String LOCALE_CHANGED_PROPERTY</pre>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.app.ApplicationInstance.LOCALE_CHANGED_PROPERTY">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="MODAL_COMPONENTS_CHANGED_PROPERTY">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>MODAL_COMPONENTS_CHANGED_PROPERTY</h4>
<pre>public static final&nbsp;java.lang.String MODAL_COMPONENTS_CHANGED_PROPERTY</pre>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.app.ApplicationInstance.MODAL_COMPONENTS_CHANGED_PROPERTY">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="STYLE_SHEET_CHANGED_PROPERTY">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>STYLE_SHEET_CHANGED_PROPERTY</h4>
<pre>public static final&nbsp;java.lang.String STYLE_SHEET_CHANGED_PROPERTY</pre>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.app.ApplicationInstance.STYLE_SHEET_CHANGED_PROPERTY">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="WINDOWS_CHANGED_PROPERTY">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>WINDOWS_CHANGED_PROPERTY</h4>
<pre>public static final&nbsp;java.lang.String WINDOWS_CHANGED_PROPERTY</pre>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.app.ApplicationInstance.WINDOWS_CHANGED_PROPERTY">Constant Field Values</a></dd></dl>
</li>
</ul>
<a name="LAST_ENQUEUE_TASK_PROPERTY">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>LAST_ENQUEUE_TASK_PROPERTY</h4>
<pre>public static final&nbsp;java.lang.String LAST_ENQUEUE_TASK_PROPERTY</pre>
<dl><dt><span class="strong">See Also:</span></dt><dd><a href="../../../constant-values.html#nextapp.echo.app.ApplicationInstance.LAST_ENQUEUE_TASK_PROPERTY">Constant Field Values</a></dd></dl>
</li>
</ul>
</li>
</ul>
<!-- ========= CONSTRUCTOR DETAIL ======== -->
<ul class="blockList">
<li class="blockList"><a name="constructor_detail">
<!--   -->
</a>
<h3>Constructor Detail</h3>
<a name="ApplicationInstance()">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>ApplicationInstance</h4>
<pre>public&nbsp;ApplicationInstance()</pre>
<div class="block">Creates an <code>ApplicationInstance</code>.</div>
</li>
</ul>
</li>
</ul>
<!-- ============ METHOD DETAIL ========== -->
<ul class="blockList">
<li class="blockList"><a name="method_detail">
<!--   -->
</a>
<h3>Method Detail</h3>
<a name="generateSystemId()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>generateSystemId</h4>
<pre>public static final&nbsp;java.lang.String&nbsp;generateSystemId()</pre>
<div class="block">Generates a system-level identifier (an identifier which is unique to all
 <code>ApplicationInstance</code>s).</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the generated identifier</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../nextapp/echo/app/ApplicationInstance.html#generateId()"><code>generateId()</code></a></dd></dl>
</li>
</ul>
<a name="getActive()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getActive</h4>
<pre>public static final&nbsp;<a href="../../../nextapp/echo/app/ApplicationInstance.html" title="class in nextapp.echo.app">ApplicationInstance</a>&nbsp;getActive()</pre>
<div class="block">Returns a reference to the <code>ApplicationInstance</code> that is 
 relevant to the current thread, or null if no instance is relevant.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the relevant <code>ApplicationInstance</code></dd></dl>
</li>
</ul>
<a name="setActive(nextapp.echo.app.ApplicationInstance)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setActive</h4>
<pre>public static final&nbsp;void&nbsp;setActive(<a href="../../../nextapp/echo/app/ApplicationInstance.html" title="class in nextapp.echo.app">ApplicationInstance</a>&nbsp;applicationInstance)</pre>
<div class="block">Sets the <code>ApplicationInstance</code> that is relevant to the 
 current thread.  This method should be invoked with a null
 argument when the previously set <code>ApplicationInstance</code> is 
 no longer relevant.
 <p>
 <b>This method should only be invoked by the application container.</b></div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>applicationInstance</code> - the relevant <code>ApplicationInstance</code></dd></dl>
</li>
</ul>
<a name="activate()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>activate</h4>
<pre>public&nbsp;void&nbsp;activate()</pre>
<div class="block">Invoked after the application has been passivated (such that its state may
 be persisted or moved amongst VMs) and is about to be reactivated.
 Implementations must invoke <code>super.activate()</code>.</div>
</li>
</ul>
<a name="addPropertyChangeListener(java.beans.PropertyChangeListener)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>addPropertyChangeListener</h4>
<pre>public&nbsp;void&nbsp;addPropertyChangeListener(java.beans.PropertyChangeListener&nbsp;l)</pre>
<div class="block">Adds a <code>PropertyChangeListener</code> to receive notification of
 application-level property changes.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>l</code> - the listener to add</dd></dl>
</li>
</ul>
<a name="createTaskQueue()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>createTaskQueue</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/TaskQueueHandle.html" title="interface in nextapp.echo.app">TaskQueueHandle</a>&nbsp;createTaskQueue()</pre>
<div class="block">Creates a new task queue.  A handle object representing the created task
 queue is returned.  The created task queue will remain active until it is
 provided to the <code>removeTaskQueue()</code> method.  Developers must
 take care to invoke <code>removeTaskQueue()</code> on any created
 task queues.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>a <code>TaskQueueHandler</code> representing the created task 
         queue</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../nextapp/echo/app/ApplicationInstance.html#removeTaskQueue(nextapp.echo.app.TaskQueueHandle)"><code>removeTaskQueue(TaskQueueHandle)</code></a></dd></dl>
</li>
</ul>
<a name="dispose()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>dispose</h4>
<pre>public&nbsp;void&nbsp;dispose()</pre>
<div class="block">Invoked when the application is disposed and will not be used again.
 Implementations must invoke <code>super.dispose()</code>.</div>
</li>
</ul>
<a name="doInit()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>doInit</h4>
<pre>public final&nbsp;<a href="../../../nextapp/echo/app/Window.html" title="class in nextapp.echo.app">Window</a>&nbsp;doInit()</pre>
<div class="block">Initializes the <code>ApplicationInstance</code>. This method is
 invoked by the application container.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the default <code>Window</code> of the application</dd>
<dt><span class="strong">Throws:</span></dt>
<dd><code>java.lang.IllegalStateException</code> - in the event that the current thread is not
         permitted to update the state of the user interface</dd></dl>
</li>
</ul>
<a name="doValidation()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>doValidation</h4>
<pre>public final&nbsp;void&nbsp;doValidation()</pre>
<div class="block">Validates all components registered with the application.</div>
</li>
</ul>
<a name="enqueueCommand(nextapp.echo.app.Command)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>enqueueCommand</h4>
<pre>public&nbsp;void&nbsp;enqueueCommand(<a href="../../../nextapp/echo/app/Command.html" title="interface in nextapp.echo.app">Command</a>&nbsp;command)</pre>
<div class="block">Queues the given stateless <code>Command</code> for execution on the 
 current client/server synchronization.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>command</code> - the <code>Command</code> to execute</dd></dl>
</li>
</ul>
<a name="enqueueTask(nextapp.echo.app.TaskQueueHandle, java.lang.Runnable)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>enqueueTask</h4>
<pre>public&nbsp;void&nbsp;enqueueTask(<a href="../../../nextapp/echo/app/TaskQueueHandle.html" title="interface in nextapp.echo.app">TaskQueueHandle</a>&nbsp;taskQueue,
               java.lang.Runnable&nbsp;task)</pre>
<div class="block">Enqueues a task to be run during the next client/server 
 synchronization.  The task will be run 
 <b>synchronously</b> in the user interface update thread.
 Enqueuing a task in response to an external event will result 
 in changes being pushed to the client.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>taskQueue</code> - the <code>TaskQueueHandle</code> representing the
        queue into which this task should be placed</dd><dd><code>task</code> - the task to run on client/server synchronization</dd></dl>
</li>
</ul>
<a name="firePropertyChange(java.lang.String, java.lang.Object, java.lang.Object)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>firePropertyChange</h4>
<pre>protected&nbsp;void&nbsp;firePropertyChange(java.lang.String&nbsp;propertyName,
                      java.lang.Object&nbsp;oldValue,
                      java.lang.Object&nbsp;newValue)</pre>
<div class="block">Reports a bound property change.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>propertyName</code> - the name of the changed property</dd><dd><code>oldValue</code> - the previous value of the property</dd><dd><code>newValue</code> - the present value of the property</dd></dl>
</li>
</ul>
<a name="generateId()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>generateId</h4>
<pre>public&nbsp;java.lang.String&nbsp;generateId()</pre>
<div class="block">Generates an identifier which is unique within this 
 <code>ApplicationInstance</code>.  This identifier should not be
 used outside of the context of this  <code>ApplicationInstance</code>.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the unique identifier</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../nextapp/echo/app/ApplicationInstance.html#generateSystemId()"><code>generateSystemId()</code></a></dd></dl>
</li>
</ul>
<a name="getContextProperty(java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getContextProperty</h4>
<pre>public&nbsp;java.lang.Object&nbsp;getContextProperty(java.lang.String&nbsp;propertyName)</pre>
<div class="block">Returns the value of a contextual property.
 Contextual properties are typically set by an application
 container, e.g., the Web Container, in order to provide
 container-specific information.  The property names of contextual
 properties are provided within the application container
 documentation when their use is required.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>propertyName</code> - the name of the object</dd>
<dt><span class="strong">Returns:</span></dt><dd>the object</dd></dl>
</li>
</ul>
<a name="getComponentByRenderId(java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getComponentByRenderId</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a>&nbsp;getComponentByRenderId(java.lang.String&nbsp;renderId)</pre>
<div class="block">Retrieves the component currently registered with the application 
 with the specified render id.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>renderId</code> - the render id of the component</dd>
<dt><span class="strong">Returns:</span></dt><dd>the component (or null if no component with the specified
         render id is registered)</dd></dl>
</li>
</ul>
<a name="getDefaultWindow()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getDefaultWindow</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/Window.html" title="class in nextapp.echo.app">Window</a>&nbsp;getDefaultWindow()</pre>
<div class="block">Returns the default window of the application.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the default <code>Window</code></dd></dl>
</li>
</ul>
<a name="getFocusedComponent()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getFocusedComponent</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a>&nbsp;getFocusedComponent()</pre>
<div class="block">Returns the presently focused component, if known.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the focused component</dd></dl>
</li>
</ul>
<a name="getLayoutDirection()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getLayoutDirection</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/LayoutDirection.html" title="class in nextapp.echo.app">LayoutDirection</a>&nbsp;getLayoutDirection()</pre>
<div class="block">Returns the application instance's default 
 <code>LayoutDirection</code>.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the <code>Locale</code></dd></dl>
</li>
</ul>
<a name="getLocale()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getLocale</h4>
<pre>public&nbsp;java.util.Locale&nbsp;getLocale()</pre>
<div class="block">Returns the application instance's default <code>Locale</code>.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the <code>Locale</code></dd></dl>
</li>
</ul>
<a name="getModalContextRoot()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getModalContextRoot</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a>&nbsp;getModalContextRoot()</pre>
<div class="block">Retrieves the root component of the current modal context, or null
 if no modal context exists.  Components which are not within the 
 descendant hierarchy of the modal context are barred from receiving
 user input.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the root component of the modal context</dd></dl>
</li>
</ul>
<a name="getStyle(java.lang.Class, java.lang.String)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getStyle</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/Style.html" title="interface in nextapp.echo.app">Style</a>&nbsp;getStyle(java.lang.Class&nbsp;componentClass,
             java.lang.String&nbsp;styleName)</pre>
<div class="block">Retrieves the style for the specified specified class of 
 component / style name.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>componentClass</code> - the component <code>Class</code></dd><dd><code>styleName</code> - the component's specified style name</dd>
<dt><span class="strong">Returns:</span></dt><dd>the appropriate application-wide style, or null
         if none exists</dd></dl>
</li>
</ul>
<a name="getStyleSheet()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getStyleSheet</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/StyleSheet.html" title="interface in nextapp.echo.app">StyleSheet</a>&nbsp;getStyleSheet()</pre>
<div class="block">Returns the application-wide <code>StyleSheet</code>, if present.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the <code>StyleSheet</code></dd></dl>
</li>
</ul>
<a name="getUpdateManager()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>getUpdateManager</h4>
<pre>public&nbsp;<a href="../../../nextapp/echo/app/update/UpdateManager.html" title="class in nextapp.echo.app.update">UpdateManager</a>&nbsp;getUpdateManager()</pre>
<div class="block">Retrieves the <code>UpdateManager</code> being used to manage the
 client/server synchronization of this <code>ApplicationInstance</code></div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the <code>UpdateManager</code></dd></dl>
</li>
</ul>
<a name="hasTaskQueues()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>hasTaskQueues</h4>
<pre>public final&nbsp;boolean&nbsp;hasTaskQueues()</pre>
<div class="block">Determines if this <code>ApplicationInstance</code> currently has any 
 active tasks queues, which might be monitoring external events.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>true if the instance has any task queues</dd></dl>
</li>
</ul>
<a name="hasQueuedTasks()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>hasQueuedTasks</h4>
<pre>public&nbsp;boolean&nbsp;hasQueuedTasks()</pre>
<div class="block">Determines if there are any queued tasks in any of the task
 queues associated with this <code>ApplicationInstance</code>.
 <p>
 This method may be overridden by an application in order to check
 on the status of long-running operations and enqueue tasks 
 just-in-time.  In such cases tasks should be <strong>enqueued</strong>
 and the value of <code>super.hasQueuedTasks()</code> should be 
 returned.  This method is not invoked by a user-interface thread and
 thus the component hierarchy may not be modified in
 overriding implementations.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>true if any tasks are queued</dd></dl>
</li>
</ul>
<a name="init()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>init</h4>
<pre>public abstract&nbsp;<a href="../../../nextapp/echo/app/Window.html" title="class in nextapp.echo.app">Window</a>&nbsp;init()</pre>
<div class="block">Invoked to initialize the application, returning the default window.
 The returned window must be visible.</div>
<dl><dt><span class="strong">Returns:</span></dt><dd>the default window of the application</dd></dl>
</li>
</ul>
<a name="passivate()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>passivate</h4>
<pre>public&nbsp;void&nbsp;passivate()</pre>
<div class="block">Invoked before the application is passivated (such that its state may
 be persisted or moved amongst VMs).
 Implementations must invoke <code>super.passivate()</code>.</div>
</li>
</ul>
<a name="processInput(java.lang.String, java.lang.Object)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>processInput</h4>
<pre>public&nbsp;void&nbsp;processInput(java.lang.String&nbsp;propertyName,
                java.lang.Object&nbsp;propertyValue)</pre>
<div class="block">Processes client input specific to the <code>ApplicationInstance</code> 
 received from the <code>UpdateManager</code>.
 Derivative implementations should take care to invoke 
 <code>super.processInput()</code>.</div>
</li>
</ul>
<a name="processQueuedTasks()">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>processQueuedTasks</h4>
<pre>public&nbsp;void&nbsp;processQueuedTasks()</pre>
<div class="block">Processes all queued tasks. This method may only be invoked from within a
 UI thread by the <code>UpdateManager</code>. Tasks are removed from queues
 once they have been processed.</div>
</li>
</ul>
<a name="removePropertyChangeListener(java.beans.PropertyChangeListener)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>removePropertyChangeListener</h4>
<pre>public&nbsp;void&nbsp;removePropertyChangeListener(java.beans.PropertyChangeListener&nbsp;l)</pre>
<div class="block">Removes a <code>PropertyChangeListener</code> from receiving 
 notification of application-level property changes.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>l</code> - the listener to remove</dd></dl>
</li>
</ul>
<a name="removeTaskQueue(nextapp.echo.app.TaskQueueHandle)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>removeTaskQueue</h4>
<pre>public&nbsp;void&nbsp;removeTaskQueue(<a href="../../../nextapp/echo/app/TaskQueueHandle.html" title="interface in nextapp.echo.app">TaskQueueHandle</a>&nbsp;taskQueueHandle)</pre>
<div class="block">Removes the task queue described the specified 
 <code>TaskQueueHandle</code>.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>taskQueueHandle</code> - the <code>TaskQueueHandle</code> specifying the
        task queue to remove</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../nextapp/echo/app/ApplicationInstance.html#createTaskQueue()"><code>createTaskQueue()</code></a></dd></dl>
</li>
</ul>
<a name="setContextProperty(java.lang.String, java.lang.Object)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setContextProperty</h4>
<pre>public&nbsp;void&nbsp;setContextProperty(java.lang.String&nbsp;propertyName,
                      java.lang.Object&nbsp;propertyValue)</pre>
<div class="block">Sets a contextual property.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>propertyName</code> - the property name</dd><dd><code>propertyValue</code> - the property value</dd><dt><span class="strong">See Also:</span></dt><dd><a href="../../../nextapp/echo/app/ApplicationInstance.html#getContextProperty(java.lang.String)"><code>getContextProperty(java.lang.String)</code></a></dd></dl>
</li>
</ul>
<a name="setFocusedComponent(nextapp.echo.app.Component)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setFocusedComponent</h4>
<pre>public&nbsp;void&nbsp;setFocusedComponent(<a href="../../../nextapp/echo/app/Component.html" title="class in nextapp.echo.app">Component</a>&nbsp;newValue)</pre>
<div class="block">Sets the presently focused component.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>newValue</code> - the component to be focused</dd></dl>
</li>
</ul>
<a name="setLocale(java.util.Locale)">
<!--   -->
</a>
<ul class="blockList">
<li class="blockList">
<h4>setLocale</h4>
<pre>public&nbsp;void&nbsp;setLocale(java.util.Locale&nbsp;newValue)</pre>
<div class="block">Sets the default locale of the application.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>newValue</code> - the new locale</dd></dl>
</li>
</ul>
<a name="setStyleSheet(nextapp.echo.app.StyleSheet)">
<!--   -->
</a>
<ul class="blockListLast">
<li class="blockList">
<h4>setStyleSheet</h4>
<pre>public&nbsp;void&nbsp;setStyleSheet(<a href="../../../nextapp/echo/app/StyleSheet.html" title="interface in nextapp.echo.app">StyleSheet</a>&nbsp;newValue)</pre>
<div class="block">Sets the <code>StyleSheet</code> of this 
 <code>ApplicationInstance</code>.  <code>Component</code>s 
 registered with this instance will retrieve
 properties from the <code>StyleSheet</code>
 when property values are not specified directly
 in a <code>Component</code> or in its specified <code>Style</code>.
 <p>
 Note that setting the style sheet should be
 done sparingly, given that doing so forces the entire
 client state to be updated.  Generally style sheets should
 only be reconfigured at application initialization and/or when
 the user changes the visual theme of a theme-capable application.</div>
<dl><dt><span class="strong">Parameters:</span></dt><dd><code>newValue</code> - the new style sheet</dd></dl>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>
<!-- ========= END OF CLASS DATA ========= -->
<!-- ======= START OF BOTTOM NAVBAR ====== -->
<div class="bottomNav"><a name="navbar_bottom">
<!--   -->
</a><a href="#skip-navbar_bottom" title="Skip navigation links"></a><a name="navbar_bottom_firstrow">
<!--   -->
</a>
<ul class="navList" title="Navigation">
<li><a href="../../../overview-summary.html">Overview</a></li>
<li><a href="package-summary.html">Package</a></li>
<li class="navBarCell1Rev">Class</li>
<li><a href="package-tree.html">Tree</a></li>
<li><a href="../../../deprecated-list.html">Deprecated</a></li>
<li><a href="../../../index-all.html">Index</a></li>
<li><a href="../../../help-doc.html">Help</a></li>
</ul>
</div>
<div class="subNav">
<ul class="navList">
<li><a href="../../../nextapp/echo/app/Alignment.html" title="class in nextapp.echo.app"><span class="strong">Prev Class</span></a></li>
<li><a href="../../../nextapp/echo/app/AwtImageReference.html" title="class in nextapp.echo.app"><span class="strong">Next Class</span></a></li>
</ul>
<ul class="navList">
<li><a href="../../../index.html?nextapp/echo/app/ApplicationInstance.html" target="_top">Frames</a></li>
<li><a href="ApplicationInstance.html" target="_top">No Frames</a></li>
</ul>
<ul class="navList" id="allclasses_navbar_bottom">
<li><a href="../../../allclasses-noframe.html">All Classes</a></li>
</ul>
<div>
<script type="text/javascript"><!--
  allClassesLink = document.getElementById("allclasses_navbar_bottom");
  if(window==top) {
    allClassesLink.style.display = "block";
  }
  else {
    allClassesLink.style.display = "none";
  }
  //-->
</script>
</div>
<div>
<ul class="subNavList">
<li>Summary:&nbsp;</li>
<li>Nested&nbsp;|&nbsp;</li>
<li><a href="#field_summary">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_summary">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_summary">Method</a></li>
</ul>
<ul class="subNavList">
<li>Detail:&nbsp;</li>
<li><a href="#field_detail">Field</a>&nbsp;|&nbsp;</li>
<li><a href="#constructor_detail">Constr</a>&nbsp;|&nbsp;</li>
<li><a href="#method_detail">Method</a></li>
</ul>
</div>
<a name="skip-navbar_bottom">
<!--   -->
</a></div>
<!-- ======== END OF BOTTOM NAVBAR ======= -->
</div>
