---
title: echo3 - Community
---

## <i class="icon-group"></i> Community

### Forum

Questions about using Echo3 can be asked on the [forum](#forum) or on [StackOverflow](http://stackoverflow.com/questions/tagged/echo3)
by tagging your questions with `echo3`.

### IRC Channel

You might find in-person help on the `#echo3` channel on the Freenode IRC server (**irc.freenode.net**).  
This channel can be joined by using Freenode's [web client](http://webchat.freenode.net/), for example.

### Contributing to Echo

As an open source project, your contributions are important to the future of Echo3.
Whether you're looking to write code, improve the documentation, request a feature or
just report a bug, you're helping everyone who uses Echo3 in the future.

**<a name="documentation"></a> Documentation**

A great way to contribute to Echo3 is by writing documentation -- articles, tutorials or
framework documentation itself. The preferred way is to fork the sources of this website
on Github and submit a pull request with your changes. You can also open an issue on the
[tracker](#websitetracker) of this site.

**Reporting Bugs or Missing Features**

We use the [Github issue tracker](http://github.com/echo3/echo3/issues) to
report and follow bugs in Echo3. If you are not sure whether you found a problem in Echo3 itself,
don't hesitate to ask on the forums.

These issues are likely bugs:

* Crashes due to JavaScript errors
* Rendering issues and differences between supported browsers
* API code behaving differently than documented

**Reporting Guidelines**

* Report the bug to the appropriate Github issue tracker. For example, if it is an issue with an Echo3 Extras Add-On component,
  report it to the echo3extras repository issue tracker.
* Please write clear and concise description of what exactly does not work, how you expect it should work and a clear
  set of instructions for replicating the problem.
* If error messages appear, include them exactly as they appear.
* List the library version(s) you are using, operating system, browser version and
  all other relevant information that relates to your problem.
* If possible, include a minimal Echo3 application that demonstrates the problem. **TODO: Link to basic JSFiddle that can be forked to create a demo?** 
 
**Code Contributions**

Ask in the community **before** doing major work if you want to ensure that your changes
can be accepted into the framework timely.

Bug fixes, new features and other patches should be submitted as pull requests.
We are always happy to review pull requests for code contributions or list
third-party components on this website. 

The [wiki](https://github.com/echo3/echo3/wiki/) has guidelines on how to
[contribute](https://github.com/echo3/echo3/wiki/Contributing-to-Echo) code
to Echo.

More information about using Git and GitHub is available on the GitHub
home page at [http://help.github.com/](http://help.github.com/).


