---
title: echo3 - Demo
---

## Demo

**TODO: maybe link to JSfiddle with demo application**

<div style="min-height: 300px" class="tabbable"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Feature showcase</a></li>
    <li><a href="#tab2" data-toggle="tab">Custom styles</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
		<p style="margin-top: 5px">
			<h4>Client-Side JavaScript Demo (Echo3)</h4>
			This Echo3 client-side JavaScript demo showcases the features of the Echo3 framework.
			This demo was written entirely using the client-side JavaScript API of Echo3, and thus does not require an application server to run.
			<iframe frameborder=0 height=800 width=100% src="http://demo.nextapp.com/echo3csjs"></iframe> 
			<small>Sourcecode of this demo application on <a href="https://github.com/echo3/echo3demo">Github</a></small>
		</p>
    </div>
    <div class="tab-pane" id="tab2">
		<h4>Modern application style</h4>
		Below you see a Echo demo application with flat and modern (aka metro) design elements.
		<iframe frameborder=0 height=800 width=100% src="<%= url_for '/demoapp/index-dev' %>"></iframe> 
    </div>
  </div>
</div>

