---
title: Documentation
---

### Developer's Guide

The Developer's Guide is the main documentation resource for learning Echo3 development.
It offers an introduction to creating both server-side Java and client-side JavaScript applications,
as well as tutorials on the architecture and creating your own custom components and JS/DOM rendering peers.

### API

The full Echo public API documentation of the Server-Side Java framework and the Client-Side
JavaScript framework is provided in browsable format.

### Articles

Lists articles, tutorials and links to other resources about Echo3.

### <a id="contribute"></a> Contributing to the documentation

Feedback on this documentation is greatly appreciated.  If you find yourself struggling with a
particular section, please let us know so that we may improve the situation for future readers.

If you have suggestions, please post them in the [Echo3 forums](#forum) or preferably, edit the
documentation right away using the edit link on each page. This will take you to Github, where you
can edit the Markdown sources in a comfortable editor with preview function. Once you save your work,
Github will automatically create a fork of the website sources for your account, commit your changes
and open a pull request. Alternatively, you can fork the [website sources](https://github.com/exxcellent/echo3-website/),
start editing, commit and submit your changes as Github pull request yourself.
