---
title: Documentation
---

## Documentation

--------

### Developer's Guide

The Developer's Guide is the main documentation resource for learning Echo3 development.
It offers an introduction to creating both server-side Java and client-side JavaScript applications,
as well as tutorials on the architecture and creating your own custom components and JS/DOM rendering peers.

### Server-Side Java API Specification

The full Echo public API JavaDoc documentation in browseable format is provided.
The API documentation is also available for download with Echo3 on the Download Page. 

### Client-Side JavaScript API Specification

The full Echo public API JavaDoc documentation in browseable format is provided. 

### <a id="contribute"></a> Contributing to the documentation

Feedback on this documentation is greatly appreciated.  If you find yourself struggling with a
particular section, please let us know so that we may improve the situation for future readers. 
If you have suggestions, please post them in the [Echo3 forums](#forum) or preferably, fork the
[website sources](https://github.com/exxcellent/echo3-website/), start editing and submit
your changes as Github pull request.
