---
title: Downloads
---

## Downloads

Todo: structure and make this page shiny :-)

### Echo3 Releases

* **Echo3**:  
  **The current stable version of Echo3 is 3.0.2**, released July 11, 2013.  
  <a style="min-width: 250px" class="btn btn-primary" href="https://github.com/echo3/echo3/releases/download/v3.0.2/echo3-3.0.2.zip"><i class="icon-download"></i> echo3-3.0.2.zip</a>

### Echo3 Add-Ons Releases

* **Echo3 Extras** (add-on component library, recommended):  
  <a style="min-width: 250px" class="btn btn-primary" href="https://github.com/echo3/echo3extras/releases/download/v3.0.3/echo3-extras-3.0.3.zip"><i class="icon-download"></i> echo3-extras-3.0.3.zip</a>
  
* **Echo3 FileTransfer** (File transfer widgets):  
  <a style="min-width: 250px" class="btn btn-primary" href="https://github.com/echo3/echo3filetransfer/releases/download/v3.0.2/echo3-filetransfer-3.0.2.zip"><i class="icon-download"></i> echo3-filetransfer-3.0.2.zip</a>
  
* **Echo3 Chart**:  
  <a href="https://github.com/echo3/echo3chart">No releases yet. Source code available.</a>
  
### Maven

Echo3 and some of the add-ons are available as Maven artifacts.
Please refer to the [wiki](https://github.com/echo3/echo3/wiki/Using-Echo-with-Maven)
on how to include Echo3 in your Maven project.

--------------

### <i class="icon-archive"></i> Older versions

Previous releases are available from the [archive](/downloads/archive).

--------------

### <i class="icon-github"></i> Source code

The source code of Echo3 is available on [Github](http://github.com/echo3).

* [Echo3 Framework](http://github.com/echo3/echo3)
* [Echo3 Extras](http://github.com/echo3/echo3extras)
* [Echo3 FileTransfer](http://github.com/echo3/echo3filetransfer)
* [Echo3 Chart](http://github.com/echo3/echo3chart)

--------------

### Additional widgets and components

Third-party components and add-ons:

* <a href="https://github.com/exxcellent/echolot">Echolot</a>
* <a href="https://github.com/exxcellent/echopoint">Echopoint</a>

