---
title: Downloads
---

## Downloads

<div style="background-color: #eee" class="row">
	<div class="col-lg-6">
		<h3>Echo3 Releases</h3>
		<p><strong>The current stable version of Echo3 is 3.0.2</strong>, released July 11, 2013.</p>  
		<p class="text-center">
			<a style="min-width: 250px" class="btn btn-primary" href="https://github.com/echo3/echo3/releases/download/v3.0.2/echo3-3.0.2.zip"><i class="icon-download"></i> echo3-3.0.2.zip</a><br>
		</p>

 	</div>
	<div class="col-lg-6">
		<h3>Echo3 Add-Ons Releases</h3>
		
		<ul>
			<li> <strong>Echo3 Extras</strong> (add-on component library, recommended):  
		  	<p><a style="min-width: 250px" class="btn btn-primary" href="https://github.com/echo3/echo3extras/releases/download/v3.0.3/echo3-extras-3.0.3.zip"><i class="icon-download"></i> echo3-extras-3.0.3.zip</a></p>
		    </li>
			<li><strong>Echo3 FileTransfer</strong> (File transfer widgets):
		    <p><a style="min-width: 250px" class="btn btn-primary" href="https://github.com/echo3/echo3filetransfer/releases/download/v3.0.2/echo3-filetransfer-3.0.2.zip"><i class="icon-download"></i> echo3-filetransfer-3.0.2.zip</a></p>
		  </li>
		  <li><strong>Echo3 Chart</strong>: 
		  <p>No releases yet. <a href="https://github.com/echo3/echo3chart">Source code available.</a></p>
		  </li>
		</ul>
	</div>
</div>

### Maven

Echo3 and some of the add-ons are available as Maven artifacts.
Please refer to the [wiki](https://github.com/echo3/echo3/wiki/Using-Echo-with-Maven)
on how to include Echo3 in your Maven project.

### <i class="icon-archive"></i> Older versions

Previous releases are available from the [archive](/downloads/archive).

### <i class="icon-github"></i> Source code

The source code of Echo3 is available on [Github](http://github.com/echo3).

* [Echo3 Framework](http://github.com/echo3/echo3)
* [Echo3 Extras](http://github.com/echo3/echo3extras)
* [Echo3 FileTransfer](http://github.com/echo3/echo3filetransfer)
* [Echo3 Chart](http://github.com/echo3/echo3chart)

--------------

### Additional widgets and components

Third-party components and add-ons:

* [Echolot](https://github.com/exxcellent/echolot): A collection of advanced widgets. See the [demo](http://exxcellent.github.io/echolot/test/index.html).
* [EchoPoint](https://github.com/exxcellent/echopoint): A collection of various additional components for Echo3.
* [Informagen Echo Components](http://informagen.org/Echo/): Various Echo components including CapacityBar and a CAPTCHA component.

