---
title: Welcome to Echo3
---

<div class="jumbotron"> 
  <div class="row">
	  <div class="col-lg-10">
	  <h1>Echo3</h1>
	  </div>
	  <div class="col-lg-2">
		  <img style="width: 100px" src="assets/img/logo.png"/>
	  </div>
	  <div style="margin-top: 1em;" class="col-lg-9">
	  	  <p>Empower your browser, spare your backend. Echo3 is a <a href="<%= url_for 'downloads.html' %>">free and open-source</a>, 
	  <a href="<%= url_for 'about.html' %>">JavaScript-based client</a> and <a href="<%= url_for 'about.html' %>">Java-based server</a>
	  web application framework with blazing performance and simplicity.</p>
	  <p style="margin-top: 1em"><a style="width: 100px" class="btn btn-primary" href="about">Learn more</a> <a style="width: 100px" class="btn btn-primary" href="downloads">Download</a></p> 
	  </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="demo"><h3><i class="icon-camera icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Demo</h3>
			<small>Explore Echo's features in demo applications</small>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="documentation"><h3><i class="icon-book icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Developer's Guide</h3>
			<small>Get started developing Echo applications</small>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="documentation/api"><h3><i class="icon-cog icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>API</h3>
			<small>Comprehensive API documentation</small>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 20px">
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="community"><h3><i class="icon-group icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Community</h3>
			<small>Found a problem? Want a new feature? Get involved!</small>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="downloads"><h3><i class="icon-cloud-download icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Downloads</h3>
			<small>Start developing now!</small>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="col-lg-2"><a style="text-decoration: none; color: #333" href="blog"><h3><i class="icon-pencil icon-2x"></i></h3></a></div>
		<div class="col-lg-10">
			<h3>Blog</h3>
			<small>Read news and articles about Echo</small>
		</div>
	</div>
</div>
