---
title: Welcome to Echo3
---

<div class="page-header">
    <h1>Echo3 <small>Hybrid web applications</small></h1>
    <p class="lead">
    Empower your browser, spare your backend. Echo3 is a JavaScript-based client and Java-based server web application framework with blazing performance and simplicity.
    </p>
    <div style="text-align:center; width:100%">
		<a href="https://github.com/echo3/echo3/archive/master.zip" class="btn btn-primary btn-success"><h4><i style="padding-right: 5px" class="icon-download icon-2x"></i><strong>Download</strong></h4><small><strong>Version 3.0.2, 4567 kB</strong></small></a>
	</div>
</div>

<div class="row">
    <div class="span4">
		<h3><i class="icon-thumbs-up"></i> Rich client capabilities</h3>
		Build web-based applications that approach the capabilities of rich clients.
    </div>
    <div class="span4">
		<h3>Components</h3>
		Flexible component-oriented and event-driven API.
    </div>
    <div class="span4">
		<h3>Server-side Java</h3>
		Develop applications in pure server-side Java that automatically
		are displayed using cross-platform JavaScript in the browser.
    </div>
</div>
<div class="row">
    <div class="span4">
		<h3>Client-side JavaScript</h3>
		Develop applications in client-side JavaScript.
    </div>
    <div class="span4">
		<h3>Free and Open-Source</h3>
		Echo is open-source software, dual-licensed under the Mozilla Public License and LGPL.
    </div>

</div>

<div class="tabbable"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Components</a></li>
    <li><a href="#tab2" data-toggle="tab">Styling</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>Pretty pictures</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>More pretty pictures</p>
    </div>
  </div>
</div>


<hr/>
<!--
<p>
Echo is a platform for building web-based applications that approach the capabilities of rich clients. The applications are developed using a component-oriented and event-driven API, eliminating the need to deal with the "page-based" nature of browsers. To the developer, Echo works just like a user interface toolkit. The latest iteration, Echo3, features the ability to write applications in either server-side Java or client-side JavaScript. Server-side applications run in any Java Servlet Container and do not require developer knowledge of HTML, HTTP, or JavaScript. Client-side JavaScript-based applications do not require any server at all, but can of course communicate with one via XML or JSON over HTTP. Cross-platform AJAX technology is used for rendering, and no browser plugins are required. Echo is open-source software, dual-licensed under the Mozilla Public License and LGPL.
</p>
-->

<ul class="thumbnails">
    <li class="span3 tile tile-teal">
        <a href="/demo" >
            <h2 class="tile-text">Demo</h2>
        </a>
    </li>
    <li class="span3 tile tile-double tile-orange">
        <a href="/guides" >
            <h2 class="tile-text">Getting started</h2>
        </a>
    </li>
    <li class="span3 tile ">
        <a href="/api">
            <h2 class="tile-text">API</h2>
        </a>
    </li>
    <li class="span3 tile tile-green ">
        <a href="/community">
            <h2 class="tile-text">Support</h2>
        </a>
    </li>
</ul>

<div class="row-fluid">
    <!--<div class="span6">
        <h3>Features</h3>
        <dl>
            <dt>Server-Side Java API</dt>
            <dd>Insert super-cool API marketing line here :-)</dd>
            <dt>Cross-browser support</dt>
            <dd>Supports Firefox, Internet Explorer, Chrome, Safari and their legacy versions</dd>
        </dl>
    </div>-->
    <div class="span12">
        <h3>releases</h3>
        <h5>Latest versions</h5>
        <ul>
			<li>Echo3: 3.0.2</li>
			<li>Echo3 Extras: 3.0.3</li>
			<li>Echo3 File Transfer: 3.0.2</li>
        </ul>
    </div>
</div>

