---
title: Welcome to Echo3
---

<div style="font-weight: normal; color:white; background-color: #2C3E50" class="hero-unit"> 
  <div style="float: left; width: 70%">
  <h1>Echo3</h1>
  <p>Empower your browser, spare your backend. Echo3 is a JavaScript-based client and Java-based server web application framework with blazing performance and simplicity.</p> 
  </div>
  <img style="clear: both; margin-left: 40px; width: 200px" src="/assets/img/logo.png"/>
</div>

<div class="row">
    <div class="span6">
		<div class="row">
			<div class="span3"><a style="text-decoration: none; color: #222" href="/demo"><h3><i style="vertical-align: middle" class="icon-camera icon-modern-rounded icon-2x"></i> Demo</h3><small>Explore Echo in a purely client-side demo application</small></a></div>
			<div class="span3"><a style="text-decoration: none; color: #222" href="/guides"><h3><i style="vertical-align: middle" class="icon-book icon-modern-rounded icon-2x"></i> Guides</h3><small>Get started developing Echo applications</small></a></div>
		</div>
		<div style="margin-top: 20px" class="row">
			<div class="span3"><a style="text-decoration: none; color: #222" href="/api"><h3><i style="vertical-align: middle" class="icon-cog icon-modern-rounded icon-2x"></i> API</h3><small>Comprehensive API documentation</small></a></div>
			<div class="span3"><a style="text-decoration: none; color: #222" href="/community"><h3><i style="vertical-align: middle" class="icon-group icon-modern-rounded icon-2x"></i> Community</h3><small>Get involved!</small></a></div>
		</div>
    </div>
    <div class="span6">
		<h3>Latest release</h3>
		<a href="https://github.com/echo3/echo3/archive/master.zip" class="btn btn-primary btn-success"><h4><i style="vertical-align: middle; padding-right: 5px" class="icon-download icon-2x"></i><strong>Download</strong></h4><small><strong>Version 3.0.2, 4567 kB</strong></small></a>
    </div>
</div>





<!-- old concepts -->
<!--
<div class="page-header">
    <h1>Echo3 <small>Hybrid web applications</small></h1>
    <p class="lead">
    Empower your browser, spare your backend. Echo3 is a JavaScript-based client and Java-based server web application framework with blazing performance and simplicity.
    </p>
    <div style="text-align:center; width:100%">
		<a href="https://github.com/echo3/echo3/archive/master.zip" class="btn btn-primary btn-success"><h4><i style="padding-right: 5px" class="icon-download icon-2x"></i><strong>Download</strong></h4><small><strong>Version 3.0.2, 4567 kB</strong></small></a>
	</div>
</div>

<div class="row">
    <div class="span4">
		<h3><i class="icon-thumbs-up"></i> Rich client capabilities</h3>
		Build web-based applications that approach the capabilities of rich clients.
    </div>
    <div class="span4">
		<h3>Components</h3>
		Flexible component-oriented and event-driven API.
    </div>
    <div class="span4">
		<h3>Server-side Java</h3>
		Develop applications in pure server-side Java that automatically
		are displayed using cross-platform JavaScript in the browser.
    </div>
</div>
<div class="row">
    <div class="span4">
		<h3>Client-side JavaScript</h3>
		Develop applications in client-side JavaScript.
    </div>
    <div class="span4">
		<h3>Free and Open-Source</h3>
		Echo is open-source software, dual-licensed under the Mozilla Public License and LGPL.
    </div>

</div>

<div class="tabbable"> 
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Components</a></li>
    <li><a href="#tab2" data-toggle="tab">Styling</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p>Pretty pictures</p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>More pretty pictures</p>
    </div>
  </div>
</div>

<ul class="thumbnails">
    <li class="span3 tile tile-teal">
        <a href="/demo" >
            <h2 class="tile-text">Demo</h2>
        </a>
    </li>
    <li class="span3 tile tile-double tile-orange">
        <a href="/guides" >
            <h2 class="tile-text">Getting started</h2>
        </a>
    </li>
    <li class="span3 tile ">
        <a href="/api">
            <h2 class="tile-text">API</h2>
        </a>
    </li>
    <li class="span3 tile tile-green ">
        <a href="/community">
            <h2 class="tile-text">Support</h2>
        </a>
    </li>
</ul>

-->

<!--
<div class="row-fluid">
    <div class="span6">
        <h3>Features</h3>
        <dl>
            <dt>Server-Side Java API</dt>
            <dd>Insert super-cool API marketing line here :-)</dd>
            <dt>Cross-browser support</dt>
            <dd>Supports Firefox, Internet Explorer, Chrome, Safari and their legacy versions</dd>
        </dl>
    </div>
    <div class="span12">
        <h3>releases</h3>
        <h5>Latest versions</h5>
        <ul>
			<li>Echo3: 3.0.2</li>
			<li>Echo3 Extras: 3.0.3</li>
			<li>Echo3 File Transfer: 3.0.2</li>
        </ul>
    </div>
</div>

-->
