
<ul class="breadcrumb">
    <li>
    Echo.Serial <span class="divider">/</span>
  </li>
    <li>
    FillImage
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Serial.PropertyTranslator">Echo.Serial.PropertyTranslator</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.Serial.FillImage">Echo.Serial.FillImage</a></code>
</li>
</ul>
</dd>
</dl>




<p>FillImage Property Translator Singleton.</p>









<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.parseElement">parseElement(client, fiElement)</a></code><br/>
Parses a &lt;fi&gt; fill image element.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toProperty">toProperty()</a></code><br/>

</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.parseElement"></a>
<span class="DetailPropertyName">parseElement</span>

<dl>
<dd>Parses a &lt;fi&gt; fill image element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>client</code> 
<em>(<a href="Class.Echo.Client">Echo.Client</a>)</em>
- the client</dd>
<dd>
<code>fiElement</code> 
<em>(Element)</em>
- the fill image element</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(#FillImage)</em>

the parsed fill image
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.toProperty"></a>
<span class="DetailPropertyName">toProperty</span>

<dl>
<dd>



</dd>
</dl>
<hr/>




