
<ul class="breadcrumb">
    <li>
    Echo <span class="divider">/</span>
  </li>
    <li>
    ToggleButton
  </li>
</ul>

<span class="badge badge-important">Abstract</span>

<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Component">Echo.Component</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.AbstractButton">Echo.AbstractButton</a></code>
</li>
<li style="margin-left: 45px">
<code><a href="Class.Echo.ToggleButton">Echo.ToggleButton</a></code>
</li>
</ul>
</dd>
</dl>

<dl>
<dt><strong>Direct Known Subclasses:</strong></dt>
<dd>
<code><a href="Class.Echo.CheckBox">Echo.CheckBox</a></code>, <code><a href="Class.Echo.RadioButton">Echo.RadioButton</a></code></dd>
</dl>



<p>An abstract base class for on/off toggle button components.</p>











<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.componentType">componentType</a></code><br/>

</td>
</tr>
</table>
<br/>




<table class="table">
<tr>
<td>Methods inherited from class Echo.AbstractButton</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.AbstractButton#Method.doAction">doAction</a></code></td>
</tr>
</table>
<br/>
<table class="table">
<tr>
<td>Methods inherited from class Echo.Component</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Component#Method.add">add</a></code>, <code><a href="Class.Echo.Component#Method.addListener">addListener</a></code>, <code><a href="Class.Echo.Component#Method.fireEvent">fireEvent</a></code>, <code><a href="Class.Echo.Component#Method.get">get</a></code>, <code><a href="Class.Echo.Component#Method.getComponent">getComponent</a></code>, <code><a href="Class.Echo.Component#Method.getComponentCount">getComponentCount</a></code>, <code><a href="Class.Echo.Component#Method.getIndex">getIndex</a></code>, <code><a href="Class.Echo.Component#Method.getLayoutDirection">getLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.getLocale">getLocale</a></code>, <code><a href="Class.Echo.Component#Method.getLocalStyleData">getLocalStyleData</a></code>, <code><a href="Class.Echo.Component#Method.getRenderLayoutDirection">getRenderLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.getRenderLocale">getRenderLocale</a></code>, <code><a href="Class.Echo.Component#Method.getStyle">getStyle</a></code>, <code><a href="Class.Echo.Component#Method.getStyleName">getStyleName</a></code>, <code><a href="Class.Echo.Component#Method.indexOf">indexOf</a></code>, <code><a href="Class.Echo.Component#Method.isActive">isActive</a></code>, <code><a href="Class.Echo.Component#Method.isAncestorOf">isAncestorOf</a></code>, <code><a href="Class.Echo.Component#Method.isEnabled">isEnabled</a></code>, <code><a href="Class.Echo.Component#Method.isRenderEnabled">isRenderEnabled</a></code>, <code><a href="Class.Echo.Component#Method.register">register</a></code>, <code><a href="Class.Echo.Component#Method.render">render</a></code>, <code><a href="Class.Echo.Component#Method.renderIndex">renderIndex</a></code>, <code><a href="Class.Echo.Component#Method.remove">remove</a></code>, <code><a href="Class.Echo.Component#Method.removeAll">removeAll</a></code>, <code><a href="Class.Echo.Component#Method.removeListener">removeListener</a></code>, <code><a href="Class.Echo.Component#Method.removeAllListeners">removeAllListeners</a></code>, <code><a href="Class.Echo.Component#Method.set">set</a></code>, <code><a href="Class.Echo.Component#Method.setEnabled">setEnabled</a></code>, <code><a href="Class.Echo.Component#Method.setIndex">setIndex</a></code>, <code><a href="Class.Echo.Component#Method.setLayoutDirection">setLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.setLocale">setLocale</a></code>, <code><a href="Class.Echo.Component#Method.setStyle">setStyle</a></code>, <code><a href="Class.Echo.Component#Method.setStyleName">setStyleName</a></code>, <code><a href="Class.Echo.Component#Method.toString">toString</a></code></td>
</tr>
</table>
<br/>


<table class="table">

<colgroup>
<col width="20%"/>
<col width="20%"/>
<col width="80%"/>
<colgroup>

<tr>
<th colspan="3">Style Properties</th>
</tr>

<tr>
<td><code>disabledStateIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the disabled state icon to display when the toggle state is deselected</td>
</td>
</tr>
<tr>
<td><code>disabledSelectedStateIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the disabled state icon to display when thetoggle  state is selected</td>
</td>
</tr>
<tr>
<td><code>pressedStateIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the pressed state icon to display when the toggle state is deselected</td>
</td>
</tr>
<tr>
<td><code>pressedSelectedStateIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the pressed state icon to display when the toggle state is selected</td>
</td>
</tr>
<tr>
<td><code>rolloverStateIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the rollover state icon to display when the toggle state is deselected</td>
</td>
</tr>
<tr>
<td><code>rolloverSelectedStateIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the rollover state icon to display when the toggle state is selected</td>
</td>
</tr>
<tr>
<td><code>selectedStateIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the default state icon to display when the toggle state is deselected</td>
</td>
</tr>
<tr>
<td><code>stateAlignment</code></td>
<td>
Alignment (<code>String</code> or <code>Object</code>)
</td>
<td>the alignment of the state icon relative to the button's icon/text</td>
</td>
</tr>
<tr>
<td><code>statePosition</code></td>
<td>
Alignment (<code>String</code> or <code>Object</code>)
</td>
<td>the position (an alignment value) of the state icon relative to the button's icon/text</td>
</td>
</tr>
<tr>
<td><code>stateIcon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the default state icon to display when the toggle state is selected</td>
</td>
</tr>
<tr>
<td><code>stateMargin</code></td>
<td>
<code>Number</code>
</td>
<td>the margin between the state icon and the button's icon/text</td>
</td>
</tr>
</table> 
<br/>



<a name="Constructor"></a>






