
<ul class="breadcrumb">
    <li>
    Extras <span class="divider">/</span>
  </li>
    <li>
    SeparatorModel
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Extras.ItemModel">Extras.ItemModel</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.SeparatorModel">Extras.SeparatorModel</a></code>
</li>
</ul>
</dd>
</dl>




<p>A representation of a menu separator.</p>




















<a name="Constructor"></a>






