
<ul class="breadcrumb">
    <li>
    Extras <span class="divider">/</span>
  </li>
    <li>
    AccordionPane
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Component">Echo.Component</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.AccordionPane">Extras.AccordionPane</a></code>
</li>
</ul>
</dd>
</dl>




<p>AccordionPane component: contains multiple children in vertically arranged
tabs that slide up and down to reveal a single child at a time. May contain
multiple children. May contain panes as children.</p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.AccordionPane(properties)</a></code><br/>
Constructor.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.DEFAULT_ANIMATION_TIME">DEFAULT_ANIMATION_TIME</a></code><br/>
The default animation time, 350ms.
</td>
</tr>
</table>
<br/>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.componentType">componentType</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.pane">pane</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.doTabSelect">doTabSelect(tabId)</a></code><br/>
Processes a user request to select a tab.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._tabChangeListener">_tabChangeListener(e)</a></code><br/>
Internal property listener which synchronizes activeTabIndex and activeTabId properties when possible.
</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Component</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Component#Method.add">add</a></code>, <code><a href="Class.Echo.Component#Method.addListener">addListener</a></code>, <code><a href="Class.Echo.Component#Method.fireEvent">fireEvent</a></code>, <code><a href="Class.Echo.Component#Method.get">get</a></code>, <code><a href="Class.Echo.Component#Method.getComponent">getComponent</a></code>, <code><a href="Class.Echo.Component#Method.getComponentCount">getComponentCount</a></code>, <code><a href="Class.Echo.Component#Method.getIndex">getIndex</a></code>, <code><a href="Class.Echo.Component#Method.getLayoutDirection">getLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.getLocale">getLocale</a></code>, <code><a href="Class.Echo.Component#Method.getLocalStyleData">getLocalStyleData</a></code>, <code><a href="Class.Echo.Component#Method.getRenderLayoutDirection">getRenderLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.getRenderLocale">getRenderLocale</a></code>, <code><a href="Class.Echo.Component#Method.getStyle">getStyle</a></code>, <code><a href="Class.Echo.Component#Method.getStyleName">getStyleName</a></code>, <code><a href="Class.Echo.Component#Method.indexOf">indexOf</a></code>, <code><a href="Class.Echo.Component#Method.isActive">isActive</a></code>, <code><a href="Class.Echo.Component#Method.isAncestorOf">isAncestorOf</a></code>, <code><a href="Class.Echo.Component#Method.isEnabled">isEnabled</a></code>, <code><a href="Class.Echo.Component#Method.isRenderEnabled">isRenderEnabled</a></code>, <code><a href="Class.Echo.Component#Method.register">register</a></code>, <code><a href="Class.Echo.Component#Method.render">render</a></code>, <code><a href="Class.Echo.Component#Method.renderIndex">renderIndex</a></code>, <code><a href="Class.Echo.Component#Method.remove">remove</a></code>, <code><a href="Class.Echo.Component#Method.removeAll">removeAll</a></code>, <code><a href="Class.Echo.Component#Method.removeListener">removeListener</a></code>, <code><a href="Class.Echo.Component#Method.removeAllListeners">removeAllListeners</a></code>, <code><a href="Class.Echo.Component#Method.set">set</a></code>, <code><a href="Class.Echo.Component#Method.setEnabled">setEnabled</a></code>, <code><a href="Class.Echo.Component#Method.setIndex">setIndex</a></code>, <code><a href="Class.Echo.Component#Method.setLayoutDirection">setLayoutDirection</a></code>, <code><a href="Class.Echo.Component#Method.setLocale">setLocale</a></code>, <code><a href="Class.Echo.Component#Method.setStyle">setStyle</a></code>, <code><a href="Class.Echo.Component#Method.setStyleName">setStyleName</a></code>, <code><a href="Class.Echo.Component#Method.toString">toString</a></code></td>
</tr>
</table>
<br/>


<table class="table">

<colgroup>
<col width="20%"/>
<col width="20%"/>
<col width="80%"/>
<colgroup>

<tr>
<th colspan="3">Component Properties</th>
</tr>

<tr>
<td><code>activeTabId</code></td>
<td>
<code>String</code>
</td>
<td>the renderId of the active tab</td>
</td>
</tr>
<tr>
<td><code>activeTabIndex</code></td>
<td>
<code>Number</code>
</td>
<td>the index of the active tab</td>
</td>
</tr>
</table> 
<br/>
<table class="table">

<colgroup>
<col width="20%"/>
<col width="20%"/>
<col width="80%"/>
<colgroup>

<tr>
<th colspan="3">Style Properties</th>
</tr>

<tr>
<td><code>animationTime</code></td>
<td>
<code>Number</code>
</td>
<td>the duration (in milliseconds) for which the
    animation transition effect should be rendered A value of zero indicates
    an instantaneous transition</td>
</td>
</tr>
<tr>
<td><code>defaultContentInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the default inset margin to display around
    child components</td>
</td>
</tr>
<tr>
<td><code>tabBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the tab background color</td>
</td>
</tr>
<tr>
<td><code>tabBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the tab background image</td>
</td>
</tr>
<tr>
<td><code>tabBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the tab border</td>
</td>
</tr>
<tr>
<td><code>tabFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the tab font</td>
</td>
</tr>
<tr>
<td><code>tabForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the tab foreground color</td>
</td>
</tr>
<tr>
<td><code>tabInsets</code></td>
<td>
Insets (<code>Number</code>, <code>String</code>, or <code>Object</code>)
</td>
<td>the tab inset margin</td>
</td>
</tr>
<tr>
<td><code>tabRolloverBackground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the tab rollover background color</td>
</td>
</tr>
<tr>
<td><code>tabRolloverBackgroundImage</code></td>
<td>
FillImage (<code>String</code> or <code>Object</code>)
</td>
<td>the tab rollover background image</td>
</td>
</tr>
<tr>
<td><code>tabRolloverBorder</code></td>
<td>
Border (<code>String</code> or <code>Object</code>)
</td>
<td>the tab rollover border</td>
</td>
</tr>
<tr>
<td><code>tabRolloverFont</code></td>
<td>
Font (<code>Object</code>)
</td>
<td>the tab rollover font</td>
</td>
</tr>
<tr>
<td><code>tabRolloverEnabled</code></td>
<td>
<code>Boolean</code>
</td>
<td>flag indicating whether rollover effects are
    enabled</td>
</td>
</tr>
<tr>
<td><code>tabRolloverForeground</code></td>
<td>
Color (<code>String</code>)
</td>
<td>the tab rollover foreground color</td>
</td>
</tr>
</table> 
<br/>
<table class="table">

<colgroup>
<col width="20%"/>
<col width="20%"/>
<col width="80%"/>
<colgroup>

<tr>
<th colspan="3">Layout Data Properties</th>
</tr>
<tr>
<td colspan="3">These properties may be set on <code>layoutData</code> property values of immediate child components to describe 
how the child should be rendered within the container.</td>
</tr>

<tr>
<td><code>icon</code></td>
<td>
ImageReference (<code>String</code> or <code>Object</code>)
</td>
<td>the icon to display within a tab</td>
</td>
</tr>
<tr>
<td><code>title</code></td>
<td>
<code>String</code>
</td>
<td>the text to display within a tab</td>
</td>
</tr>
</table> 
<br/>



<a name="Constructor"></a>

<div class="Header">Constructor Detail</div>

<span class="DetailPropertyName">Echo.Component(properties)</span>

<dl>
<dd>Constructor.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>properties</code> 
- associative mapping of initial property values (optional)</dd>
</dl>
</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.doTabSelect"></a>
<span class="DetailPropertyName">doTabSelect</span>

<dl>
<dd>Processes a user request to select a tab.
Notifies listeners of a "tabSelect" event.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>tabId</code> 
<em>(String)</em>
- the renderId of the child tab component</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._tabChangeListener"></a>
<span class="DetailPropertyName">_tabChangeListener</span>

<dl>
<dd>Internal property listener which synchronizes activeTabIndex and activeTabId properties when possible.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- a property event</dd>
</dl>


</dd>
</dl>
<hr/>


