
<ul class="breadcrumb">
    <li>
    Echo.Sync.Grid.Processor <span class="divider">/</span>
  </li>
    <li>
    Cell
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync.Grid.Processor.Cell">Echo.Sync.Grid.Processor.Cell</a></code>
</li>
</ul>
</dd>
</dl>




<p>Representation of a single cell of the grid.</p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Echo.Sync.Grid.Processor.Cell(component, index, xSpan, ySpan)</a></code><br/>
Creates a new cell.
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.xSpan">xSpan</a></code><br/>
The number of cells spanned in the x direction
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.ySpan">ySpan</a></code><br/>
The number of cells spanned in the y direction.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.index">index</a></code><br/>
The index of the child component within the Grid parent.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.component">component</a></code><br/>
The child component.
</td>
</tr>
</table>
<br/>









<a name="Constructor"></a>

<div class="Header">Constructor Detail</div>

<span class="DetailPropertyName">Echo.Sync.Grid.Processor.Cell(component, index, xSpan, ySpan)</span>

<dl>
<dd>Creates a new cell.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>component</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the component</dd>
<dd>
<code>index</code> 
<em>(Number)</em>
- the index of the component within the Grid parent</dd>
<dd>
<code>xSpan</code> 
<em>(Number)</em>
- the number of cells spanned in the x direction</dd>
<dd>
<code>ySpan</code> 
<em>(Number)</em>
- the number of cells spanned in the y direction</dd>
</dl>
</dd>
</dl>
<hr/>





