
<ul class="breadcrumb">
    <li>
    Extras.Sync <span class="divider">/</span>
  </li>
    <li>
    RichTextArea
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Render.ComponentSync">Echo.Render.ComponentSync</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Echo.Arc.ComponentSync">Echo.Arc.ComponentSync</a></code>
</li>
<li style="margin-left: 45px">
<code><a href="Class.Extras.Sync.RichTextArea">Extras.Sync.RichTextArea</a></code>
</li>
</ul>
</dd>
</dl>




<p>Component rendering peer: RichTextArea</p>



<table class="table">
<thead>
<tr>
<th>Descendant Class Summary</th>
</tr>
</thead>
<tbody>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.AbstractDialog">Extras.Sync.RichTextArea.AbstractDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.ColorDialog">Extras.Sync.RichTextArea.ColorDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.HyperlinkDialog">Extras.Sync.RichTextArea.HyperlinkDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.ImageDialog">Extras.Sync.RichTextArea.ImageDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.OverlayPane">Extras.Sync.RichTextArea.OverlayPane</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.OverlayPanePeer">Extras.Sync.RichTextArea.OverlayPanePeer</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.TableDialog">Extras.Sync.RichTextArea.TableDialog</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.TableSizeSelector">Extras.Sync.RichTextArea.TableSizeSelector</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.TableSizeSelectorPeer">Extras.Sync.RichTextArea.TableSizeSelectorPeer</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.ToolbarButton">Extras.Sync.RichTextArea.ToolbarButton</a></code></td>
</tr>
<tr>
<td><code><a class="PropertySummaryLink" href="Class.Extras.Sync.RichTextArea.ToolbarButtonPeer">Extras.Sync.RichTextArea.ToolbarButtonPeer</a></code></td>
</tr>
</tbody>
</table>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.Sync.RichTextArea()</a></code><br/>
Constructor.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.resource">resource</a></code><br/>
Default localization strings.
</td>
</tr>
</table>
<br/>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._processDialogCloseRef">_processDialogCloseRef</a></code><br/>
Method reference to _processDialogClose().
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._execCommandListener">_execCommandListener</a></code><br/>
Listener to receive execCommand events from component.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.msg">msg</a></code><br/>
Localized messages for rendered locale.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.icons">icons</a></code><br/>
Mapping between icon names and icon URLs.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._paneRender">_paneRender</a></code><br/>
{Boolean} Flag indicating whether the parent component is a pane, and thus whether the RichTextArea should consume
horizontal and vertical space.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._toolbarButtons">_toolbarButtons</a></code><br/>
Mapping between toolbar button action commands and toolbar buttons.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._styleSelect">_styleSelect</a></code><br/>
Style selection drop down.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._richTextInput">_richTextInput</a></code><br/>
The rich text input component.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._mainDiv">_mainDiv</a></code><br/>
Root rendered DIV element.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.MessageDialog">MessageDialog</a></code><br/>
Dialog window which displays a message.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getIcons">getIcons()</a></code><br/>
Creates/returns the icon set for this RichTextArea.
</td>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Method.processInsertHyperlink">processInsertHyperlink(e)</a></code><br/>
Event handler for user request (from menu/toolbar) to insert a hyperlink.
</td>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Method.processInsertImage">processInsertImage(e)</a></code><br/>
Event handler for user request (from menu/toolbar) to insert an image.
</td>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Method.processInsertTable">processInsertTable(e)</a></code><br/>
Event handler for user request (from menu/toolbar) to insert a table.
</td>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Method.processSetBackground">processSetBackground(e)</a></code><br/>
Event handler for user request (from menu/toolbar) to set the background color.
</td>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Method.processSetForeground">processSetForeground(e)</a></code><br/>
Event handler for user request (from menu/toolbar) to set the foreground color.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._addComponentListeners">_addComponentListeners()</a></code><br/>
Adds listeners to supported Extras.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.createComponent">createComponent()</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createMainMenuBarModel">_createMainMenuBarModel()</a></code><br/>
Creates the model for the menu bar based on enable feature set.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createMenu">_createMenu()</a></code><br/>
Creates main menu bar component.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createToolbar">_createToolbar()</a></code><br/>
Creates tool bar component.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._createToolbarButton">_createToolbarButton(text, icon, toolTipText, eventMethod, actionCommand)</a></code><br/>
Creates a toolbar button.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.execCommand">execCommand(commandName, value)</a></code><br/>
Executes a rich-text editing command.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.focusDocument">focusDocument()</a></code><br/>
Focuses the edited document.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getDomainElement">getDomainElement()</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getDefaultIcons">_getDefaultIcons()</a></code><br/>
Creates and returns a default icon name to URL map object.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.insertImage">insertImage(url)</a></code><br/>
Inserts an image at the cursor position.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.newTable">newTable(columns, rows)</a></code><br/>
Inserts an HTML table at the cursor position.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._openDialog">_openDialog(dialogWindow)</a></code><br/>
Opens a dialog window.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processCommand">_processCommand(e)</a></code><br/>
Processes a simple editor command action.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processCursorStyleChange">_processCursorStyleChange()</a></code><br/>
Updates the status of various press-able toolbar buttons to indicate the state of the text at the cursor position
(e.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processDialogClose">_processDialogClose(e)</a></code><br/>
Processes a dialog closing (de-parenting) event.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processMenuAction">_processMenuAction(e)</a></code><br/>
Processes an action received from the menu bar.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processTextUpdate">_processTextUpdate()</a></code><br/>

</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._removeComponentListeners">_removeComponentListeners()</a></code><br/>
Removes listeners from supported Extras.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderAdd">renderAdd()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderDisplay">renderDisplay()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderDispose">renderDispose()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderFocus">renderFocus()</a></code><br/>

</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderUpdate">renderUpdate()</a></code><br/>

</td>
</tr>
</table>
<br/>


<table class="table">
<tr>
<td>Methods inherited from class Echo.Arc.ComponentSync</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Arc.ComponentSync#Method.createComponent">createComponent</a></code>, <code><a href="Class.Echo.Arc.ComponentSync#Method.getDomainElement">getDomainElement</a></code>, <code><a href="Class.Echo.Arc.ComponentSync#Method._processApplicationFocus">_processApplicationFocus</a></code>, <code><a href="Class.Echo.Arc.ComponentSync#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.Echo.Arc.ComponentSync#Method.renderDisplay">renderDisplay</a></code>, <code><a href="Class.Echo.Arc.ComponentSync#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Arc.ComponentSync#Method.renderHide">renderHide</a></code>, <code><a href="Class.Echo.Arc.ComponentSync#Method.renderUpdate">renderUpdate</a></code></td>
</tr>
</table>
<br/>
<table class="table">
<tr>
<td>Methods inherited from class Echo.Render.ComponentSync</td>
</tr>
<tr>
<td>
<code><a href="Class.Echo.Render.ComponentSync#Method.renderAdd">renderAdd</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDispose">renderDispose</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderUpdate">renderUpdate</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyDown">clientKeyDown</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyPress">clientKeyPress</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.clientKeyUp">clientKeyUp</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getFocusFlags">getFocusFlags</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.getPreferredSize">getPreferredSize</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.isChildVisible">isChildVisible</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderFocus">renderFocus</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderHide">renderHide</a></code>, <code><a href="Class.Echo.Render.ComponentSync#Method.renderDisplay">renderDisplay</a></code></td>
</tr>
</table>
<br/>





<a name="Constructor"></a>

<div class="Header">Constructor Detail</div>

<span class="DetailPropertyName">Echo.Render.ComponentSync()</span>

<dl>
<dd>Constructor.

</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.getIcons"></a>
<span class="DetailPropertyName">getIcons</span>

<dl>
<dd>Creates/returns the icon set for this RichTextArea.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>

the icon set (name to URL mapping) object
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.processInsertHyperlink"></a>
<span class="DetailPropertyName">processInsertHyperlink</span>

<dl>
<dd>Event handler for user request (from menu/toolbar) to insert a hyperlink.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.processInsertImage"></a>
<span class="DetailPropertyName">processInsertImage</span>

<dl>
<dd>Event handler for user request (from menu/toolbar) to insert an image.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.processInsertTable"></a>
<span class="DetailPropertyName">processInsertTable</span>

<dl>
<dd>Event handler for user request (from menu/toolbar) to insert a table.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.processSetBackground"></a>
<span class="DetailPropertyName">processSetBackground</span>

<dl>
<dd>Event handler for user request (from menu/toolbar) to set the background color.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.processSetForeground"></a>
<span class="DetailPropertyName">processSetForeground</span>

<dl>
<dd>Event handler for user request (from menu/toolbar) to set the foreground color.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._addComponentListeners"></a>
<span class="DetailPropertyName">_addComponentListeners</span>

<dl>
<dd>Adds listeners to supported Extras.RichTextArea object.



</dd>
</dl>
<hr/>
<a name="Method.createComponent"></a>
<span class="DetailPropertyName">createComponent</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method._createMainMenuBarModel"></a>
<span class="DetailPropertyName">_createMainMenuBarModel</span>

<dl>
<dd>Creates the model for the menu bar based on enable feature set.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(<a href="Class.Extras.MenuModel">Extras.MenuModel</a>)</em>

the menu model
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._createMenu"></a>
<span class="DetailPropertyName">_createMenu</span>

<dl>
<dd>Creates main menu bar component.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(<a href="Class.Extras.MenuBarPane">Extras.MenuBarPane</a>)</em>

the main menu bar
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._createToolbar"></a>
<span class="DetailPropertyName">_createToolbar</span>

<dl>
<dd>Creates tool bar component.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>

the toolbar
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._createToolbarButton"></a>
<span class="DetailPropertyName">_createToolbarButton</span>

<dl>
<dd>Creates a toolbar button.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>text</code> 
<em>(String)</em>
- the button text</dd>
<dd>
<code>icon</code> 
<em>(#ImageReference)</em>
- the button icon</dd>
<dd>
<code>toolTipText</code> 
<em>(String)</em>
- the rollover tool tip text</dd>
<dd>
<code>eventMethod</code> 
<em>(Function)</em>
- the method to invoke when the button is clicked (must be a method of this object,
       will automatically be wrapped using Core.method())</dd>
<dd>
<code>actionCommand</code> 
<em>(String)</em>
- the action command to send in fired events</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(<a href="Class.Extras.Sync.RichTextArea.ToolbarButton">Extras.Sync.RichTextArea.ToolbarButton</a>)</em>

the toolbar button
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.execCommand"></a>
<span class="DetailPropertyName">execCommand</span>

<dl>
<dd>Executes a rich-text editing command.  Delegates to RichTextInput peer.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>commandName</code> 
<em>(String)</em>
- the command name</dd>
<dd>
<code>value</code> 
<em>(String)</em>
- the (optional) value to send</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.focusDocument"></a>
<span class="DetailPropertyName">focusDocument</span>

<dl>
<dd>Focuses the edited document.  Delegates to RichTextInput peer.



</dd>
</dl>
<hr/>
<a name="Method.getDomainElement"></a>
<span class="DetailPropertyName">getDomainElement</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method._getDefaultIcons"></a>
<span class="DetailPropertyName">_getDefaultIcons</span>

<dl>
<dd>Creates and returns a default icon name to URL map object.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Object)</em>

</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.insertImage"></a>
<span class="DetailPropertyName">insertImage</span>

<dl>
<dd>Inserts an image at the cursor position.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>url</code> 
<em>(String)</em>
- the image URL</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.newTable"></a>
<span class="DetailPropertyName">newTable</span>

<dl>
<dd>Inserts an HTML table at the cursor position.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>columns</code> 
<em>(Number)</em>
- the number of columns</dd>
<dd>
<code>rows</code> 
<em>(Number)</em>
- the number of rows</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._openDialog"></a>
<span class="DetailPropertyName">_openDialog</span>

<dl>
<dd>Opens a dialog window.  The dialog is displayed in an OverlayPane which shows
the dialog over the application, rather than simply over the RichTextArea itself.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>dialogWindow</code> 
<em>(<a href="Class.Echo.WindowPane">Echo.WindowPane</a>)</em>
- the dialog to open</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processCommand"></a>
<span class="DetailPropertyName">_processCommand</span>

<dl>
<dd>Processes a simple editor command action.  The event's actionCommand is sent to the input peer as the editor command name.
This method is registered as a listener to various toolbar buttons.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processCursorStyleChange"></a>
<span class="DetailPropertyName">_processCursorStyleChange</span>

<dl>
<dd>Updates the status of various press-able toolbar buttons to indicate the state of the text at the cursor position
(e.g., bold/italic/underline, color, style selection).



</dd>
</dl>
<hr/>
<a name="Method._processDialogClose"></a>
<span class="DetailPropertyName">_processDialogClose</span>

<dl>
<dd>Processes a dialog closing (de-parenting) event.
Removes the OverlayPane.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processMenuAction"></a>
<span class="DetailPropertyName">_processMenuAction</span>

<dl>
<dd>Processes an action received from the menu bar.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processTextUpdate"></a>
<span class="DetailPropertyName">_processTextUpdate</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method._removeComponentListeners"></a>
<span class="DetailPropertyName">_removeComponentListeners</span>

<dl>
<dd>Removes listeners from supported Extras.RichTextArea object.



</dd>
</dl>
<hr/>
<a name="Method.renderAdd"></a>
<span class="DetailPropertyName">renderAdd</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderDisplay"></a>
<span class="DetailPropertyName">renderDisplay</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderDispose"></a>
<span class="DetailPropertyName">renderDispose</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderFocus"></a>
<span class="DetailPropertyName">renderFocus</span>

<dl>
<dd>



</dd>
</dl>
<hr/>
<a name="Method.renderUpdate"></a>
<span class="DetailPropertyName">renderUpdate</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


