
<ul class="breadcrumb">
    <li>
    Extras.Sync.ColorSelect <span class="divider">/</span>
  </li>
    <li>
    RGB
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Extras.Sync.ColorSelect.RGB">Extras.Sync.ColorSelect.RGB</a></code>
</li>
</ul>
</dd>
</dl>




<p>Representation of an RGB color.</p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.Sync.ColorSelect.RGB(r, g, b)</a></code><br/>
Creates a new RGB color.
</td>
</tr>
</table>
<br/>




<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._fromHsv">_fromHsv(h, s, v)</a></code><br/>
Converts an HSV color to an RGB color.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.r">r</a></code><br/>
Red value, 0-255.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.g">g</a></code><br/>
Green value, 0-255.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.b">b</a></code><br/>
Blue value, 0-255.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._clean">_clean(value)</a></code><br/>
Bounds the specified value between 0 and 255.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toHexTriplet">toHexTriplet()</a></code><br/>
Renders the RGB value as a hexadecimal triplet, e.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toString">toString()</a></code><br/>

</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<div class="Header">Constructor Detail</div>

<span class="DetailPropertyName">Extras.Sync.ColorSelect.RGB(r, g, b)</span>

<dl>
<dd>Creates a new RGB color.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>r</code> 
<em>(Number)</em>
- the red value (0-255)</dd>
<dd>
<code>g</code> 
<em>(Number)</em>
- the green value (0-255)</dd>
<dd>
<code>b</code> 
<em>(Number)</em>
- the blue value (0-255)</dd>
</dl>
</dd>
</dl>
<hr/>



<div class="Header">Class Method Detail</div>

<a name="Method._fromHsv"></a>
<span class="DetailPropertyName">_fromHsv</span>

<dl>
<dd>Converts an HSV color to an RGB color.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>h</code> 
<em>(Number)</em>
- the color hue</dd>
<dd>
<code>s</code> 
<em>(Number)</em>
- the color saturation</dd>
<dd>
<code>v</code> 
<em>(Number)</em>
- the color value</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(<a href="Class.Extras.Sync.ColorSelect.RGB">Extras.Sync.ColorSelect.RGB</a>)</em>

an RGB color
</dd>

</dl>

</dd>
</dl>
<hr/>




<div class="Header">Instance Method Detail</div>

<a name="Method._clean"></a>
<span class="DetailPropertyName">_clean</span>

<dl>
<dd>Bounds the specified value between 0 and 255.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>value</code> 
<em>(Number)</em>
- a color value</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Number)</em>

the bounded value
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.toHexTriplet"></a>
<span class="DetailPropertyName">toHexTriplet</span>

<dl>
<dd>Renders the RGB value as a hexadecimal triplet, e.g., #1a2b3c.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(String)</em>

the hex triplet
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.toString"></a>
<span class="DetailPropertyName">toString</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


