
<ul class="breadcrumb">
    <li>
    Echo.Client <span class="divider">/</span>
  </li>
    <li>
    WaitIndicator
  </li>
</ul>

<span class="badge badge-important">Abstract</span>

<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Client.WaitIndicator">Echo.Client.WaitIndicator</a></code>
</li>
</ul>
</dd>
</dl>

<dl>
<dt><strong>Direct Known Subclasses:</strong></dt>
<dd>
<code><a href="Class.Echo.Client.DefaultWaitIndicator">Echo.Client.DefaultWaitIndicator</a></code></dd>
</dl>



<p>Abstract base class for "Wait Indicators" which are displayed when the
application is not available (e.g., due to in-progress client/server
activity. A single wait indicator will be used by the application.</p>











<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
Virtual
</td>
<td><code><a class="PropertySummaryLink" href="#Field.dispose">dispose</a></code><br/>
Disposes of the wait indicator.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
Abstract
</td>
<td><code><a class="PropertySummaryLink" href="#Method.activate">activate(the)</a></code><br/>
Wait indicator activation method.
</td>
</tr>
<tr>
<td>
Public
Abstract
</td>
<td><code><a class="PropertySummaryLink" href="#Method.deactivate">deactivate(the)</a></code><br/>
Wait indicator deactivation method.
</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>






<div class="Header">Instance Method Detail</div>

<a name="Method.activate"></a>
<span class="DetailPropertyName">activate</span>

<dl>
<dd>Wait indicator activation method. Invoked when the wait indicator
should be activated. The implementation should add the wait indicator
to the DOM and begin any animation (if applicable).

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>the</code> 
<em>(<a href="Class.Echo.Client">Echo.Client</a>)</em>
- client</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.deactivate"></a>
<span class="DetailPropertyName">deactivate</span>

<dl>
<dd>Wait indicator deactivation method. Invoked when the wait indicator
should be deactivated. The implementation should remove the wait
indicator from the DOM, cancel any animations, and dispose of any
resources.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>the</code> 
<em>(<a href="Class.Echo.Client">Echo.Client</a>)</em>
- client</dd>
</dl>


</dd>
</dl>
<hr/>


