
<ul class="breadcrumb">
    <li>
    Echo <span class="divider">/</span>
  </li>
    <li>
    LayoutDirection
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.LayoutDirection">Echo.LayoutDirection</a></code>
</li>
</ul>
</dd>
</dl>




<p>Describes the layout direction of text and content to provide support 
for bidirectional localization.</p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Echo.LayoutDirection(ltr)</a></code><br/>
LayoutDirection property.
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._ltr">_ltr</a></code><br/>
Flag indicating whether layout direction is left-to-right.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.LTR">LTR</a></code><br/>
Global instance representing a left-to-right layout direction.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.RTL">RTL</a></code><br/>
Global instance representing a right-to-left layout direction.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.isLeftToRight">isLeftToRight()</a></code><br/>
Determines if the layout direction is left-to-right.
</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<div class="Header">Constructor Detail</div>

<span class="DetailPropertyName">Echo.LayoutDirection(ltr)</span>

<dl>
<dd>LayoutDirection property.  Do not instantiate, use LTR/RTL constants.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>ltr</code> 
<em>(Boolean)</em>
- true if the layout direction is left-to-right</dd>
</dl>
</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.isLeftToRight"></a>
<span class="DetailPropertyName">isLeftToRight</span>

<dl>
<dd>Determines if the layout direction is left-to-right.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Boolean)</em>

true if the layout direction is left-to-right
</dd>

</dl>

</dd>
</dl>
<hr/>


