
<ul class="breadcrumb">
    <li>
    Extras.Sync.AccordionPane <span class="divider">/</span>
  </li>
    <li>
    Tab
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Extras.Sync.AccordionPane.Tab">Extras.Sync.AccordionPane.Tab</a></code>
</li>
</ul>
</dd>
</dl>




<p>Representation of a single tab (child component) within the accordion pane.
Provides tab-specific rendering functionality.</p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.Sync.AccordionPane.Tab(childComponent, parent)</a></code><br/>
Creates a new Tab instance.
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.tabDiv">tabDiv</a></code><br/>
DIV element containing the tab header
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._parent">_parent</a></code><br/>
The AccordionPane synchronization peer.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.containerDiv">containerDiv</a></code><br/>
The content container DIV (contains content DIV).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.contentDiv">contentDiv</a></code><br/>
The content DIV (contains child component rendering).
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.childComponent">childComponent</a></code><br/>
The child component which will be rendered within the tab.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._addEventListeners">_addEventListeners()</a></code><br/>
Adds event listeners to the tab to handle click and mouse events.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.dispose">dispose()</a></code><br/>
Disposes of the tab, releasing any resources.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getContentInsets">getContentInsets()</a></code><br/>
Determine content inset margin.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processClick">_processClick(e)</a></code><br/>
Tab click handler.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processEnter">_processEnter(e)</a></code><br/>
Tab rollover enter handler.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processExit">_processExit(e)</a></code><br/>
Tab rollover exit handler.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.render">render(update)</a></code><br/>
Renders the tab.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderState">_renderState(rollover)</a></code><br/>
Renders the tab active or inactive, updating header state.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderDisplay">renderDisplay()</a></code><br/>
Tab-specific renderDisplay() tasks.
</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<div class="Header">Constructor Detail</div>

<span class="DetailPropertyName">Extras.Sync.AccordionPane.Tab(childComponent, parent)</span>

<dl>
<dd>Creates a new Tab instance.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>childComponent</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the child component which will be rendered within the tab</dd>
<dd>
<code>parent</code> 
<em>(<a href="Class.Extras.Sync.AccordionPane">Extras.Sync.AccordionPane</a>)</em>
- the AccordionPane synchronization peer</dd>
</dl>
</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method._addEventListeners"></a>
<span class="DetailPropertyName">_addEventListeners</span>

<dl>
<dd>Adds event listeners to the tab to handle click and mouse events.



</dd>
</dl>
<hr/>
<a name="Method.dispose"></a>
<span class="DetailPropertyName">dispose</span>

<dl>
<dd>Disposes of the tab, releasing any resources.



</dd>
</dl>
<hr/>
<a name="Method.getContentInsets"></a>
<span class="DetailPropertyName">getContentInsets</span>

<dl>
<dd>Determine content inset margin.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(#Insets)</em>

the content inset margin
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._processClick"></a>
<span class="DetailPropertyName">_processClick</span>

<dl>
<dd>Tab click handler.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the click event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processEnter"></a>
<span class="DetailPropertyName">_processEnter</span>

<dl>
<dd>Tab rollover enter handler.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the mouse event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processExit"></a>
<span class="DetailPropertyName">_processExit</span>

<dl>
<dd>Tab rollover exit handler.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the mouse event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.render"></a>
<span class="DetailPropertyName">render</span>

<dl>
<dd>Renders the tab.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>update</code> 
<em>(<a href="Class.Echo.Update.ComponentUpdate">Echo.Update.ComponentUpdate</a>)</em>
- the component update</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._renderState"></a>
<span class="DetailPropertyName">_renderState</span>

<dl>
<dd>Renders the tab active or inactive, updating header state.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>rollover</code> 
<em>(Boolean)</em>
- the rollover state of the tab, true for active, false for inactive</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.renderDisplay"></a>
<span class="DetailPropertyName">renderDisplay</span>

<dl>
<dd>Tab-specific renderDisplay() tasks.



</dd>
</dl>
<hr/>


