
<ul class="breadcrumb">
    <li>
    Extras.Sync.TabPane <span class="divider">/</span>
  </li>
    <li>
    Tab
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Extras.Sync.TabPane.Tab">Extras.Sync.TabPane.Tab</a></code>
</li>
</ul>
</dd>
</dl>




<p>Representation of a single tab (child component) within the tab pane.
Provides tab-specific rendering functionality, handles setting active state
on/off for an individual tab.</p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.Sync.TabPane.Tab(childComponent, parent)</a></code><br/>
Creates a new Tab instance.
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._active">_active</a></code><br/>
Active state of the tab (true indicating the tab is the active tab in its TabPane).
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._childComponent">_childComponent</a></code><br/>
The child component which will be rendered within the tab.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._fibContainer">_fibContainer</a></code><br/>
The FillImageBorder container component housing the tab, if in use.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._parent">_parent</a></code><br/>
The TabPane synchronization peer.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._headerDiv">_headerDiv</a></code><br/>
DIV element containing tab header (highest level element managed by Tab object in the header).
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._contentDiv">_contentDiv</a></code><br/>
The DIV element which will contain the rendered child component.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._closeIconTd">_closeIconTd</a></code><br/>
TD element containing close icon.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._tabCloseEnabled">_tabCloseEnabled</a></code><br/>
Flag indicating whether the tab may be closed.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._defaultZIndex">_defaultZIndex</a></code><br/>
The default set z-index of the tab.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._activeSurroundHeight">_activeSurroundHeight</a></code><br/>
The total height of the active tab border and insets, in pixels.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._inactiveSurroundHeight">_inactiveSurroundHeight</a></code><br/>
The total height of the inactive tab border and insets, in pixels.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._labelDiv">_labelDiv</a></code><br/>
The DIV containing the tab's label, i.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Field._textDiv">_textDiv</a></code><br/>
DIV containing the tab's text content.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.id">id</a></code><br/>
The tab identifier, i.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getCloseImage">_getCloseImage(rollover)</a></code><br/>
Retries the close image (either default or rollover).
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getContentInsets">_getContentInsets()</a></code><br/>
Determine content inset margin.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getProperty">_getProperty(name, active, rollover, focus)</a></code><br/>
Returns the style property which should be used for a given tab property.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._getSurroundHeight">_getSurroundHeight(active)</a></code><br/>
Determines the height of the border and insets surrounding the tab (supports both imageBorder and border properties).
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._loadProperties">_loadProperties()</a></code><br/>
Loads state information.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processClick">_processClick(e)</a></code><br/>
Tab click handler.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processCloseRollover">_processCloseRollover(e)</a></code><br/>
Tab close icon rollover enter/exit handler.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._processRollover">_processRollover(e)</a></code><br/>
Tab rollover enter/exit handler.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderAdd">_renderAdd(update)</a></code><br/>
Renders the tab.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderDisplay">_renderDisplay()</a></code><br/>
Tab-specific renderDisplay() tasks.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderDispose">_renderDispose()</a></code><br/>
Disposes of the tab, releasing any resources.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderHeader">_renderHeader(active)</a></code><br/>
Renders the tab header.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderHeaderState">_renderHeaderState(active, rollover, force)</a></code><br/>
Renders the appearance of the tab header active or inactive.
</td>
</tr>
<tr>
<td>
Internal
</td>
<td><code><a class="PropertySummaryLink" href="#Method._renderState">_renderState(active)</a></code><br/>
Renders the tab active or inactive, updating header state and showing/hiding tab content.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.setRollover">setRollover(rollover)</a></code><br/>
Sets the rollover state of the tab.
</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<div class="Header">Constructor Detail</div>

<span class="DetailPropertyName">Extras.Sync.TabPane.Tab(childComponent, parent)</span>

<dl>
<dd>Creates a new Tab instance.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>childComponent</code> 
<em>(<a href="Class.Echo.Component">Echo.Component</a>)</em>
- the child component which will be rendered within the tab</dd>
<dd>
<code>parent</code> 
<em>(<a href="Class.Extras.Sync.TabPane">Extras.Sync.TabPane</a>)</em>
- the TabPane synchronization peer</dd>
</dl>
</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method._getCloseImage"></a>
<span class="DetailPropertyName">_getCloseImage</span>

<dl>
<dd>Retries the close image (either default or rollover).

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>rollover</code> 
- flag indicating whether rollover (true) or default (false) image should be returned</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(#ImageReference)</em>

</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._getContentInsets"></a>
<span class="DetailPropertyName">_getContentInsets</span>

<dl>
<dd>Determine content inset margin.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(#Insets)</em>

the content inset margin
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._getProperty"></a>
<span class="DetailPropertyName">_getProperty</span>

<dl>
<dd>Returns the style property which should be used for a given tab property.
Queries layout data and component properties.
Queries rollover properties if applicable (and defaults to non-rollover property if unspecified).

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>name</code> 
<em>(String)</em>
- the name of the property, first letter capitalized, e.g., "Background"</dd>
<dd>
<code>active</code> 
<em>(Boolean)</em>
- the active state</dd>
<dd>
<code>rollover</code> 
<em>(Boolean)</em>
- the rollover state</dd>
<dd>
<code>focus</code> 
<em>(Boolean)</em>
- the focus state of the parent tab pane</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>

the property value
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._getSurroundHeight"></a>
<span class="DetailPropertyName">_getSurroundHeight</span>

<dl>
<dd>Determines the height of the border and insets surrounding the tab (supports both imageBorder and border properties).
Uses layout data information if provided.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>active</code> 
<em>(Boolean)</em>
- true to measure the active border, false for the inactive border</dd>
</dl>

<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Number)</em>

the combined top and bottom border height, in pixels
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method._loadProperties"></a>
<span class="DetailPropertyName">_loadProperties</span>

<dl>
<dd>Loads state information.



</dd>
</dl>
<hr/>
<a name="Method._processClick"></a>
<span class="DetailPropertyName">_processClick</span>

<dl>
<dd>Tab click handler.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the click event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processCloseRollover"></a>
<span class="DetailPropertyName">_processCloseRollover</span>

<dl>
<dd>Tab close icon rollover enter/exit handler.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the mouse event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._processRollover"></a>
<span class="DetailPropertyName">_processRollover</span>

<dl>
<dd>Tab rollover enter/exit handler.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>e</code> 
- the mouse event</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._renderAdd"></a>
<span class="DetailPropertyName">_renderAdd</span>

<dl>
<dd>Renders the tab.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>update</code> 
<em>(<a href="Class.Echo.Update.ComponentUpdate">Echo.Update.ComponentUpdate</a>)</em>
- the component update</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._renderDisplay"></a>
<span class="DetailPropertyName">_renderDisplay</span>

<dl>
<dd>Tab-specific renderDisplay() tasks.



</dd>
</dl>
<hr/>
<a name="Method._renderDispose"></a>
<span class="DetailPropertyName">_renderDispose</span>

<dl>
<dd>Disposes of the tab, releasing any resources.



</dd>
</dl>
<hr/>
<a name="Method._renderHeader"></a>
<span class="DetailPropertyName">_renderHeader</span>

<dl>
<dd>Renders the tab header.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>active</code> 
<em>(Boolean)</em>
- the active state of the tab</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._renderHeaderState"></a>
<span class="DetailPropertyName">_renderHeaderState</span>

<dl>
<dd>Renders the appearance of the tab header active or inactive.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>active</code> 
<em>(Boolean)</em>
- the active state of the tab, true for active, false for inactive</dd>
<dd>
<code>rollover</code> 
<em>(Boolean)</em>
- the rollover state of the tab, true for rolled over, false for not</dd>
<dd>
<code>force</code> 
<em>(Boolean)</em>
- force re-render of the tab, even if specified states are identical to rendered states
       (method may normally perform no action under such conditions)</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method._renderState"></a>
<span class="DetailPropertyName">_renderState</span>

<dl>
<dd>Renders the tab active or inactive, updating header state and showing/hiding tab content.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>active</code> 
<em>(Boolean)</em>
- the active state of the tab, true for active, false for inactive</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.setRollover"></a>
<span class="DetailPropertyName">setRollover</span>

<dl>
<dd>Sets the rollover state of the tab.
This is performed after a delay to avoid flickering.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>rollover</code> 
<em>(Boolean)</em>
- the desired rollover state</dd>
</dl>


</dd>
</dl>
<hr/>


