
<ul class="breadcrumb">
    <li>
    Extras <span class="divider">/</span>
  </li>
    <li>
    OptionModel
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Extras.ItemModel">Extras.ItemModel</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.OptionModel">Extras.OptionModel</a></code>
</li>
</ul>
</dd>
</dl>

<dl>
<dt><strong>Direct Known Subclasses:</strong></dt>
<dd>
<code><a href="Class.Extras.ToggleOptionModel">Extras.ToggleOptionModel</a></code></dd>
</dl>



<p>Representation of a menu option.</p>





<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Constructor Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a href="#Constructor">Extras.OptionModel(modelId, text, icon)</a></code><br/>
Creates a new menu option.
</td>
</tr>
</table>
<br/>






<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Field Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.text">text</a></code><br/>
The menu title.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Field.icon">icon</a></code><br/>
The menu icon.
</td>
</tr>
</table>
<br/>


<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Instance Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.getItemPositionPath">getItemPositionPath()</a></code><br/>
Returns an array containing the path of this model to its most distant ancestor, consisting of 
positions.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toString">toString()</a></code><br/>

</td>
</tr>
</table>
<br/>







<a name="Constructor"></a>

<div class="Header">Constructor Detail</div>

<span class="DetailPropertyName">Extras.OptionModel(modelId, text, icon)</span>

<dl>
<dd>Creates a new menu option.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>modelId</code> 
<em>(String)</em>
- the id of the menu model</dd>
<dd>
<code>text</code> 
<em>(String)</em>
- the menu item title</dd>
<dd>
<code>icon</code> 
<em>(#ImageReference)</em>
- the menu item icon</dd>
</dl>
</dd>
</dl>
<hr/>





<div class="Header">Instance Method Detail</div>

<a name="Method.getItemPositionPath"></a>
<span class="DetailPropertyName">getItemPositionPath</span>

<dl>
<dd>Returns an array containing the path of this model to its most distant ancestor, consisting of 
positions.


<dl>
<dt><strong>Returns:</strong></dt>
<dd>
<em>(Array)</em>

the array of positions
</dd>

</dl>

</dd>
</dl>
<hr/>
<a name="Method.toString"></a>
<span class="DetailPropertyName">toString</span>

<dl>
<dd>



</dd>
</dl>
<hr/>


