
<ul class="breadcrumb">
    <li>
    Echo.Sync <span class="divider">/</span>
  </li>
    <li>
    Font
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Sync.Font">Echo.Sync.Font</a></code>
</li>
</ul>
</dd>
</dl>




<p>Provides tools for rendering font properties.</p>









<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.render">render(font, element)</a></code><br/>
Renders a Font property to an element.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.renderClear">renderClear(font, element)</a></code><br/>
Renders a Font property to an element, clearing any previously set font first.
</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.render"></a>
<span class="DetailPropertyName">render</span>

<dl>
<dd>Renders a Font property to an element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>font</code> 
<em>(#Font)</em>
- the font</dd>
<dd>
<code>element</code> 
<em>(Element)</em>
- the target element</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.renderClear"></a>
<span class="DetailPropertyName">renderClear</span>

<dl>
<dd>Renders a Font property to an element, clearing any previously set font first.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>font</code> 
<em>(#Font)</em>
- the font</dd>
<dd>
<code>element</code> 
<em>(Element)</em>
- the target element</dd>
</dl>


</dd>
</dl>
<hr/>




