
<ul class="breadcrumb">
    <li>
    Extras.Serial <span class="divider">/</span>
  </li>
    <li>
    ItemModel
  </li>
</ul>


<dl>
<dt><strong>Class Hierarchy:</strong></dt>
<dd>
<ul style="padding-left: 0px">
<li style="margin-left: 0px">Object</li>
<li style="margin-left: 15px">
<code><a href="Class.Echo.Serial.PropertyTranslator">Echo.Serial.PropertyTranslator</a></code>
</li>
<li style="margin-left: 30px">
<code><a href="Class.Extras.Serial.ItemModel">Extras.Serial.ItemModel</a></code>
</li>
</ul>
</dd>
</dl>




<p>ItemModel PropertyTranslator singleton.  Not registered, but used by other translators.</p>









<table class="table">
<colgroup>
<col width="18%">
<col width="82%">
</colgroup>
<tr>
<th colspan="2">Class Method Summary</th>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.parseIcon">parseIcon(client, pElement)</a></code><br/>
Parses an icon contained in a menu model property element.
</td>
</tr>
<tr>
<td>
Public
</td>
<td><code><a class="PropertySummaryLink" href="#Method.toProperty">toProperty()</a></code><br/>

</td>
</tr>
</table>
<br/>











<a name="Constructor"></a>




<div class="Header">Class Method Detail</div>

<a name="Method.parseIcon"></a>
<span class="DetailPropertyName">parseIcon</span>

<dl>
<dd>Parses an icon contained in a menu model property element.

<dl>
<dt><strong>Parameters:</strong></dt>
<dd>
<code>client</code> 
<em>(<a href="Class.Echo.Client">Echo.Client</a>)</em>
- the client</dd>
<dd>
<code>pElement</code> 
<em>(Element)</em>
- the property "p" element</dd>
</dl>


</dd>
</dl>
<hr/>
<a name="Method.toProperty"></a>
<span class="DetailPropertyName">toProperty</span>

<dl>
<dd>



</dd>
</dl>
<hr/>




